<panel id="mainform" class="content" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div id="activityPopup" style="display:none;">
		<div class="shadow-popup"></div>
		<div class="wrap-popup">
			<div class="popup activityIndicatorWrap">
				<div class="activityIndicator"><div>&nbsp;</div></div>
				<div class="activityIndicatorLabel">Loading ...</div>
			</div>
		</div>
	</div>
	<div class="main_wrapper">
        <div class="content_control_wrapper">
            <div class="content_control">
                <div class="breadcrumb">
                    <p>
						<a href="<?=$basePath;?>/cases">Case Management</a> /
						<a href="<?=$basePath;?>/case/view?ID=<?=$caseID;?>"><?=$caseName;?></a> /
						<?php if( !$importToCase ): ?>
						<a href="<?=$basePath;?>/session/view?caseID=<?=$caseID;?>&depoID=<?=$sessionID;?>"><?=$sessionName;?></a> /
						<?php endif; ?>
						<?=$hname;?>
					</p>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <div class="content_header"><h2><?=$contentHeader;?></h2></div>
                <div class="import_content_block">
					<div id="datasources_box">
						<label class="p_b0  w_100" style="display: inline-block; text-align: right;">Datasource:</label>
						<div style="display: inline-block;"><customdropdownbox id="datasources" class="custom-select big-arrow" options="php::array('-1'=>'No Datasources')" style="width: 400px;" onchange="selectDatasource();" /></div>
						<div class="clear"></div>
					</div>
					<panel id="relativityTabs" class="relativity_content_block" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/import/relativity.html" />
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
<![CDATA[
	var activityTimeout;
	var selectedDocs = {};
	var _selectedDocs = {};
	var allSelected = false;
	var q = 0;
	var timeout_s = 66000;
	var _rememberMe;
	var maxSelected = 500;
	var maxSelectedError = 'Maximum selected documents exceeded, please import documents in batches of ' + maxSelected + ' or less.';
	var importCanceled = false;

	$( document ).ready( function() {
		//console.log( 'Ready!' );
		_rememberMe = ($('.remember_me input:hidden').val() === 'true');
	});

	function beginTimeout() {
		$('#activityPopup').show();
		activityTimeout = setTimeout( function(){ console.log( 'auto-hiding activity popup ...' ); $('#activityPopup').hide(); }, timeout_s );
	}

	function resetTimeout() {
		$('#activityPopup').hide();
		if( activityTimeout ) {
			clearTimeout( activityTimeout );
			activityTimeout = null;
		}
	}

	function selectDatasource() {
		ajax.doit( '->selectDatasource', ajax.getFormValues() );
	}

	function changeTab( tab, el ) {
		$( '.import_content_block li a.active' ).removeClass( 'active' );
		controls.addClass( el, 'active' );
		ajax.doit( '->openTab', tab );
	}

	function login() {
		beginTimeout();
		ajax.abort( '->login' );
		ajax.doit( '->login', ajax.getFormValues() );
	}

	function selectWorkspace() {
		beginTimeout();
		ajax.abort( '->selectWorkspace' );
		ajax.doit( '->selectWorkspace', ajax.getFormValues() );
	}

	function selectBinder() {
		beginTimeout();
		ajax.abort( '->selectBinder' );
		ajax.doit( '->selectBinder', ajax.getFormValues() );
	}

	function importToFolder() {
		if( ajax.getRequestCount( '->importToFolder' ) > 0 || ajax.getRequestCount( '->processImportQueue' ) > 0 ) { console.log( 'abort' ); return; }
		_selectedDocs = jQuery.extend({}, selectedDocs );
		if( Object.keys( _selectedDocs ).length === 0 ) {
			console.log( 'No documents selected' );
			return;
		}
		ajax.abort( '->importToFolder' );
		$('.import_activity').show();
		$('input.selected_docs').val( Object.keys( _selectedDocs ).join( ',' ) );
		for( var idx in _selectedDocs ) {
			if( _selectedDocs.hasOwnProperty( idx ) )
			{
				$('#statusCell_' + idx).html( '&nbsp;' );
			}
		}
		importCanceled = false;
		ajax.max(1).bind( function(r){ }, function(r){ console.log( 'importToFolder; error: ' + r ); ajax.hideLoader(); }, function(r){ ajax.hideLoader(); } ).doit( '->importToFolder', ajax.getFormValues() );
	}

	function cancelImport() {
		ajax.abort( '->importToFolder' );
		importCanceled = true;
	}

	function processQueueItem( id ) {
		//console.log( 'processQueueItem: ' + id );
		if( activityTimeout ) clearTimeout( activityTimeout );
		if( importCanceled ) {
			$('.import_activity').hide();
			$( '#statusCell_' + id ).html( 'Cancelled' );
			ajax.hideLoader();
			return;
		}
		activityTimeout = setTimeout( function(){ $('.import_activity').hide(); }, timeout_s );
		$( '#statusCell_' + id ).html( 'Downloading ...' );
		ajax.showLoader();
		ajax.bind( function(r){ }, function(r){ console.log( 'processQueueItem; error: ' + r ); ajax.hideLoader(); }, function(r){ ajax.hideLoader(); } ).doit( '->processImportQueue', id );
	}

	function selectAll() {
		if( !allSelected ) {
			//console.log( 'Select All' );
			var docs = $('#relativity_docs_table label.custom_checkbox');
			for( var i=0; i < docs.length; ++i ) {
				if( typeof docs[i] === 'function' ) continue;
				// ED-3683; removing max files import limit
//				if( Object.keys( selectedDocs ).length >= maxSelected ) {
//					$('#sbSelected').html( Object.keys( selectedDocs ).length );
//					alert( maxSelectedError );
//					return;
//				}
				var doc = docs[i];
				var id = doc.id.substr( 3 );
				$('#' + doc.id).removeClass( 'r_off' ).addClass( 'r_on' );
				selectedDocs[id] = id;
			}
			$('#chkAll').removeClass( 'r_off' ).addClass( 'r_on' );
			allSelected = true;
			$('#sbSelected').html( Object.keys( selectedDocs ).length );
		} else {
			//console.log( 'Unselect All' );
			selectedDocs = {};
			$('#relativity_docs_table label.custom_checkbox').removeClass( 'r_on' ).addClass( 'r_off' );
			$('#chkAll').removeClass( 'r_on' ).addClass( 'r_off' );
			allSelected = false;
			$('#sbSelected').html( Object.keys( selectedDocs ).length );
		}
	}

	function selectID( id ) {
		if( typeof selectedDocs[id] !== 'undefined' ) {
			//console.log( 'Unselect ID: ' + id );
			$('#chk' + id).removeClass( 'r_on' ).addClass( 'r_off' );
			delete selectedDocs[id];
			$('#chkAll').removeClass( 'r_on' ).addClass( 'r_off' );
			allSelected = false;
		} else {
			// ED-3683; removing max files import limit
			//console.log( 'Select ID: ' + id );
//			if( Object.keys( selectedDocs ).length >= maxSelected )
//			{
//				alert( maxSelectedError );
//				return;
//			}
			$('#chk' + id).removeClass( 'r_off' ).addClass( 'r_on' );
			selectedDocs[id] = id;
			if( Object.keys( selectedDocs ).length === $('#relativity_docs_table label.custom_checkbox').length )
			{
				$('#chkAll').removeClass( 'r_off' ).addClass( 'r_on' );
				allSelected = true;
			}
		}
		$('#sbSelected').html( Object.keys( selectedDocs ).length );
	}

	function rememberMe() {
		//console.log( _rememberMe + '/' + $('.remember_me input:hidden').val() );
		_rememberMe = !_rememberMe;
		if( _rememberMe )
		{
			$('#chkRememberMe').removeClass( 'r_off' ).addClass( 'r_on' );
		} else {
			$('#chkRememberMe').removeClass( 'r_on' ).addClass( 'r_off' );
		}
		$('.remember_me input:hidden').val( _rememberMe );
		//console.log( _rememberMe + '/' + $('.remember_me input:hidden').val() );
	}
]]>
</script>
</panel>
