<panel id="mainform" class="content" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<popup id="folderEditPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/folderEdit.html"></popup>
    <popup id="moveFilesPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/moveFiles.html"></popup>
    <popup id="uploadFilesPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/uploadFiles.html"></popup>
    <popup id="fileEditPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/fileEdit.html"></popup>
	<popup id="sendReporterNoticePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/sendReporterNotice.html"></popup>
	<popup id="sendWitnessInvitePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/sendWitnessInvite.html"></popup>
	<popup id="requestLiveTranscriptPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/requestLiveTranscript.html"></popup>
	<popup id="saveFilePopup" class="file_save_dialog_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/saveFile.html"></popup>
	<popup id="saveChangesPromptPopup" class="save_changes_prompt_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/saveChangesPrompt.html"></popup>
	<popup id="ConfirmFileOverwritePopup" class="file_overwrite_dialog_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/confirmFileOverwrite.html"></popup>
	<popup id="viewFilePopup" class="file_viewer_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewFile.html"></popup>
	<popup id="viewAudioPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewAudio.html"></popup>
	<popup id="viewVideoPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewVideo.html"></popup>
	<popup id="addPlaceholderPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/addPlaceholder.html"></popup>
	<popup id="exhibitLogPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/exhibitLog.html"></popup>
	<popup id="sortMenuPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/sortMenu.html"></popup>
	<popup id="noticeSavePopup" class="notice_save_popup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/subtleNotice.html"></popup>
	<popup id="searchCancelPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/searchCancel.html"></popup>

    <div class="main_wrapper">
        <div class="content_control_wrapper">
            <div class="content_control">
                <div class="breadcrumb">
                    <p><a href="<?=$basePath;?>/cases">Case Management</a> / <a href="<?=$basePath;?>/case/view?ID=<?=$caseID;?>"><?=$cname;?></a> / <?=$hname;?></p>
                </div>
                <div class="sessionView_option_block">
					<?php if($showSessionMenu && ($isAdmin || $isManager || $isDemoAdmin || $isDepoOwner || $isDepoAssist)): ?>
					<menubutton id="session_btn_menu" label="Session Options" class="menubtn sessionOptions"></menubutton>
					<?php endif; ?>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <div class="sessionView_content_block">
					<div class="session_block">
						<div class="deposition_info_wrapper sessionView">
							<div class="deposition_info sessionView">
								<panel id="depoInfoPanel">
									<table class="view_details_table" style="float:left">
										<tr>
											<th width="225">Name</th>
											<?php if( in_array( $class, ['Deposition','Demo'] ) ): ?>
											<th width="60">Volume</th>
											<?php endif; ?>
											<th width="225">Case</th>
											<th width="165">Type</th>
											<th width="95">Date</th>
											<th width="90" style="padding-right:10px">Status</th>
										</tr>
										<tr>
											<? $statusMap = array('N' => 'Scheduled', 'I'=>'Active', 'F'=>'Completed');
											$typeMap = array('Deposition'=>'Deposition', 'Demo'=>'Demo Deposition', 'WitnessPrep'=>'Witness Prep', 'WPDemo'=>'Demo Witness Prep', 'Trial'=>'Trial', 'Demo Trial'=>'Demo Trial',
												'Trial Binder'=>'Trial Binder', 'Arbitration'=>'Arbitration', 'Mediation'=>'Mediation', 'Hearing'=>'Hearing'); ?>
											<td><div style="width:225px"><?=$depositionOf?></div></td>
											<?php if( in_array( $class, ['Deposition','Demo'] ) ): ?>
											<td><div style="width:60px"><?=$volume?></div></td>
											<?php endif; ?>
											<td><div style="width:225px"><?=$cname?></div></td>
											<td><div style="width:165px"><?=$typeMap[$class]?></div></td>
											<td><div style="width:95px"><?=date_format(date_create($openDateTime), 'm/d/Y')?></div></td>
											<td style="padding-right:10px"><div style="width:90px;"><?=$statusMap[$statusID]?></div></td>
										</tr>
									</table>
								</panel>
							</div>
						</div>
						<div id="file_mgmt">
							<div id="file_mgmt_disable" onclick="searchShadowHandler();"></div>
							<div class="folders_block file_mgmt_block">
								<div class="btn_bar">
									<div class="sessionView_table_header" id="folders_legend">Folders (0)</div>
									<div class="folder_mgmt_buttons">
									
									<!--
										<a id="importBtn" class="file_mgmt_btn small <?=$hasDatasources ? 'active' : '';?>" href="javascript:;" onclick="<?=$hasDatasources ? 'importToSession()' : '';?>">
											<span>Add Import</span>
										</a>
									
									-->
										<?php if( !$isCourtClient || $isTrialBinder ): ?>
										<a id="addFolderBtn" class="file_mgmt_btn small active" href="javascript:;" onclick="editFolder(0)">
											<span>Add Folder</span>
										</a>
										<?php endif; ?>
									</div>
								</div>
								<div class="col_header sort_header">
									<panel id="folderSortPanel">
										<div id="folderSortBy" class="sortBy f_l" onclick="showSortMenu('Folders')"><?=$folderSortBy?></div>
										<div id="folderSortOrder" class="sortOrder f_l <?=$folderSortOrder ? $folderSortOrder : '';?>" onclick="toggleSortOrder( 'Folders' )"></div>
										<div class="clear"></div>
									</panel>
									<a id="finishFoldersSortEditBtn" class="file_mgmt_btn done_btn active" href="javascript:;" onclick="finishCustomSortEdit('Folders', 1)">
										<span>Done</span>
									</a>
								</div>
								<div class="file_mgmt_table">
									<panel id="folder_panel">
										<table id="fileMgmtFolderList" class="folder_list innerTable">
												<? if( $folderList ): ?>
												<? foreach( $folderList as $idx => $folderInfo ): ?>
												<tr id="folder_<?=(int)$folderInfo['ID'];?>" class="clickable sortable<?=isset( $folderInfo['caseFolder'] ) && $folderInfo['caseFolder'] ? ' list_cf' : '';?>" onclick="selectFolder(<?=$folderInfo['ID'];?>)" draggable="true" data-id="<?=(int)$folderInfo['ID'];?>">
													<td class="dragBox"><div class="handle"></div></td>
													<td>
														<?php if( isset( $folderInfo['caseFolder'] ) && $folderInfo['caseFolder'] ): ?>
														<a id="cf_<?=(int)$folderInfo['ID'];?>" class="custom_checkbox2 checkAll <?=(isset( $folderInfo['linked'] ) && $folderInfo['linked'] ? 'checked' : '' );?>" onclick="linkCaseFolder(event, <?=$folderInfo['ID'];?>);"></a>
														<?php else: ?>
														&nbsp;
														<?php endif; ?>
													</td>
													<td class="col1"><div class="to_e"><?=$folderInfo['name'];?></div></td>
													<? if( $folderInfo['canRename'] ): ?>
													<td class="col2 rename active" onclick="editFolder(<?=(int)$folderInfo['ID'];?>);">Rename</td>
													<? else: ?>
													<td class="col2" >&nbsp;</td>
													<? endif; ?>
												</tr>
												<? endforeach; ?>
												<? endif; ?>
										</table>
									</panel>
								</div>
								<div id="folderListFooter" class="col_footer">
									<div class="option_btns">
										<div id="downloadFolderBtn"><span onclick="downloadFolder();">Download</span></div>
										<div id="copyFolderBtn"><span onclick="showMoveFolder(1);">Copy</span></div>
										<div id="moveFolderBtn"><span onclick="showMoveFolder(0);">Move</span></div>
										<div id="deleteFolderBtn"><span class="fc_light_red" onclick="deleteFolder();">Delete</span></div>
									</div>
								</div>
							</div>
							<div class="files_block file_mgmt_block">
								<div class="btn_bar">
									<div class="sessionView_table_header" id="documents_legend">Documents (0)</div>
									<div class="file_mgmt_buttons">
										<?php if( !$isCourtClient ): ?>
										<a id="addPlaceholderBtn" class="file_mgmt_btn long <?= $disableUpload ? '' : 'active';?>" href="javascript:;" onclick="<?= $disableUpload ? '' : 'showAddPlaceholderPopup()';?>">
											<span>Add Placeholder</span>
										</a>
										<?php endif; ?>
										<a id="addDocsBtn" class="file_mgmt_btn long" href="javascript:;">
											<span>Add Documents</span>
										</a>
									</div>
									<div class="doc_search_container">
										<div class="search_icon" onclick="startSearch()"></div>
										<div class="search_bar_container">
											<textbox id="searchDocs"></textbox>
											<a id="clearSearchBarBtn" href="javascript:;" onclick="clearSearch()"></a>
											<div id="searchDone" class="file_mgmt_btn active" onclick="doneSearchHandler(event)">Done</div>
											<a id="configSearchBtn" title="Configure your search options" href="javascript:;" onclick="searchConfigHandler()"></a>
											<div id="searchConfigPopup">
												<div id="searchConfigPointer"></div>
												<div id="searchConfigPointerFill"></div>
												<div class="searchConfigBox">
													<div class="cs_option_row" onclick="toggleSearchOption('all');">
														<a id="flagAllDocsSearch" class="custom_radio r_on"></a> All Documents
													</div>
													<div class="cs_option_row" onclick="toggleSearchOption('folder');">
														<a id="flagFolderSearch" class="custom_radio"></a> In Folder: <span id="searchConfigFolder"></span>
													</div>
												</div>
												<div class="searchConfigBox">
													<div class="cs_option_row" onclick="toggleSearchOption('content');">
														<a id="flagContentSearch" class="custom_checkbox r_on"></a> Document Content
													</div>
													<div class="cs_option_row" onclick="toggleSearchOption('filename');">
														<a id="flagFilenameSearch" class="custom_checkbox"></a> Document Name
													</div>
												</div>
												<div id="searchOptionsDone" class="file_mgmt_btn active" onclick="applySearchOptions();">Apply</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col_header sort_header">
									<div class="checkAllDiv f_l"><a id="checkAllFiles" class="custom_checkbox2 checkAll" onclick="checkAllFiles();"></a></div>
									<panel id="fileSortPanel" class="f_l" style="width:80px">
										<div id="fileSortBy" class="sortBy f_l" onclick="showSortMenu('Files')"><?=$fileSortBy?></div>
										<div id="fileSortOrder" class="sortOrder f_l <?=$fileSortOrder ? $fileSortOrder : '';?>" onclick="toggleSortOrder( 'Files' )"></div>
										<div class="clear"></div>
									</panel>
									<div class="sizeContainer f_l"><div class="contentSearchLabel f_r">Size</div></div>
									<div class="folderContainer f_l"><div class="contentSearchLabel f_l">Folder</div></div>
									<div class="rankContainer f_l"><div class="contentSearchLabel f_l">Rank</div></div>
									<a id="finishFilesSortEditBtn" class="file_mgmt_btn done_btn active" href="javascript:;" onclick="finishCustomSortEdit('Files', 1)">
										<span>Done</span>
									</a>
								</div>
								<div class="file_mgmt_table">
									<panel id="file_panel">
										<table id="fileMgmtFileList" class="file_list innerTable">
											<? if ($fileList): ?>
											<? foreach ($fileList as $idx => $fileInfo): ?>
											<tr id="file_<?=$fileInfo['ID']?>" class="clickable sortable" onclick="checkFile('<?=$fileInfo['ID'];?>');" draggable="true" data-id="<?=$fileInfo['ID']?>">
												<td class="col1">
													<a id="checkBox_<?=$fileInfo['ID']?>" class="custom_checkbox2"></a>
													<div class="handle"></div>
												</td>
												<td class="col2"><div class="to_e col2"><?=$fileInfo['name'];?></div></td>
												<td class="col3"><div class="f_r m_r30"><?=$fileInfo['size'];?></div></td>
												<? if ($isContentSearch): ?>
													<td class="csCol4"><div class="to_e csCol4"><?=$fileInfo['folder'];?></div></td>
													<td class="csCol5"><div class="f_r csCol5"><?=$fileInfo['rank'];?></div></td>
													<td class="csCol6">&nbsp;</td>
													<td class="view active" onclick="viewFile(<?=$fileInfo['ID'];?>, event); return false;"><div class="col4">View</div></td>
												<? else: ?>
													<? if ($fileInfo['canRename']): ?>
													<td class="col4A view active" onclick="viewFile(<?=$fileInfo['ID'];?>, event); return false;"><div class="col4">View</div></td>
													<td class="rename active" onclick="editFile(<?=$fileInfo['ID'];?>);">Rename</td>
													<? else: ?>
													<td class="col4B">&nbsp;</td>
													<td class="view active" onclick="viewFile(<?=$fileInfo['ID'];?>, event); return false;"><div class="col4">View</div></td>
													<? endif; ?>
												<? endif; ?>
											</tr>
											<? endforeach; ?>
											<? endif; ?>
										</table>
									</panel>
								</div>
								<div id="fileListFooter" class="col_footer">
									<div id="seledtedFilesCount" class="selectedCount">Selected (0)</div>
									<panel id="fileOptionBtns" class="option_btns">
										<div id="downloadFileBtn"><span class="active" onclick="getSelectedFiles(downloadSelectedFiles);">Download</span></div>
										<div id="copyFileBtn"><span onclick="getSelectedFiles(showCopyFiles);">Copy</span></div>
										<div id="moveFileBtn"><span onclick="getSelectedFiles(showMoveFiles);">Move</span></div>
										<div id="deleteFileBtn"><span class="fc_light_red" onclick="getSelectedFiles(deleteSelectedFiles);">Delete</span></div>
									</panel>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
		</div>
    </div>
<script type="text/javascript">
<![CDATA[
	$(document).ready( function() {
		var firstFolderID = $('#fileMgmtFolderList tr:first').attr('data-id');
		if (firstFolderID) {
			selectFolder(parseInt(firstFolderID));
		} else {
			fillFileList();
		}
		updateFolderCount();
		fillFolderList();
		updateSearchOptions();
	});

	$( window ).resize(function() {
		if (sortMenuVisible) {
			positionSortMenu();
		}
	});

	var selectedFolderID;
	var minListLength = 18;
	var uploadFileIDs = null;
	var uploadAction = null;
	var uploadOpts = {folderID : null, copy : null};
	var uploadFileIndex = 0;
	var concurrentUploads = 0;
	var concurrentUploadMax = 1;
	var checkBoxSubStr = 9;
	var selectedFilesCount = 0;
	var sortMenuVisible = false;
	var sortMenuTarget = null;
	var sortList = '';
	var customSortList = null;
	var customSortingList = null;
	var downloadFolderBtn = $('#downloadFolderBtn span');
	var copyFolderBtn = $('#copyFolderBtn span');
	var moveFolderBtn = $('#moveFolderBtn span');
	var deleteFolderBtn = $('#deleteFolderBtn span');
	var downloadFileBtn = $('#downloadFileBtn span');
	var copyFileBtn = $('#copyFileBtn span');
	var moveFileBtn = $('#moveFileBtn span');
	var deleteFileBtn = $('#deleteFileBtn span');
	var addFolderBtn = $('#addFolderBtn');
	var importBtn = $('#importBtn');
	var addDocsBtn = $('#addDocsBtn');
	var addPlaceholderBtn = $('#addPlaceholderBtn');
	var fileRows = [];
	var fileRowsToShow = [];
	var searchText = '';
	var filterFunction;
	var contentSearchTerms;
	var searchCancelled = false;
	var searchXhr;

	var searchOptions = {
		"folderID": false,
		"searchContent": true,
		"includeFilename": false,
		"searchTerms": false
	};
	var oldSearchOptions = {};

	function selectFolder(id) {
		if (customSortingList) {
			return;
		}

		selectedFolderID = id ? id : $('#fileMgmtFolderList tr:first').attr('data-id');
		$('#searchConfigFolder').html( $('#folder_' + selectedFolderID + ' .col1 .to_e').html() );
		ajax.doitSync('->selectFolder', selectedFolderID);
		$('#fileMgmtFolderList tr').removeClass( 'selected' );
		$('#folder_' + selectedFolderID).addClass( 'selected' );
		$('#checkAllFiles').removeClass( 'checked' );
	}

	function highlightFolder() {
		$('#folder_' + selectedFolderID).addClass( 'selected' );
	}

	function updateFileMgmtActions(canDownloadFolder, canCopyFolder, canMoveFolder, canDeleteFolder, canDownloadFiles, canCopyFiles, canMoveFiles, canDeleteFiles, canAddFolder, canImport, canAddDocs, canAddPlaceholder) {
		if (canDownloadFolder) {
			if (!downloadFolderBtn.hasClass('active')) {
				downloadFolderBtn.addClass('active');
				downloadFolderBtn.click( function(){ downloadFolder(); } );
			}
		} else {
			downloadFolderBtn.removeClass('active');
			downloadFolderBtn.prop('onclick',null).off('click');
		}
		if (canCopyFolder) {
			if (!copyFolderBtn.hasClass('active')) {
				copyFolderBtn.addClass('active');
				copyFolderBtn.click( function(){ showMoveFolder(1); } );
			}
		} else {
			copyFolderBtn.removeClass('active');
			copyFolderBtn.prop('onclick',null).off('click');
		}
		if (canMoveFolder) {
			if (!moveFolderBtn.hasClass('active')) {
				moveFolderBtn.addClass('active');
				moveFolderBtn.click( function(){ showMoveFolder(0); } );
			}
		} else {
			moveFolderBtn.removeClass('active');
			moveFolderBtn.prop('onclick',null).off('click');
		}
		if (canDeleteFolder) {
			if (!deleteFolderBtn.hasClass('active')) {
				deleteFolderBtn.addClass('active');
				deleteFolderBtn.click( function(){ deleteFolder(0); } );
			}
		} else {
			deleteFolderBtn.removeClass('active');
			deleteFolderBtn.prop('onclick',null).off('click');
		}
		if (canDownloadFiles) {
			if (!downloadFileBtn.hasClass('active')) {
				downloadFileBtn.addClass('active');
				downloadFileBtn.click( function(){ getSelectedFiles(downloadSelectedFiles); } );
			}
		} else {
			downloadFileBtn.removeClass('active');
			downloadFileBtn.prop('onclick',null).off('click');
		}
		if (canCopyFiles) {
			if (!copyFileBtn.hasClass('active')) {
				copyFileBtn.addClass('active');
				copyFileBtn.click( function(){ getSelectedFiles(showCopyFiles); } );
			}
		} else {
			copyFileBtn.removeClass('active');
			copyFileBtn.prop('onclick',null).off('click');
		}
		if (canMoveFiles) {
			if (!moveFileBtn.hasClass('active')) {
				moveFileBtn.addClass('active');
				moveFileBtn.click( function(){ getSelectedFiles(showMoveFiles); } );
			}
		} else {
			moveFileBtn.removeClass('active');
			moveFileBtn.prop('onclick',null).off('click');
		}
		if (canDeleteFiles) {
			if (!deleteFileBtn.hasClass('active')) {
				deleteFileBtn.addClass('active');
				deleteFileBtn.click( function(){ getSelectedFiles(deleteSelectedFiles); } );
			}
		} else {
			deleteFileBtn.removeClass('active');
			deleteFileBtn.prop('onclick',null).off('click');
		}
		if (canAddFolder) {
			if (!addFolderBtn.hasClass('active')) {
				addFolderBtn.addClass('active');
				addFolderBtn.click( function(){ editFolder(0); } );
			}
		} else {
			addFolderBtn.removeClass('active');
			addFolderBtn.prop('onclick',null).off('click');
		}
		if (canImport) {
			if (!importBtn.hasClass('active')) {
				importBtn.addClass('active');
				importBtn.click( function(){ importToSession(); } );
			}
		} else {
			importBtn.removeClass('active');
			importBtn.prop('onclick',null).off('click');
		}
		if (canAddDocs) {
			if (!addDocsBtn.hasClass('active')) {
				addDocsBtn.addClass('active');
				addDocsBtn.click( function(){ showUploadFiles(); } );
			}
		} else {
			addDocsBtn.removeClass('active');
			addDocsBtn.prop('onclick',null).off('click');
		}
		if (canAddPlaceholder) {
			if (!addPlaceholderBtn.hasClass('active')) {
				addPlaceholderBtn.addClass('active');
				addPlaceholderBtn.click( function(){ showAddPlaceholderPopup(); } );
			}
		} else {
			addPlaceholderBtn.removeClass('active');
			addPlaceholderBtn.prop('onclick',null).off('click');
		}
	}

	function updateFolderCount() {
		var tdClass = '';
		var listLength = $('#fileMgmtFolderList tr').length;
		$('#folders_legend').text( 'Folders (' + listLength + ')' );
	}

	function fillFolderList() {
		var listLength = $('#fileMgmtFolderList tr').length;
		if (listLength < minListLength) {
			var folderList = $('#fileMgmtFolderList');
			var tdClass = '';
			for ( var i = (minListLength - listLength); i > 0; --i ) {
				folderList.append( '<tr><td></td><td></td><td class="col1">&nbsp</td><td class="col2">&nbsp</td></tr>' );
			}
		}
	}

	function updateFileCount() {
		var listLength = $('#fileMgmtFileList tr').length;
		$('#documents_legend').text( 'Documents (' + listLength + ')' );
	}

	function fillFileList( contentSearch ) {
		if( typeof( contentSearch ) === 'undefined' ){
			contentSearch = false;
		}
		var listLength = $('#fileMgmtFileList tr').length;
		if( listLength < minListLength ) {
			var fileList = $('#fileMgmtFileList');
			var tdClass = '';
			var tableRow = '';
			if ( contentSearch ) {
				tableRow = '<tr class="blankRow"><td class="col1">&nbsp</td><td class="col2">&nbsp</td><td class="col3">&nbsp</td><td class="csCol4">&nbsp</td><td class="csCol5">&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>';
			} else {
				tableRow = '<tr class="blankRow"><td class="col1">&nbsp</td><td class="col2">&nbsp</td><td class="col3">&nbsp</td><td class="col4">&nbsp</td><td>&nbsp</td></tr>';
			}
			for ( var i = (minListLength - listLength); i > 0; --i ) {
				fileList.append( tableRow );
			}
		}
	}

	function checkFile( id ) {
		var checkBox = $('#checkBox_' + id);
		if (checkBox.hasClass( 'checked' ) ) {
			checkBox.removeClass( 'checked' );
			$('#seledtedFilesCount').text('Selected (' + --selectedFilesCount + ')');
			if (selectedFilesCount < $('#fileMgmtFileList tr.clickable').length) {
				$('#checkAllFiles').removeClass( 'checked' );
			}
		} else {
			checkBox.addClass( 'checked' );
			$('#seledtedFilesCount').text('Selected (' + ++selectedFilesCount + ')');
			if (selectedFilesCount == $('#fileMgmtFileList tr.clickable').length) {
				$('#checkAllFiles').addClass( 'checked' );
			}
		}
	}

	function checkAllFiles() {
		var filesCount = $('#fileMgmtFileList tr.clickable').length;

		if ($('#checkAllFiles').hasClass( 'checked' )) {
			$('.files_block .custom_checkbox2').each(function() {
				$(this).removeClass( 'checked' );
			});
			updateSelectedFilesCount(0);
		} else {
			$('.files_block .custom_checkbox2').each(function() {
				$(this).addClass( 'checked' );
			});
			updateSelectedFilesCount(filesCount);
		}
	}

	function editFolder(id) {
		if (customSortingList) {
			return;
		}

		ajax.doitSync('->showEditFolder', id);
		controls.display('<?=ID('folderEditPopup.valFolderUniq')?>','none');
		controls.focus('<?=ID('folderEditPopup.folderName')?>');
	}

	function saveFolder(id) {
		if (validators.validate('folder', 'error', '') ) {
			ajax.doit('->saveFolder', id);
		}
	}

	function downloadFolder() {
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		ajax.doit('->downloadFolder', selectedFolderID);
	}

	function showMoveFolder(isCopy) {
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		showMoveItem(selectedFolderID, isCopy, 0);
	}

	function moveFolder( id, copy ) {
		if ($('#<?=ID('btnCopy')?>').hasClass( 'inactive' )) {
			return;
		}

		var depo = $('#<?=ID('depoList')?>');
		if (depo.length < 1 || !depo.val()) {
			$('#<?=ID('errormsg')?>').text = '** Please choose a deposition **';
			return;
		}

		var depositionID = depo.val();

		$('#list_<?=ID('caseList')?>').css( 'visibility', 'hidden' );
		$('#list_<?=ID('depoList')?>').css( 'visibility', 'hidden' );
		$('#list_<?=ID('folderList')?>').css( 'visibility', 'hidden' );
		$('#<?=ID('btnCopy')?>').addClass( 'inactive' );

		if (copy) {
			// create a new folder in the selected deposition and then execute copyFolderFiles()
			ajax.doit( '->copyFolder', id, depositionID );
		} else {
			// reassign existing folder reference. no new folders or files created.
			ajax.doitSync( '->moveFolder', id, depositionID );
			ajax.doit( '->moveFilesFinalize', id, false );
		}
	}

	function deleteFolder(confirm) {
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		if ( confirm ) {
			ajax.doit('->deleteFolder', selectedFolderID);
		} else {
			ajax.doit('->confirmDeleteFolder', selectedFolderID);
		}
	}

	function viewFile(id, event) {
		if( typeof event !== 'undefined' && typeof event.stopPropagation === 'function' ) {
			event.stopPropagation();
			event.cancelBubble = true;
			if (window.event) {
				window.event.stopPropagation();
				window.event.cancelBubble = true;
			}
		}

		if (customSortingList) {
			return;
		}

		window.top.sourceFileID = id;
		ajax.doit('->viewFile', id);
	}

	function editFile(id) {
		if( typeof event !== 'undefined' && typeof event.stopPropagation === 'function' ) {
			event.stopPropagation();
			event.cancelBubble = true;
			if (window.event) {
				window.event.stopPropagation();
				window.event.cancelBubble = true;
			}
		}

		if (customSortingList) {
			return;
		}

		console.log(arguments);
		ajax.doitSync('->showEditFile', id);
		controls.display('<?=ID('fileEditPopup.valFileUniq')?>','none');
	}

	function saveFile(id) {
		if (validators.validate('file', 'error', '')) {
			ajax.doit('->saveFile', id);
		}
	}

	function downloadFile(id) {
		ajax.doit('->downloadFile', id);
	}

	function deleteFile(id, confirm) {
		if ( confirm ) {
			ajax.doit('->deleteFile', id);
		} else {
			ajax.doit('->confirmDeleteFile', id);
		}
	}

	function downloadSelectedFiles(ids) {
		if (ids.length > 1) {
			ajax.doit('->downloadSelectedFiles', ids);
		} else {
			ajax.doit('->downloadFile', ids[0]);
		}
	}

	function showMoveItem(ids, isCopy, isFile) {
		$('#actionProgress').attr( 'value', 0 );

		ajax.doit('->showMoveItem', ids, isCopy, isFile);
	}

	function moveFiles( ids, copy ) {
		if ($('#<?=ID('btnCopy')?>').hasClass( 'inactive' )) {
			return;
		}

		var folder = $('#<?=ID('folderList')?>');
		if (folder.length < 1 || !folder.val()) {
			$('#<?=ID('errormsg')?>').text = '** Please choose a folder **';
			return;
		}

		flushFileMove();

		$('#list_<?=ID('caseList')?>').css( 'visibility', 'hidden' );
		$('#list_<?=ID('depoList')?>').css( 'visibility', 'hidden' );
		$('#list_<?=ID('folderList')?>').css( 'visibility', 'hidden' );
		$('#<?=ID('btnCopy')?>').addClass( 'inactive' );

		uploadFileIDs = ids.split( ',' );

		// console.log( 'Updating progress indicator max-value to '+fileIDs.length );
		$('#actionProgress').attr( 'max', uploadFileIDs.length ).show();

		uploadAction = '->moveFile';
		uploadFileIndex = 0;
		uploadOpts.folderID = folder.val();
		uploadOpts.copy = copy;
		var session = $('#<?=ID('depoList')?>');
		var sessionID = session.val();
		ajax.bind( function(){
			ajax.doit( '->notifyMovedFiles', selectedFolderID, sessionID );
		}, function(){}, function() {} ).doit( '->prepareMoveFiles', {
			"fileIDs": uploadFileIDs,
			"sessionID": sessionID,
			"folderID": uploadOpts.folderID,
			"copy":!!copy
		} );
	}

	function closeFileMovePopup() {
		flushFileMove();
		ajax.doit( '->closePopup', 'moveFilesPopup' );
	}

	function flushFileMove() {
		uploadFileIDs = null;
		uploadAction = null;
		uploadOpts.folderID = null;
		uploadOpts.copy = null;
		uploadFileIndex = 0;
		concurrentUploads = 0;
	}

	function copyFolderFiles( folderID, fileIDs ) {
		flushFileMove();

		uploadFileIDs = fileIDs.split( ',' );

		// console.log( 'Updating progress indicator max-value to '+ids.length );
		$('#actionProgress').attr( 'max', uploadFileIDs.length ).show();

		uploadAction = '->copyFolderFile';
		uploadIndex = 0;
		uploadOpts.folderID = folderID;
		fileMove();
	}

	function fileMove() {
		// don't do anything unless an action and fileID set have been defined
		if (uploadAction === null || uploadFileIDs === null || uploadFileIDs.length < 1) {
			return;
		}

		// once all files have been uploaded close the process down and reset
		if (parseInt( $('#actionProgress').val() ) >= parseInt( $('#actionProgress').attr( 'max' ) )) {
			var folderID = uploadOpts.folderID;
			var refreshFilesList = (uploadAction === '->moveFile' && uploadOpts.copy == 0);
			flushFileMove();
			ajax.doit( '->moveFilesFinalize', folderID, refreshFilesList );
			return;
		}

		var fileUploadID = uploadFileIDs[uploadFileIndex++];
		var opts = (uploadAction === '->copyFolderFile') ? [uploadOpts.folderID, fileUploadID] : [fileUploadID, uploadOpts.folderID, uploadOpts.copy];
		ajaxAction( uploadAction, opts );

		if (++concurrentUploads < concurrentUploadMax && uploadFileIndex < uploadFileIDs.length) {
			return fileMove();
		}
	}

	function showCopyFiles(ids) {
		showMoveItem(ids, 1, 1);
	}

	function showMoveFiles(ids) {
		showMoveItem(ids, 0, 1);
	}

	function showUploadFiles() {
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		ajax.doit('->showUploadFiles', selectedFolderID);
	}

	function importToSession() {
		ajax.doitSync( "->importToSession" );
	}

	function showAddPlaceholderPopup()
	{
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		ajax.doit( '->showAddPlaceholder', selectedFolderID );
	}

	function addPlaceholder()
	{
		ajax.doitSync( '->addPlaceholder', ajax.getFormValues() );
	}

	function showRequestLiveTranscript() {
		ajax.doitSync( '->showRequestLiveTranscript' );
		controls.focus('<?=ID('requestLiveTranscriptPopup.reporterEmail');?>');
	}

	function sendRequestLiveTranscript( depositionID )
	{
		ajax.doit( '->sendRequestLiveTranscript', depositionID );
	}

	function showWitnessInvite() {
		ajax.doitSync( '->showWitnessInvite' );
		controls.focus('<?=ID('sendWitnessInvitePopup.witnessEmail')?>');
	}

	function deleteDepo(id, confirm) {
		if ( confirm ) {
			ajax.doit('->deleteDepo', id);
		} else {
			ajax.doit('->confirmDeleteDepo', id);
		}
	}

	function resetDemoSession(depositionID, confirm) {
		if ( confirm ) {
			ajax.doit('->resetDemoSession', depositionID);
		} else {
			ajax.doit('->confirmResetDemo', depositionID);
		}
	}

	function ajaxAction( func, opts ) {
		$.ajax( {
			url : document.URL,
			type : 'POST',
			data : {
				ajaxkey : document.body.id,
				ajaxfunc : func,
				ajaxargs : prepareAjaxParams( opts )
			}
		} ).done( function( r ) {
			$('#actionProgress').val( $('#actionProgress').val()+1 );
			concurrentUploads--;
			fileMove();
		} );
	}

	function prepareAjaxParams( opts ) {
		var data = [[], []];
		data[0][document.body.id] = [];
		var i=1;
		for (var o in opts) {
			data[1][i++] = opts[o];
		}
		return JSON.stringify( ajax.convertToObject( data ) );
	}

	function closePopup(id) {
		ajax.doit( '->closePopup', id );
	}

	function unaction(){}

	function actionFolder(){
		var cid = '<?=ID('folderEditPopup.folderName');?>';
		action(cid);
	}

	function actionFile(){
		var cid = '<?=ID('fileEditPopup.fileName');?>';
		action(cid);
	}

	function action(cid){
		if (typeof cid == 'undefined') cid = '<?= ID('step3.email'); ?>';
		validators.results = new Array();
		validators.results[cid] = false;
		setInputsClassOfValidators();
	}

	function setInputsClassOfValidators(){
		for (cid in validators.results){
			el = controls.$(cid);
			if (!(el)) continue;
			if (!validators.results[cid]) {
				controls.addClass(el,'error');
			}
		}
	}

	function updateSelectedFilesCount(count) {
		selectedFilesCount = count;
		$('#seledtedFilesCount').text('Selected (' + selectedFilesCount + ')');
	}

	function getSelectedFiles( functionCall ) {
		var fileIds = new Array();
		$('#fileMgmtFileList .custom_checkbox2.checked').each(function() {
			fileIds.push($(this).attr('id').substring(checkBoxSubStr));
		});

		if (fileIds.length > 0) {
			functionCall( ''+fileIds.join(',') );
		} else {
			ajax.doit('->showNoFilesSelectedNotice');
		}
	}

	function deleteSelectedFiles(ids) {
		deleteFile(ids);
	}

	function showSortMenu(list) {
		var folderSortBy = $('#folderSortBy');
		var fileSortBy = $('#fileSortBy');
		var sortBy;
		sortList = list;
		sortMenuVisible = true;

		if (list == 'Folders') {
			sortMenuTarget = folderSortBy[0];
			sortBy = folderSortBy.text();
		} else {
			sortMenuTarget = fileSortBy[0];
			sortBy = fileSortBy.text();
		}
		$('#sortMenu li').each(function() {
			if ($(this).children("span").text() == sortBy) {
				$(this).children(":first").addClass('selected');
			} else {
				$(this).children(":first").removeClass('selected');
			}
		});

		$('#sortContents').parent().toggle();
		positionSortMenu();
	}

	function positionSortMenu() {
		var sortMenu = $('#sortMenu ul');
		var sortMarker = $('.sortMarker');
		var tRect = sortMenuTarget.getBoundingClientRect();
		var mHeight = sortMenu.outerHeight();
		var mmHeight = sortMarker.height();
		var scrollTop = $(window).scrollTop();
		var sortMenuTop = Math.round( tRect.top + (tRect.height /2) - (mHeight / 2) + scrollTop);
		var sortMenuLeft = Math.round( tRect.left + tRect.width + 20);
		var sortMarkerTop = Math.round( tRect.top+ (tRect.height /2) - (mmHeight / 2) + scrollTop);
		var sortMarkerLeft = Math.round( tRect.left + tRect.width) - 1;

		sortMenu.offset( {top: sortMenuTop, left: sortMenuLeft } );
		sortMarker.offset( {top: sortMarkerTop, left: sortMarkerLeft } );
	}

	function clearSortMenuValues() {
		sortMenuVisible = false;
		sortMenuTarget = null;
	}

	// if not using shadow popup for sortMenu, make this mouseup close sortMenu
//	$(document).mouseup( function(e){
//		var menuBtnID = $(e.target).parent().parent().parent().attr('id');
//		var container = $(menuBtnID);
//		if( !container.is(e.target) && container.has(e.target).length === 0) menubutton.hide();
//	} );

	function changeSortBy( sortBy ) {
		if( sortList == 'Folders' ) {
			if( sortBy == $('#folderSortBy').text() ) {
				return;
			}
		} else if( sortList == 'Files' ) {
			if( sortBy == $('#fileSortBy').text() ) {
				return;
			}
		}

		ajax.doitSync( '->changeSort', sortList, sortBy, selectedFolderID );
	}

	function toggleSortOrder( sortObject ) {
		ajax.doit( '->toggleSortOrder', sortObject );
	}

	function compareRows( index ) {
		return function( rowA, rowB ) {
			var valA = $( rowA ).children( 'td' ).eq( index ).text();
			var valB = $( rowB ).children( 'td' ).eq( index ).text();
			return $.isNumeric( valA ) && $.isNumeric( valB ) ? valA - valB : valA.localeCompare( valB );
		};
	}

	function startCustomSortEdit(event) {
		if( typeof event !== 'undefined' && typeof event.stopPropagation === 'function' ) {
			event.stopPropagation();
			event.cancelBubble = true;
			if (window.event) {
				window.event.stopPropagation();
				window.event.cancelBubble = true;
			}
		}

		var toggleActions = true;
		if (customSortingList == sortList) {
			return;
		} else if (customSortingList != null && customSortingList != sortList) {
			toggleActions = false;
			finishCustomSortEdit(customSortingList, toggleActions);
		}

		customSortingList = sortList;

		if (sortList == 'Folders') {
			if ( $('#folderSortBy').text() != 'Custom' ) {
				ajax.doitSync('->changeSort', sortList, 'Custom', 'Asc', selectedFolderID);
				updateSortHeader(sortList, 'Custom', 'Asc');
			}
			customSortList = $('#fileMgmtFolderList tbody');

			$('.folders_block').addClass('custom_edit');
			$('.files_block').removeClass('custom_edit');
		} else if (sortList == 'Files') {
			if ( $('#fileSortBy').text() != 'Custom' ) {
				ajax.doitSync('->changeSort', sortList, 'Custom', 'Asc', selectedFolderID);
				updateSortHeader(sortList, 'Custom', 'Asc');
			}
			customSortList = $('#fileMgmtFileList tbody');

			$('.files_block').addClass('custom_edit');
			$('.folders_block').removeClass('custom_edit');
		}

		var options = {
			items: '.sortable',
			containment: 'parent',
			helper: 'clone',
			tolerance: 'pointer',
			start: function( event, ui ) { ui.helper.first().css('background-color', 'lightblue'); },
			placeholder: {
				element: function(currentItem) {
					return $('<div style="width:0px; height:22px;"></div>')[0];
				},
				update: function(container, p) {
					return;
				}
			}
		};

		customSortList.sortable( options );
		if (toggleActions) {
			toggleFileMgmtActions(1);
		}
	}

	function finishCustomSortEdit(list, toggleActions) {
		customSortingList = null;

		if( customSortList === null ) {
			return;
		}

		if (list == 'Folders') {
			$('.folders_block').removeClass('custom_edit');
		} else if (list == 'Files') {
			$('.files_block').removeClass('custom_edit');
		} else if (list == 'All') {
			$('.folders_block').removeClass('custom_edit');
			$('.files_block').removeClass('custom_edit');
		}

		if( customSortList.hasClass( 'ui-sortable' ) ) {
			saveCustomSort(list);
			customSortList.sortable( 'destroy' );
		}

		customSortList = null;

		if (toggleActions) {
			toggleFileMgmtActions(0);
		}
	}

	function saveCustomSort(list) {
		var sortPositions = customSortList.sortable( 'toArray', {"attribute":"data-id"} );

		ajax.doit('->setCustomSort', list, sortPositions);
	}

	function updateSortHeader(list, sortBy, sortOrder) {
		var sortByDiv;
		var sortOrderDiv;

		if (list == 'Folders') {
			sortByDiv = $('#folderSortBy');
			sortOrderDiv = $('#folderSortOrder');
		} else if (list == 'Files') {
			sortByDiv = $('#fileSortBy');
			sortOrderDiv = $('#fileSortOrder');
		}

		sortByDiv.text(sortBy);
		if (sortBy == 'Custom') {
			sortOrderDiv.removeClass('Asc');
			sortOrderDiv.removeClass('Desc');
		} else {
			remove = (sortOrder == 'Desc') ? 'Asc' : 'Desc';

			sortOrderDiv.addClass(sortOrder);
			sortOrderDiv.removeClass(remove);
		}
	}

	function toggleFileMgmtActions(disableBtns) {
		if (disableBtns) {
			$('.rename').removeClass('active');
			updateFileMgmtActions(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
		} else {
			$('.rename').addClass('active');
			var numFiles = $('#fileMgmtFileList tr.clickable').length;
			ajax.doit('->updateFileMgmtActions', selectedFolderID, numFiles);
		}
	}

	function startSearch() {
		$('.doc_search_container').addClass('active');
		$('.file_mgmt_buttons, .folder_mgmt_buttons').hide();
		$('.doc_search_container input').focus();
	}

	function stopSearch() {
		$('.doc_search_container').removeClass('active');
		$('.file_mgmt_buttons, .folder_mgmt_buttons').show();
		$('#searchConfigPopup, #file_mgmt_disable').hide();
		hideSearchResults();
		$('input[name="searchDocs"]').val('');
		$('#clearSearchBarBtn').hide();
		$('#searchDone').text('Done');
		contentSearchTerms = null;
		selectFolder( selectedFolderID );
	}

	function doneSearchHandler(event) {
		if( $(event.target).text() === 'Done' ) {
			stopSearch();
		} else {
			initiateSearch();
		}
	}

	function searchShadowHandler() {
		if( $('#searchConfigPopup').is(':visible') ) {
			applySearchOptions();
		}
	}

	function searchConfigHandler() {
		if( $('#searchConfigPopup').is(':visible') ) {
			applySearchOptions();
		} else {
			$('#searchConfigPopup, #file_mgmt_disable').show();
			indexSearchOptions();
		}
	}

	function applySearchOptions() {
		$('#searchConfigPopup, #file_mgmt_disable').hide();
		if( $('#file_mgmt').hasClass('contentSearch') && searchOptionsDidChange() ) {
			initiateSearch();
		}
	}

	function toggleSearchOption( option ) {
		switch( option ) {
			case 'all':
				if( !$( '#flagAllDocsSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagAllDocsSearch' ).addClass( 'r_on' );
					$( '#flagFolderSearch' ).removeClass( 'r_on' );
					searchOptions.folderID = false;
				} else {
					searchOptions.folderID = selectedFolderID;
				}
				break;
			case 'folder':
				if( !$( '#flagFolderSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagFolderSearch' ).addClass( 'r_on' );
					$( '#flagAllDocsSearch' ).removeClass( 'r_on' );
					searchOptions.folderID = selectedFolderID;
				} else {
					searchOptions.folderID = false;
				}
				break;
			case 'content':
				if( !$( '#flagContentSearch' ).hasClass( 'r_on' ) || !$( '#flagFilenameSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagContentSearch' ).addClass( 'r_on' );
					searchOptions.searchContent = true;
					break;
				} else {
					searchOptions.searchContent = false;
				}
				$( '#flagContentSearch' ).removeClass( 'r_on' );
				break;
			case 'filename':
				if( !$( '#flagFilenameSearch' ).hasClass( 'r_on' ) ) {
					$( '#flagFilenameSearch' ).addClass( 'r_on' );
					searchOptions.includeFilename = true;
					break;
				} else {
					if( !$( '#flagContentSearch' ).hasClass( 'r_on' ) ) {
						$( '#flagContentSearch' ).addClass( 'r_on' );
						searchOptions.searchContent = true;
					}
					searchOptions.includeFilename = false;
				}
				$( '#flagFilenameSearch' ).removeClass( 'r_on' );
				break;
			default:
				return;
		}
		ajax.doit("->storeSearchOptions", searchOptions);
	}

	function indexSearchOptions() {
		oldSearchOptions = {
			"folderID": searchOptions.folderID,
			"searchContent": searchOptions.searchContent,
			"includeFilename": searchOptions.includeFilename
		};
	}

	function searchOptionsDidChange() {
		if( oldSearchOptions.folderID !== searchOptions.folderID || oldSearchOptions.searchContent !== searchOptions.searchContent || oldSearchOptions.includeFilename !== searchOptions.includeFilename ) {
			return true;
		}
		return false;
	}

	function setSearchText( newSearchText ) {
		searchText = newSearchText;
	};

	$('.search_bar_container input').keyup(function(e) {
		var text = $(this).val();

		if( ( e.keyCode || e.which ) == 13 ) {
			if( text.length !== 0 ) {
				setSearchText( text );
				initiateSearch();
			}
		} else {
			if( text.length === 0 ) {
				$('#clearSearchBarBtn').hide();
				$('#searchDone').text('Done');
			} else {
				$('#clearSearchBarBtn').show();
				$('#searchDone').text('Search');
			}
		}
	});

	function clearSearch() {
		$('input[name="searchDocs"]').val('').focus();
		$('#clearSearchBarBtn').hide();
		$('#searchDone').text('Done');
	}

	function linkCaseFolder( event, folderID ) {
		if( typeof event === "undefined" )  {
			event = window.event;
		}
		if( typeof event === "object" ) {
			event.returnValue = false;
			if( typeof event.stopPropagation === "function" ) {
				event.stopPropagation();
			}
			if( typeof event.preventDefault === "function" ) {
				event.preventDefault();
			}
		}
		ajax.doit( "->linkCaseFolder", folderID );
	}

	function initiateSearch() {
		searchCancelled = false;
		ajax.doit( '->showSearchCancel' );
	}

	function preventSearchDisplay() {
		searchCancelled = true;
		stopSearch();
		popup.hide('searchCancelPopup');
		ajax.abort( searchXhr );
	}

	function doSearch() {
		searchOptions.searchTerms = searchText;
		searchXhr = ajax.doit( "->search", searchOptions );
	}

	function showSearchResults() {
		$('input[name="searchDocs"]').val(searchText);
		if( searchCancelled ) {
			return;
		}
		$('#searchConfigPopup, #file_mgmt_disable').hide();
		$('#file_mgmt').addClass('contentSearch');
		updateFileCount();
		$('#searchDone').text('Done');
		highlightSearchTerms();
		popup.hide('searchCancelPopup');
	}

	function highlightSearchTerms() {
		if( !!searchOptions.includeFilename ) {
			var context = document.querySelectorAll('#fileMgmtFileList .col2');
			var instance = new Mark(context);
			instance.mark(contentSearchTerms, {"accuracy": "partially", "separateWordSearch": true});
		}
	}

	function hideSearchResults() {
		$('#file_mgmt').removeClass('contentSearch');
	}

	function updateSearchOptions() {
		ajax.bind( function(){}, function(){}, function() {
			var options = ajax.result;
			if( options.sessionOptions !== null && options.sessionOptions.folderID ) {
				$('#flagAllDocsSearch').removeClass( 'r_on' );
				$('#flagFolderSearch').addClass( 'r_on' );
				searchOptions.folderID = selectedFolderID;
			} else {
				$('#flagAllDocsSearch').addClass( 'r_on' );
				$('#flagFolderSearch').removeClass( 'r_on' );
				searchOptions.folderID = false;
			}
			if( options.searchContent === null || options.includeFilename === null || (!options.searchContent && !options.includeFilename) ) { // set to default state
				$('#flagContentSearch').addClass( 'r_on' );
				$('#flagFilenameSearch').removeClass( 'r_on' );
				searchOptions.searchContent = true;
				searchOptions.includeFilename = false;

				return;
			}
			if( options.searchContent ) {
				$('#flagContentSearch').addClass( 'r_on' );
				searchOptions.searchContent = true;
			} else {
				$('#flagContentSearch').removeClass( 'r_on' );
				searchOptions.searchContent = false;
			}
			if( options.includeFilename ) {
				$('#flagFilenameSearch').addClass( 'r_on' );
				searchOptions.includeFilename = true;
			} else {
				$('#flagFilenameSearch').removeClass( 'r_on' );
				searchOptions.includeFilename = false;
			}
		} ).doit( "->getSearchOptions" );
	}

]]></script>
</panel>