<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main">
		<div class="content_header">
			<h2>Case Management</h2>
			<div class="option_block">
				<? if( $isClientAdmin ): ?>
				<a href="<?=$url;?>/case/add" class="btn_blue option_btn">
					<span class="btn_blue_r">Add New Case</span>
				</a>
				<? endif; ?>
			</div>
		</div>
		<div class="content m_t20">
			<widgetcourtcases id="cases"></widgetcourtcases>
		</div>
	</div>
</panel>
