<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<popup id="viewFilePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewFile.html"></popup>
	<popup id="viewAudioPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewAudio.html"></popup>
	<popup id="viewVideoPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewVideo.html"></popup>
	<popup id="exhibitLogPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/exhibitLog.html"></popup>
    <div class="main">
		<div class="content">
            <div class="breadcrumb">
				<p><a href="<?=$url?>/cases">Case Management</a> / <?=$scrumName?></p>
			</div>
			<div class="clear"></div>
			<div class="content_header">
				<h2>Case <?=$caseNumber?>: <?=$headerName?></h2>
				<div class="option_block">
					<? if( $isAdmin || $isCaseMgr ): ?>
					<menubutton id="add_btn_menu" label="Add Session" class="menubtn addSession"></menubutton>
                    <? endif; ?>
					<? if( $isCourtReporter || $isCaseMgr || $isAdmin ): ?>
					<menubutton id="case_btn_menu" label="Case Options" class="menubtn caseOptions"></menubutton>
                    <? endif; ?>
				</div>
			</div>
			<div class="content m_t20">
				<widgetcourtcaseview id="caseView"></widgetcourtcaseview>
			</div>
		</div>
    </div>
<script type="text/javascript"><![CDATA[
function viewFile(id) {
	ajax.doit('->viewFile', id);
}
]]></script>
</panel>
