<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
    <div class="main">
        <div class="content_header">
            <h2><?=$headName;?></h2>
            <div class="option_block" style="padding-top: 17px;">
				<div style="float:left;padding-top:2px;margin-right:20px;">
					<div class="search_wrapper" style="padding-right:0;">
						<div class="search_input">
							<textbox id="searchText" style="height: 25px;width:210px;padding:1px 0 0 23px;font-size:14px;line-height:14px;" onkeypress="clickSearch(event);" />
						</div>
						<input class="search_btn" type="button" name="go" value="Go" onclick="searchValue();"/>
					</div>
				</div>
                <?php if( $isAdmin ): ?>
                <a href="/admin/reseller/add" class="btn_blue option_btn">
                    <span class="btn_blue_r">Add Reseller</span>
                </a>
                <?php else: ?>
				<a href="/<?=$url;?>/client/add" class="btn_blue option_btn p_r10">
					<span class="btn_blue_r">Add Client</span>
				</a>
				<a href="/<?=$url;?>/enterprise/add" class="btn_blue option_btn">
					<span class="btn_blue_r">Add Enterprise</span>
				</a>
				<?php endif; ?>
            </div>
        </div>
        <div class="clear"></div>
        <widgetclients id="clients" />
    </div>

<script type="text/javascript">
<![CDATA[
clientCallback = '<?=$class;?>@<?=$uniqueID;?>';

function clickSearch( e )
{
	if( (e || event).keyCode === 13 ) {
		searchValue();
	}
}

function searchValue()
{
	ajax.doit( '->search' );
}
]]>
</script>
   
</panel>
