<div class="client_settings">

	<validatorrequired id="valFieldsUS" groups="countryUS" controls="step1.state,step1.ZIP" client="1" class="error2"/>
	<validatorrequired id="valFieldsCA" groups="countryCA" controls="step1.province,step1.postCode" client="1" class="error2"/>
	<validatorrequired id="valFieldsOT" groups="countryOT" controls="step1.region,step1.postCode" client="1" class="error2"/>

	<h3 class="p_l40">Client Settings</h3>
	<div class="row custom_radio_box p_t28 w_220">
		<hidden id="deactivated" value="0"/>
		<label id="lblActivated" class="custom_radio <?=$deactivated ? '':'r_on' ?>" style="margin-right:20px;" onclick="setDeactivated('0')">Active</label>
		<label id="lblDeactivated" class="custom_radio <?=$deactivated ? 'r_on':'' ?>" style="margin-right:20px;" onclick="setDeactivated('1')">Deactivated</label>
	</div>
	<div class="row w_220">
		<label>eDepoze Sales Representative</label>
		<textbox id="salesRep" class="w_220" maxlength="255"/>
	</div>
	<div class="row w_220">
		<label>Location</label>
		<textbox id="location" class="w_220" maxlength="255"/>
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label><?=$typeName?> Name*</label>
		<textbox id="name" class="w_220" maxlength="255"/>
	</div>
	<div class="row w_125">
		<label>Start Date*</label>
		<datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block w_220" classButton="btn_calendar"/>
		<validatordate id="valDate" groups="step1" controls="startDate" hiding="1" client="1" class="error2" text="Date format is invalid"/>
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label><br />Primary Contact (Name)*</label>
		<textbox id="contactName" class="w_220" maxlength="255"/>
	</div>
	<div class="row w_220">
		<label><br />Primary Contact (Email)*</label>
		<textbox id="contactEmail" class="w_220" maxlength="255"/>
		<validatoremail id="valContactEmail" tag="div" class="error2" groups="step1" client="1" controls="step1.contactEmail" text="** Email format is incorrect. **"/>
	</div>
	<div class="row w_220">
		<label>Primary Contact (Phone)* <br/> <span class="subLabel">(eg. 1234567890, 555-555-5555)</span></label>
		<textbox id="contactPhone" class="w_220" maxlength="40"/>
		<validatorphone id="valPhone" tag="div" class="error2" groups="step1" client="1" controls="step1.contactPhone" text="** Phone format is incorrect. **"/>
	</div>
	<div class="clear"></div>
	<div class="row">
		<label>Country*</label>
		<dropdownbox id="countryCode" class="w_229 countryToggler" onchange="toggleCountry()" />
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label>Address*</label>
		<textbox id="address1" class="w_220" maxlength="255"/>
	</div>
	<div class="row w_220">
		<label>&nbsp;</label>
		<textbox id="address2" class="w_220" maxlength="255"/>
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label>City*</label>
		<textbox id="city" class="w_220" maxlength="255"/>
	</div>
	<div class="row usaAddress">
		<label>States*</label>
		<dropdownbox id="state" style="width:75px;"/>
	</div>
	<div class="row canadaAddress">
		<label>Province*</label>
		<dropdownbox id="province" style="width:75px;"/>
	</div>
	<div class="row otherAddress">
		<label>Region*</label>
		<textbox id="region" class="w_125"/>
	</div>
	<div class="row p_l20 usaAddress">
		<label>ZIP*</label>
		<textbox id="ZIP" class="w_125" onkeyup="this.value = this.value.replace(/[^\d]/g, '');" maxlength="10"/>
	</div>
	<div class="row p_l20 otherAddress canadaAddress">
		<label>Postal Code*</label>
		<textbox id="postCode" class="w_125" maxlength="10"/>
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label>Comments</label>
		<memo id="comments" class="w_478"></memo>
	</div>
	<div class="clear"></div>
</div>
