<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="breadcrumb">
			<p><a href="<?=$cancelLink;?>">Court Clients</a></p>
		</div>
		<div class="option_block">
			<? if( !$isEdit ): ?>
			<a href="<?=$cancelLink;?>" class="btn_gray m_r20"><span class="btn_gray_r">Cancel</span></a>
			<a id="btnToStep2" href="javascript:;" onclick="toStep2(false);" class="btn_blue"><span class="btn_blue_r">Next</span></a>
			<a id="btnToStep1" style="display:none;" href="javascript:;" onclick="toStep1();" class="btn_dark_gray m_r20"><span class="btn_dark_gray_r">Back</span></a>
			<a id="btnSave" style="display:none;" href="javascript:;" onclick="save(0);" class="btn_blue"><span class="btn_blue_r">Save</span></a>
			<? else: ?>
			<a id="btnDelete" href="javascript:;" class="btn_red" onclick="deleteAccount(0);"><span class="btn_red_r">Delete</span></a>
			<a href="<?=$cancelLink?>" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
			<a href="javascript:;" onclick="save(1);" class="btn_blue"><span class="btn_blue_r">Save</span></a>
			<? endif; ?>
		</div>
	</div>
</div>
<div class="main">
	<div class="content">
		<div class="content_header">
			<h2><?=$headName?></h2>
			<? if( $isAccountLocked ): ?>
			<div class="unlock-acct">
				<a href="javascript:;" onclick="ajax.doit('->unlock');" class="better-button"><span>Unlock Account</span></a>
			</div>
			<? endif; ?>
		</div>
		<p class="auth_title error" style="display:none;">
			<validatorrequired id="valFields" groups="step1" client="1" controls="step1.name,step1.startDate,step1.contactName,step1.address1,step1.contactPhone,step1.contactEmail,step1.countryCode" text=""/>
			<validatorrequired id="valFields2" groups="step2" client="1" controls="step2.email,step2.username" text=""/>
		</p>
		<? if( !$isEdit ): ?>
		<div class="newaccount_body content_block m_t20" style="padding: 0 0 20px 0;">
			<ul id="tabContainer" class="add_client_step step1">
				<li id="tab1" class="active">Basic Information</li>
				<li id="tab2">Admin Setup</li>
			</ul>
		<? else: ?>
		<div class="myaccount_info">
			<div class="head_part">
				<ul class="myaccount_option">
					<li><a id="tab1" class="active" href="javascript:;" onclick="changeTab(1,1);">Basic Information</a></li>
					<li><a id="tab2" href="javascript:;" onclick="changeTab(1,2);">Login Credentials</a></li>
				</ul>
			</div>
			<div class="myaccount_body content_block p_l0">
		<? endif; ?>
				<panel id="step1" style="display:none;" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/clients/courtclientStep1.html"/>
				<panel id="step2" style="display:none;" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/clients/courtclientStep2.html"/>
		 <? if( !$isEdit ): ?>
			</div>
		<? else : ?>
			</div>
		</div>
		<? endif; ?>
	</div>
</div>
<div class="content_control_wrapper content_control_bottom">
	<div class="content_control">
		<div class="option_block">
			<? if( !$isEdit ): ?>
			<a href="<?=$cancelLink?>" class="btn_gray m_r20"><span class="btn_gray_r">Cancel</span></a>
			<a id="bbtnToStep1" style="display:none;" href="javascript:;" onclick="toStep1();" class="btn_dark_gray m_r20"><span class="btn_dark_gray_r">Back</span></a>
			<a id="bbtnToStep2" href="javascript:;" onclick="toStep2(false);" class="btn_blue"><span class="btn_blue_r">Next</span></a>
			<a id="bbtnSave" style="display:none;" href="javascript:;" onclick="save(0);" class="btn_blue"><span class="btn_blue_r">Save</span></a>
			<? else: ?>
			<a id="bbtnDelete" href="javascript:;" class="btn_red" onclick="deleteAccount(0);"><span class="btn_red_r">Delete</span></a>
			<a href="<?=$cancelLink?>" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
			<a href="javascript:;" onclick="save(1);" class="btn_blue"><span class="btn_blue_r">Save</span></a>
			<? endif; ?>
		</div>
	</div>
</div>
<script type="text/javascript">
<![CDATA[
$( document ).ready( function() {
	controls.display( "<?= ID( 'step1' ); ?>", "" );
} );

function setDeactivated( val ) {
	var hid = controls.$( "<?=ID('deactivated');?>" );
	hid.value = val;
	controls.removeClass( 'lblActivated', 'r_on' );
	controls.removeClass( 'lblDeactivated', 'r_on' );
	if( val == '0' ) {
		controls.addClass( 'lblActivated','r_on' );
	} else {
		controls.addClass( 'lblDeactivated','r_on' );
	}
}

function toStep1() {
	ajax.doitSync( '->toStep1', ajax.getFormValues() );
}

function toStep2( isBack ) {
	if( !!isBack ) {
		ajax.doitSync( '->toStep2', ajax.getFormValues(), isBack );
	} else {
		clearInputsClass();
		flag = validators.validate( 'step1,countryUS,countryCA,countryOT', 'error', '' );
		if( flag ) {
			ajax.doitSync( '->toStep2', ajax.getFormValues(), isBack );
		}
	}
}

var btnLock = false;
function save( mode ) {
	var flag;
	clearInputsClass();
	if( mode == 0 ) {
		cid = "<?= ID( 'step2.password' ); ?>";
		var flag2 = controls.$(cid).value != '';
		var flag1 = validators.validate( 'step1,countryUS,countryCA,countryOT', 'error', '' ) && validators.validate( 'step2', 'error', '' );
		flag = flag1 && flag2;
		if( !flag2 ) {
			controls.display( 'valFieldPassword', '' );
			controls.addClass( cid, 'error' );
		}
	} else {
		var flagStep1 = validators.validate( 'step1,countryUS,countryCA,countryOT', 'error', '' );
		var flagStep2 = validators.validate( 'step2', 'error', '' );
		flag = flagStep1 && flagStep2;
		if( !flag ) {
			var selTab;
			if( !flagStep1 ) {
				changeTab( mode, 1 );
			} else if( !flagStep2 ) {
				changeTab( mode, 2 );
			}
		}
	}
	setInputsClassOfValidators();
	if( !btnLock && flag ) {
		if( $("#<?=ID( 'step2.password' )?>" ).val().length >= 1 ) {
			$("#<?=ID( 'step2.passauth' )?>" ).val( sha1( $("#<?=ID( 'step2.password' )?>" ).val() ) );
			$("#<?=ID( 'step2.password' )?>" ).val( sha1( $("#<?=ID( 'step2.password' )?>" ).val() ) );
		}
		if( $("#<?=ID( 'step2.confirmPassword' )?>" ).val().length >= 1 ) {
			$("#<?=ID( 'step2.confirmPassword' )?>" ).val( sha1( $( "#<?=ID( 'step2.confirmPassword' )?>" ).val() ) );
		}
		btnLock = true;
		ajax.doit( '->save' );
		$("#<?=ID( 'step2.password' )?>" ).val( '' );
		$("#<?=ID( 'step2.confirmPassword' )?>" ).val( '' );
	}
}

   // mode: 0-add, 1-edit
   function changeTab(mode, step)
   {
      var curstep;
       if (controls.hasClass('tab1','active')) curstep = 1; //'step1';
       else if (controls.hasClass('tab2','active')) curstep = 2; //'step2';
	   if (mode == 0 && curstep < step && !validators.validate( 'step'+curstep, 'error', '', true )) {
			return false;
	   }

       controls.removeClass('tab1','active');
       controls.removeClass('tab2','active');
       controls.addClass('tab'+step,'active');

       if (mode != 0){
		   ajax.doitSync('->openTab',step);
	   } else {
           controls.removeClass('tabContainer','step1');
           controls.removeClass('tabContainer','step2');
           controls.addClass('tabContainer','step'+step);

           controls.display('btnToStep1','none');
           controls.display('btnToStep2','none');
           controls.display('btnSave','none');

           controls.display('bbtnToStep1','none');
           controls.display('bbtnToStep2','none');
           controls.display('bbtnSave','none');

           switch (step){
           case 1:
               controls.display('btnToStep2','');
               controls.display('bbtnToStep2','');
               break;
           case 2:
			   controls.display('btnToStep1','');
               controls.display('btnSave','');
               controls.display('bbtnToStep1','');
               controls.display('bbtnSave','');
               break;
           }
       }
   }

   function actionUrl(){
       var cid = '<?=ID('step1.URL');?>';
       action(cid);
   }

   function action(cid){
       if (typeof cid == 'undefined') cid = '<?= ID('step2.username'); ?>';
       validators.results = new Array();
       validators.results[cid] = false;
       setInputsClassOfValidators();
   }

   function unaction() {};

   function setInputsClassOfValidators(){
       for (cid in validators.results){
           el = controls.$(cid);
           if (!(el)) continue;
           if (!validators.results[cid]) {
                controls.addClass(el,'error');
           }
       }
   }

   function clearInputsClass(){
        if (controls.$('valFieldPassword') != null)
            controls.display('valFieldPassword','none');
        var el = controls.$('<?= ID('step2.password'); ?>');
        if (el != 'undefined' && el != null && el.className != 'null'){
           controls.removeClass(el, 'error');
        }

        for(vid in validators.validators){
            if (typeof validators.validators[vid] != 'object') continue;
            for(cid in validators.validators[vid].cids)
            {
                if (!(el = controls.$(validators.validators[vid].cids[cid]))) continue;
                if (el == 'undefined' || el == null ) continue;
                if (controls.hasClass(el, 'error'))
                    controls.removeClass(el, 'error');
            }
        }
   }

   function deleteAccount(confirm) {
       if ( confirm ) {
           ajax.doit('->deleteAccount');
       } else {
           ajax.doit('->confirmDeleteAccount');
       }
	}

      function chooseTextColor(value) {
         controls.$('textDemo').style.color = value;
      }

	function validatePasswordCriteria( ctrls, mode )
	{
		var flag = false;
		var ctrlPwd = controls.$( ctrls[0] );
		flag = (ctrlPwd.value.length === 0);
		if( flag ) {
			validators.results[ctrls[0]] = flag;
			return flag;
		}
		flag = (ctrlPwd.value.length >= 8);
		var l = new RegExp( '[a-z]+' ).test( ctrlPwd.value );
		var u = new RegExp( '[A-Z]+' ).test( ctrlPwd.value );
		var d = new RegExp( '[0-9]+' ).test( ctrlPwd.value );
		var s = new RegExp( '[!@#$%&*_\\-+=|<>(){}\\[\\],.:;]+' ).test( ctrlPwd.value );
		var t = (l + u + d + s >= 3);
		flag &= t;
		validators.results[ctrls[0]] = flag;
		return flag;
	}

	$( document ).ready(function() {
		toggleCountry();
	});

]]>
</script>
</panel>
