<em class="block_title">Setup login credentials</em>
<div class="row w_229">
	 <label>First Name*</label>
	 <textbox id="firstName" class="w_218" value="" autofocus="autofocus"/>
	 <validatorrequired id="valFirstName" controls="firstName" client="1" groups="step2"/>
</div>
<div class="row w_229">
	 <label>Last Name*</label>
	 <textbox id="lastName" class="w_218" value=""/>
	 <validatorrequired id="valLastName" controls="lastName" client="1" groups="step2"/>
</div>
<div class="row w_487">
	 <label>Email*</label>
	 <textbox id="email" class="w_487" value="" autofocus="autofocus"/>
	 <validatoremail id="valEmail" tag="div" class="error2" groups="step2" client="1" controls="step2.email" text="** Email format is incorrect. **"/>
</div>
<div class="row w_487">
	 <label>Username*</label>
	 <textbox id="username" class="w_487" value=""/>
	 <validatorcustom id="valUsernameUniq" tag="div" class="error2" groups="step2" client="0" serverFunction="->checkUsername" action="action()" unaction="unaction()" controls="step2.username" text="** This username is already taken. **"/>
</div>
<div class="row w_487">
	 <label>Password<?=$ID>0?'':'*';?></label>
	 <textbox id="password" class="w_487" type="password" onfocus="showPasswordRequirements();" onblur="hidePasswordRequirements();"/>
	 <hidden id="passauth" value="" />
	 <validatorrequired id="valpassword" controls="password" client="1" groups="step2"/>
	 <validatorcompare id="valcomparepassword" tag="div" class="error2" controls="step2.password,step2.confirmPassword" groups="step2" client="1">** These passwords do not match. **</validatorcompare>
	 <validatorcustom id="valPasswordCriteria" tag="div" class="error2" groups="step2" client="1" clientFunction="validatePasswordCriteria" controls="step2.password" text="** Please choose a stonger password. **"/>
	 <div id="valFieldPassword" class="error2" style="display:none;"></div>
</div>
<div class="row">
	<label>Retype Password<?=$ID>0?'':'*';?></label>
	<textbox id="confirmPassword" class="w_487" type="password"/>
	<validatorrequired id="valconfirmpassword" controls="confirmPassword" client="1" groups="step2"/>
</div>

<div id="passwordRequirements">
	<section id="reqTitle">
		<h2>Password Requirements:</h2>
	</section>
	<section id="reqBody">
		<p>Password must contain 8 characters, and must contain at least one character from three of the categories below:</p>
		<ul>
			<li>Uppercase letter (A-Z)</li>
			<li>Lowercase letter (a-z)</li>
			<li>Number (0-9)</li>
			<li>Symbols (#@!$%&:;)</li>
		</ul>
	</section>
</div>

<script type="text/javascript">
function showPasswordRequirements()
{
	$('#passwordRequirements').show();
}

function hidePasswordRequirements()
{
	$('#passwordRequirements').hide();
}
</script>