<panel id="mainform" class="content" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main_wrapper">
		<div class="content_control_wrapper" style="background:#e3e3e3;">
			<div class="content_control">
				<div class="breadcrumb" style="padding-top:22px;">
					<p><a href="<?=$basePath;?>/users">User Management</a> / <?=$htitle;?></p>
				</div>
				<div class="option_block" style="padding-top:14px;">
					<? if (!$isNew):?>
					<a href="javascript:;" onclick="showDelPopup();" class="btn_red"><span class="btn_red_r">Delete</span></a>
					<? endif; ?>
					<a href="<?=$basePath;?>/users" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
					<a href="javascript:;" onclick="saveUser();" class="btn_blue"><span class="btn_blue_r">Save</span></a>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="content">
				<div class="content_header">
					<h2><?=$htitle;?></h2>
					<? if ($isAccountLocked): ?>
					<div class="unlock-acct">
						<a href="javascript:;" onclick="ajax.doit('->unlock');" class="better-button">
							<span>Unlock Account</span>
						</a>
					</div>
					<? endif; ?>
				</div>
				<div class="content_block">

					<validatorrequired id="valFields" groups="reg" controls="firstName,lastName,city,countryCode,email,username,password,confirmPassword" client="1" />
					<validatorphone id="valphoneformat" groups="reg" controls="phone" client="1" text="Phone format is incorrect." class="error2" />
					<validatorrequired id="valFieldsUS" groups="countryUS" controls="state,ZIP" client="1" />
					<validatorrequired id="valFieldsCA" groups="countryCA" controls="province,postCode" client="1" class="error2" />
					<validatorrequired id="valFieldsOT" groups="countryOT" controls="region,postCode" client="1" class="error2" />

					<div class="clear"></div>
					<div class="row p_t50">
						<label>First Name*</label>
						<textbox id="firstName" class="w_220" autofocus="autofocus"/>
					</div>
					<div class="row p_t50">
						<label>Last Name*</label>
						<textbox id="lastName" class="w_220"/>
					</div>
					<div class="row p_t50">
						<label>Affiliate Code</label>
						<textbox id="affiliateCode" class="w_220"/>
					</div>
					<div class="clear"></div>

					<div class="row ">
						<label>Please specify the country, city and state where the user's office is located.</label>
					</div>
					<div class="clear"></div>

					<div class="row">
						<label>Country*</label>
						<dropdownbox id="countryCode" class="w_229 countryToggler" onchange="toggleCountry()" options="php::\ClickBlocks\MVC\Edepo::getCountries(false)"/>
					</div>
					<div class="clear"></div>
					<div class="row">
						<label>Address </label>
						<textbox id="address1" class="w_220" />
					</div>
					<div class="row ">
						<label>&nbsp; </label>
						<textbox id="address2" class="w_220" />
					</div>
					<div class="clear"></div>
					<div class="row">
						<label>City*</label>
						<textbox id="city" class="w_220" />
					</div>
					<div class="row usaAddress">
						<label>State*</label>
						<dropdownbox id="state" defaultValue="" options="php::\ClickBlocks\MVC\Edepo::getUSAStates()" />
					</div>
					<div class="row canadaAddress">
						<label>Province*</label>
						<dropdownbox id="province" style="width:75px;" options="php::\ClickBlocks\MVC\Edepo::getCanadianProvinces()"/>
					</div>
					<div class="row otherAddress">
						<label>Region*</label>
						<textbox id="region" class="w_125" />
					</div>
					<div class="row p_l20 usaAddress">
						<label>ZIP*</label>
						<textbox id="ZIP" class="w_125" onkeyup="this.value = this.value.replace(/[^\d]/g, '');" maxlength="10" />
					</div>
					<div class="row p_l20 otherAddress canadaAddress">
						<label>Postal Code*</label>
						<textbox id="postCode" class="w_125" maxlength="10" />
					</div>
					<div class="clear"></div>
					<div class="row">
						<label>Phone Number <br/> <span class="subLabel">(eg. 1234567890, 555-555-5555)</span></label>
						<textbox id="phone" class="w_220" />
						<div class="clear"></div>
					</div>
					<div class="row">
						<label>Email*<br/> &nbsp;</label>
						<textbox id="email" class="w_220" />
						<div class="clear"></div>
						<validatoremail id="valEmail" class="error2" controls="email" client="1" text="Email format is incorrect." groups="reg" />
					</div>
					<div class="clear"></div>
					<h3 style="padding-top:18px;">Login Credentials</h3>
					<div class="row">
						<label>Username*</label>
						<textbox id="username" class="w_220" />
						<validatorcustom id="valUsernameUniq" class="error2" client="0" serverFunction="->checkUsername" controls="username" text="This username is already taken." groups="reg" />
					</div>
					<div class="row">
						<label>Permissions</label>
						<div class="w_150 custom_checkbox_wrap">
							<a id="isClientAdmin" href="javascript:void(0);" class="custom_checkbox w_150 <?=($isClientAdmin == '1') ? 'r_on':'r_off';?>" onclick="toggleCheckbox(this)">
								<span>Administrator</span>
								<hidden id="clientAdmin" />
							</a>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row">
					<label>Password<?= $ID > 0 ? '' : '*'; ?></label>
					<textbox id="password" maxlength="100" type="password" class="w_220" onfocus="showPasswordRequirements();" onblur="hidePasswordRequirements();" />
					<hidden id="passauth" value="" />
					<validatorcompare id="valCompare" controls="password,confirmPassword" client="1" groups="reg" text="Password does not match." class="error2" />
					<validatorcustom id="valPasswordCriteria" tag="div" class="error2" groups="reg" client="1" clientFunction="validatePasswordCriteria" controls="password" text="Please choose a stonger password."/>
				</div>
				<div class="clear"></div>
				<div class="row">
					<label>Retype Password<?= $ID > 0 ? '' : '*'; ?></label>
					<textbox id="confirmPassword" maxlength="100" type="password" class="w_220"/>
				</div>
				<div id="passwordRequirements" style="top:initial; bottom:5px; right:340px; top: inherit;">
					<section id="reqTitle">
						<h2>Password Requirements:</h2>
					</section>
					<section id="reqBody">
						<p>Password must contain 8 characters, and must contain at least one character from three of the categories below:</p>
						<ul>
							<li>Uppercase letter (A-Z)</li>
							<li>Lowercase letter (a-z)</li>
							<li>Number (0-9)</li>
							<li>Symbols (#@!$%&:;)</li>
						</ul>
					</section>
				</div>
				</div>
			</div>
		</div>
		<div class="content_control_wrapper content_control_bottom">
			<div class="content_control">
				<div class="option_block">
					<? if (!$isNew):?>
					<a href="javascript:;" onclick="showDelPopup();" class="btn_red"><span class="btn_red_r">Delete</span></a>
					<? endif; ?>
					<a href="<?=$basePath;?>/users" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
					<a href="javascript:;" onclick="saveUser();" class="btn_blue"><span class="btn_blue_r">Save</span></a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"><![CDATA[

		$(document).keyup(function(e){if (e.keyCode == 13) saveUser();});

		btnLock = false;
		function saveUser(){
			if( validators.validate( 'reg,countryUS,countryCA,countryOT', 'error', ' ' ) ) {
				if( $('#<?=ID('password')?>').val().length >= 1 ) {
					$('#<?=ID('passauth')?>').val( sha1( $('#<?=ID('password')?>').val() ) );
					$('#<?=ID('password')?>').val( sha1( $('#<?=ID('password')?>').val() ) );
				}
				if( $('#<?=ID('confirmPassword')?>').val().length >= 1 ) {
					$('#<?=ID('confirmPassword')?>').val( sha1( $('#<?=ID('confirmPassword')?>').val() ) );
				}
				ajax.max(1).doit('->save', ajax.getFormValues());
				$('#<?=ID('password')?>').val( '' );
				$('#<?=ID('confirmPassword')?>').val( '' );
			}
		}

		function showDelPopup(){
			ajax.doit('->showDelPopup', '<?=$ID;?>');
		}

		function selectRadioButton(el){
			var group = $(el).parent();
			group.find('.custom_radio').removeClass('r_on');
			group.find('input').attr('checked', false);
			$(el).addClass('r_on');
			var input = $(el).find('input');
			var val = input.attr('value');
			group.children('input[type="hidden"]').val(input.attr('value'));
			input.attr('checked', true);
		}

		function validateUsername( ctrls )
		{
			var ctrlUsername = controls.$( ctrls[0] );  //username
			var demoPattern = new RegExp( '^demo_', 'i' );
			var flag = demoPattern.test( ctrlUsername.value );
			return flag;
		}

		function showPasswordRequirements() {
			$('#passwordRequirements').show();
		}

		function hidePasswordRequirements() {
			$('#passwordRequirements').hide();
		}

		function validatePasswordCriteria( ctrls, mode )
		{
			var flag = false;
			var ctrlPwd = controls.$( ctrls[0] );
			flag = (ctrlPwd.value.length === 0);
			if( flag ) {
				validators.results[ctrls[0]] = flag;
				return flag;
			}
			flag = (ctrlPwd.value.length >= 8);
			var l = new RegExp( '[a-z]+' ).test( ctrlPwd.value );
			var u = new RegExp( '[A-Z]+' ).test( ctrlPwd.value );
			var d = new RegExp( '[0-9]+' ).test( ctrlPwd.value );
			var s = new RegExp( '[!@#$%&*_\\-+=|<>(){}\\[\\],.:;]+' ).test( ctrlPwd.value );
			var t = (l + u + d + s >= 3);
			flag &= t;
			validators.results[ctrls[0]] = flag;
			return flag;
		}

		function toggleCheckbox( el ) {
			if( typeof el !== 'object' || el === null ) {
				return;
			}
			var cb = $(el);
			var input = $('input', cb);
			console.log( arguments, input, input.val() );
			if( input.val() === "0" ) {
				input.val( "1" );
				cb.removeClass( "r_off" ).addClass( "r_on" );
			} else {
				input.val( "0" );
				cb.removeClass( "r_on" ).addClass( "r_off" );
			}
		}

		$( document ).ready(function() {
			toggleCountry();
		});

	]]></script>
</panel>
