<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main">
		<div class="content_header">
			<h2>User Management</h2>
			<div class="option_block">
				<div class="search_wrapper">
					<div class="search_input">
						<textbox id="searchText" onkeypress="clickSearch(event);" />
					</div>
					<input class="search_btn" type="button" name="go" value="Go" onkeyup="if (event.keyCode==13) searchValue();" onclick="searchValue();"/>
				</div>
				<a href="<?=$basePath;?>/users/add" class="btn_blue option_btn">
					<span class="btn_blue_r">Add User</span>
				</a>
			</div>
		</div>
		<div class="clear"></div>
		<widgetusers id="users" />
	</div>
</panel>
