<h3><?= htmlspecialchars($caseName); ?></h3>
<div class="table-info-line">
   <div class="left"><b>Case ID:</b> <?= $caseID; ?></div>
   <div class="right"><b><?= $count; ?></b> Depositions</div>
   <div class="clear"></div>
</div>
<table class="table more_columns">
   <tr>
      <th width="5%">Deposition ID</th>
      <th>Deposition Details</th>
      <th width="">Date Created</th>
      <th width="">Setup Fee</th>
      <th width="">Hosting Fee</th>
      <th># of Documents</th>
   </tr>
   <? foreach ((array) $rows as $row): ?>
      <tr>
         <td><?= htmlspecialchars($row['uKey']); ?></td>
         <td>Deposition of <?= htmlspecialchars($row['depositionOf']); ?></td>
         <td><?= $row['Date']; ?></td>
         <td><?= sprintf('$%.2f', $row['SetupFee']); ?></td>
         <td><?= sprintf('$%.2f', $row['HostingFee']); ?></td>
         <td class="ta-center"><?= (int) $row['CountDocuments']; ?></td>
      </tr>
   <? endforeach; ?>
</table>
<div class="table-total"><span>Total</span> <?= sprintf('$%.2f', $total); ?></div>