<div class="data_block">
    <ul class="depositions_list">
        <? $statusMap = array('N' => 'Scheduled', 'I'=>'Active', 'F'=>'Completed');
        foreach ($rows as $idx => $row):
			switch( $row['class'] ):
				case 'WitnessPrep':
				case 'WPDemo':
					$depoLabel = 'Witness Prep for';
					break;
				case 'Demo':
					$depoLabel = 'Demo of';
					break;
				default:
					$depoLabel = 'Deposition of';
					break;
			endswitch;
		?>
        <li id="depo<?=$row['ID']?>" onclick="chooseDepo(<?=$row['ID']?>)" class="depo_item">
            <div class="info_row">
                <div class="left_p">
                    <b><?=$depoLabel;?> <?=$row['depositionOf']?></b>
                </div>
                <div class="right_p">
                    <?=date_format(date_create($row['openDateTime']), 'm/d/Y');?>
                </div>
            </div>
            <div class="info_row">
                <div class="left_p" style="overflow: hidden;">
                    <?=$row['title'];?>&nbsp;
                </div>
                <div class="right_p">
                    <?= $statusMap[$row['statusID']]; ?>
                </div>
            </div>
        </li>
        <? endforeach; ?>
    </ul>
</div>
<script type="text/javascript"><![CDATA[
widgetDepositionCallback = '<?=$class?>@<?=$uniqueID?>';
  
function chooseDepo(id) {
    $(".depo_item").each(function() {
        controls.removeClass(this.id,'active');
    });
    controls.addClass('depo'+id,'active');
    ajax.doit(widgetDepositionCallback+'->chooseDepo', id);
}

]]></script>
