<div class="panel_control">
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
    </p>
        <? if($isFileExist): ?>
        <ul class="approve">
        <li>
            <a href="javascript:;" onclick="sendEmails('transcript');" class="btn_gray_small">
              <span class="btn_gray_small_r">Send Transcripts</span>
            </a>
           <a href="javascript:;" onclick="sendEmails('exhibit');" class="btn_gray_small">
              <span class="btn_gray_small_r">Send Exhibits</span>
            </a>
           <a href="javascript:;" onclick="sendEmails('all');" class="btn_gray_small">
              <span class="btn_gray_small_r">Send Transcripts & Exhibits</span>
            </a>
           <a class="btn_blue_small" href="javascript:;" onclick="ajax.doit('->downloadExhibits')" style="font-size: 11px; width:auto;">
              <span class="btn_blue_small_r">Download Exhibits</span>
           </a>
        </li>
        </ul>
        <ul class="list_control">
            <li><a href="javascript:;" onclick="selectEmails(1);">Select All</a></li>
            <li><a href="javascript:;" class="border_none" onclick="selectEmails(0);">Uncheck All</a></li>
        </ul>
        <? else: ?>
        <navigator id="nav2" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
        <ul class="approve">
        <li>
        <a class="btn_blue_small" href="javascript:;" onclick="ajax.doit('->downloadExhibits')" style="font-size: 11px; width:auto;">
              <span class="btn_blue_small_r">Download Exhibits</span>
           </a>
        </li>
        </ul>
        <? endif; ?>
</div>
<table class="tbl_info">
    <tr>
        <th width="40" align="center"><? if($isFileExist):?><a class="custom_checkbox select_all m_r5 f_l<?=($isAllSelected ? ' checked' : '');?>" href="javascript:;" onclick="selectEmails()"></a><? endif;?></th>
        <th><?=$links[0];?></th>
        <th><?=$links[1];?></th>
		<th width="70"><?=$links[2];?></th>
        <th width="400">&nbsp;</th>
   </tr>
   <? foreach ($rows as $idx => $row) { ?>
   <tr class="<?= $idx%2 ? 'zebra':'';?>">
       <td align="center"><? if($isFileExist):?><a class="custom_checkbox numeric f_l <?=(isset($emails[$row['email']]) ? ' checked' : '');?>" href="javascript:;" onclick="selectEmail('<?=$row['email'];?>','<?=$row['name'];?>');"></a><? endif;?></td>
       <td><div style="word-wrap: break-word"><?=$row['name']?></div></td>
       <td><?=$row['email']?></td>
	   <td><?=$row['type']?></td>
       <td>
            <? if($isFileExist):?>
            <div class="hide_links">
                <a href="javascript:;" onclick="sendEmails('transcript','<?=$row['email'];?>','<?=$row['name'];?>');">Send Transcripts</a>
                <a href="javascript:;" onclick="sendEmails('exhibit','<?=$row['email'];?>','<?=$row['name'];?>');">Send Exhibits</a>
                <a href="javascript:;" onclick="sendEmails('all','<?=$row['email'];?>','<?=$row['name'];?>');">Send Transcripts & Exhibits</a>
            </div>
            <? endif;?>
       </td>
    </tr>
    <? } ?>
    <? if (count($rows) == 0) { ?>
   <tr>
     <td colspan="8" class="t_a_c">
       <strong>Empty list</strong>
     </td>
   </tr>
   <? } ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
    </p>
    <div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetAttendeesCallback = '<?=$class?>@<?=$uniqueID?>';

function emailTranscript(id, confirm) {

}

function sendEmails(type, email, name){
  if(email == 'undefined' || name== 'undefined')
     ajax.doit(widgetAttendeesCallback + '->sendEmails', type);
  else
     ajax.doit(widgetAttendeesCallback + '->sendEmails', type, email, name);
}

function selectEmails(type){
  if(type == 'undefined')
    ajax.doit(widgetAttendeesCallback + '->selectEmails');
  else
    ajax.doit(widgetAttendeesCallback + '->selectEmails', type);
}

function selectEmail(email, name){
  ajax.doit(widgetAttendeesCallback + '->selectEmail', email, name);
}

]]></script>