<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir( 'backend' );?>/common/general.html">
  		<div class="main">
            <div class="content">
                <div class="content_header">
                    <h2>My Account</h2>
                </div>
                <div class="myaccount_info">
               	<panel id="accountPnl" class="main_wrapper"/>
                </div>
                <div class="clear"></div>
            </div>
        </div>       
</panel>
