<div class="myaccount_body">
   <div class="row">
      <label class="p_b0">Subscription Fee</label>
      <p><?= $subscriptionFee; ?></p>
   </div>
   <div class="clear"></div>
   <div class="notice">
      If you have questions about your pricing, please contact us at:
	  <span style="font-size:12px; font-weight:bold;"><?= $billingContact ?></span>
   </div>
</div>