<div class="myaccount_body">
	<div class="resellerPricingPkg">
        <h3 style="padding:0;">Wholesale Pricing Package</h3>
		<br/>
		<table border="0">
			<tr>
				<td align="right">Subscription Fee (per user):</td>
				<td><?=$subcriptionFee;?></td>
			</tr>
		</table>
    </div>
</div>