<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main_wrapper">
        <div class="content_control_wrapper reports">
            <div class="content_control">
                <div class="breadcrumb">
                    <p><a href="<?=$url.'/notifications';?>">Notify Users</a> / Logs</p>
                </div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="main">
			<div class="content_header" style="overflow:visible;">
				<h2><?=$headName?></h2>
                                <div id="btn_export_notify_logs">
                                    <a href="javascript:;" onclick="ajax.max(1).doit('->exportNotificationLogs')" class="btn_blue"><span class="btn_blue_r">Export</span></a>
                                </div>
				<div class="option_block reports">

				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<widgetnotificationLogs id="notificationLogs" />
		</div>
	</div>
</panel>