<div class="panel_control">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize" style="width:47px;" class="custom-select small" />
    </p>
</div>
<table class="tbl_info">
    <tr>
        <th width="20"></th>
        <th><?=$links[0];?></th>
        <th width="80"><?=$links[1];?></th>
        <th width="80"><?=$links[2];?></th>
    </tr>
    <? foreach ($rows as $idx => $row) { ?>
    <?
       $viewlink = '';
       $viewlink .= $url ? '/'.$url.'/report/' : '/admin/report/';
       $viewlink .= $type ? 'detailreport?ID=' : 'invoice?ID=';;
       $viewlink .= $row['ID'];
    ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?>" onclick="rowClick(event, '<?=$viewlink?>')">
        <td></td>
        <td><?=($type ? 'Report #' : 'Invoice #') . $row['ID']?></td>
        <td>$<?=$row['total']?></td>
        <td><?=date_format(date_create($row['created']), 'm/d/Y');?></td>
    </tr>  
    <? } ?>
    <? if (count($rows) == 0) { ?>
    <tr>
        <td colspan="4" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <? } ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav1" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
    <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
</p>
<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
    widgetReportCallback = '<?=$class?>@<?=$uniqueID?>';
    
    function selectID(id){
        ajax.doit(widgetReportCallback + '->selectID', id);
    }
    
    function selectIDs(){
        ajax.doit(widgetReportCallback + '->selectAll');
    }

    function rowClick(event, link) {
        var target = event.target || event.srcElement;
        if (target.tagName != 'A' && target.tagName != 'SPAN') {
            document.location = link;
        }
    }

]]></script>