<table class="tbl_info reports m_t20 no-border">
    <tr>
        <th width="5"></th>
		<th width="70"><?=$headers[0];?></th>
        <th><?=$headers[1];?></th>
		<th width="160"><?=$headers[2];?></th>
		<th width="170"><?=$headers[3];?></th>
		<th width="75"><?=$headers[4];?></th>
        <th width="40"><?=$headers[5];?></th>
        <th width="75"><?=$headers[6];?></th>
        <th width="85"><?=$headers[7];?></th>
    </tr>
    <? foreach ($rows as $idx => $row) { ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?>">
        <td></td>
		<td><?=date('n/j/Y', strtotime($row['created']));?></td>
		<td><?=$row['name']?></td>
		<td><?=$row['depoUser']?></td>
		<td><?=$row['depositionOf']?></td>
		<td><?=$row['numExhibits']?></td>
        <td><?=$row['quantity']?></td>
        <td>$<?=number_format($row['UnitPrice'],2);?></td>
        <td>$<?=number_format($row['total'],2);?></td>
    </tr>
    <? } ?>
    <? if (count($rows) == 0) { ?>
    <tr>
        <td colspan="5" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <? } ?>
</table>