<div class="head_part">
	<ul class="import_option">
		<li><a id="relativity_tab1" class="active enabled" href="javascript:;" onclick="changeTab(1, this);">Login</a></li>
		<li><a id="relativity_tab2" class="disabled" href="javascript:;" onclick="changeTab(2, this);">Workspace</a></li>
		<li><a id="relativity_tab3" class="disabled" href="javascript:;" onclick="changeTab(3, this);">Binder</a></li>
		<li><a id="relativity_tab4" class="disabled" href="javascript:;" onclick="changeTab(4, this);">Documents</a></li>
	</ul>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<panel id="relativity_tab1" class="detail_part p_l10">
	<panel id="relativityLoginPanel" class="m_t20">
		<div class="p_t20 p_l20">
			<label class="p_b0  w_100" style="display: inline-block; text-align: right;">Email Address:</label>
			<textbox id="relativity_username" value="" class="w_220" maxlength="128" onkeyup="if (event.keyCode==13) login();" autofocus="autofocus" />
		</div>
		<div class="p_t20 p_l20">
			<label class="p_b0 w_100" style="display: inline-block; text-align: right;">Password:</label>
			<textbox id="relativity_password" type="password" value="" class="w_220" maxlength="64" onkeyup="if (event.keyCode==13) login();"/>
		</div>
		<div class="remember_me">
			<hidden id="relativity_remember_me" value="" />
			<div class="custom_checkbox_box f_l">
				<label id="chkRememberMe" class="custom_checkbox <?=($rememberMe)?'r_on':'r_off';?>" onclick="rememberMe();"></label>
			</div>
			<a href="javascript:" onclick="rememberMe();"><span>Remember Me</span></a>
		</div>
		<div class="p_t20 w_440" style="text-align: center;">
			<? if( $errorMessage ) { ?><span class="errmsg"><?=$errorMessage;?></span><? } ?>
		</div>
		<div class="p_t20" style="text-align: center;width:250px;">
			<a href="javascript:;" class="option_btn btn_blue p_r10 f_r" onclick="login();"><span class="btn_blue_r">Log In</span></a>
			<div class="clear"></div>
		</div>
	</panel>
</panel>
<panel id="relativity_tab2" class="detail_part p_l10" style="display:none;">
	<panel id="relativityWorkspacePanel" class="m_t20">
		<div class="p_t20 p_l20">
			<label class="p_b0  w_100" style="display: inline-block; text-align: right;">Workspace:</label>
			<div style="display: inline-block;"><customdropdownbox id="relativity_workspace" class="custom-select big-arrow" options="php::array('-1'=>'No Workspaces')" style="width: 400px;" /></div>
		</div>
		<div class="p_t20 w_440" style="text-align: center;">
			<? if( $errorMessage ) { ?><span class="errmsg"><?=$errorMessage;?></span><? } ?>
		</div>
		<div class="p_t20" style="text-align: center;width:290px;">
			<a href="javascript:;" class="option_btn btn_blue p_r10 f_r" onclick="selectWorkspace();"><span class="btn_blue_r">Select Workspace</span></a>
			<div class="clear"></div>
		</div>
	</panel>
</panel>
<panel id="relativity_tab3" class="detail_part p_l10" style="display:none;">
	<panel id="relativityBinderPanel" class="m_t20">
		<div class="p_t20 p_l20">
			<label class="p_b0  w_100" style="display: inline-block; text-align: right;">Binder:</label>
			<div style="display: inline-block;"><customdropdownbox id="relativity_binder" class="custom-select big-arrow" options="php::array('-1'=>'No Binders')" style="width: 400px;" /></div>
		</div>
		<div class="p_t20 w_440" style="text-align: center;">
			<? if( $errorMessage ) { ?><span class="errmsg"><?=$errorMessage;?></span><? } ?>
		</div>
		<div class="p_t20" style="text-align: center;width:260px;">
			<a href="javascript:;" class="option_btn btn_blue p_r10 f_r" onclick="selectBinder();"><span class="btn_blue_r">Select Binder</span></a>
			<div class="clear"></div>
		</div>
	</panel>
</panel>
<panel id="relativity_tab4" class="detail_part p_l10" style="display:none;">
	<panel id="relativityDocumentsPanel" class="m_t20">
		<div class="p_t20 p_l20 f_l" style="height:30px;">
			<div class="w_100" style="display: inline-block; text-align: right;"><label>Folder:</label></div>
			<div style="display: inline-block;">
				<textbox id="relativity_folder" class="w_220" value="<?=$folderName;?>" />
			</div>
		</div>
		<div class="m_l20 f_l" style="text-align: center;display: inline-block;padding-top:14px;">
			<a href="javascript:;" class="option_btn btn_blue p_r10 f_r" onclick="importToFolder();"><span class="btn_blue_r">Import to Folder</span></a>
		</div>
		<div id="btn_cancel" class="f_l" style="text-align: center;display: inline-block;padding-top:14px;">
			<a href="javascript:;" class="option_btn btn_gray p_r10 f_r" onclick="cancelImport();"><span class="btn_gray_r">Cancel</span></a>
		</div>
		<div class="f_l import_activity">&nbsp;</div>
		<div class="clear"></div>
		<div class="p_t10 p_b10 w_440" style="text-align: center;">
			<? if( $errorMessage ) { ?><span class="errmsg"><?=$errorMessage;?></span><? } ?>
		</div>
		<div id="relativity_docs_control">
			<div id="relativity_docs_labels">
				<hidden id="relativity_doc_id" class="doc_id" />
				<hidden id="relativity_selected_docs" class="selected_docs" />
				<table id="relativity_docs_head">
					<tr id="docs_header">
						<td class="rdl_chks">
							<div class="custom_checkbox_box f_l">
								<label id="chkAll" class="custom_checkbox <?=($allSelected)?'r_on':'r_off';?>" onclick="selectAll();"></label>
							</div>
						</td>
						<td class="rdl_docs">Document</td>
						<td class="rdl_size">Size</td>
						<td class="rdl_stat">Status</td>
					</tr>
				</table>
			</div>
			<div id="relativity_docs_container">
				<table id="relativity_docs_table">
					<?	if( is_array( $documents ) && count( $documents ) > 0 ) { ?>
						<? $i=0; ?>
						<? foreach( $documents as $idx => $doc ) { ?>
						<tr id="docs_row" class="<?=($i%2 === 0)?'':'odd';?>">
							<td class="rdl_chks"><? if($doc->allowDownload) { ?>
								<div class="custom_checkbox_box f_l"><label id="chk<?=$idx;?>" class="custom_checkbox r_off" onclick="selectID(<?=$idx;?>);"></label></div><? } ?>
							</td>
							<td class="rdl_docs"><?=$doc->Document->{'Relativity Text Identifier'};?></td>
							<td class="rdl_size"><?=$doc->{'FileSize'};?></td>
							<td class="rdl_stat" id="statusCell_<?=$idx;?>"><? if(!$doc->allowDownload) { ?>File Exceeds Maximum Size<? } ?></td>
						</tr>
						<? ++$i; ?>
						<? } ?>
					<? } else { ?>
						<tr id="docs_row">
							<td class="rdl_chks"></td>
							<td class="rdl_docs">-- No Documents --</td>
							<td class="rdl_size"></td>
							<td class="rdl_stat"></td>
						</tr>
					<? } ?>
				</table>
			</div>
			<panel id="relativity_import_status" style="width: 680px;border-top:1px solid #999;padding: 0 10px;line-height: 30px;background-color: #ccc;font-weight: bold;font-size: 12px;">
				<div style="float:left;"><span id="sbSelected"><?=$selectedDocs;?></span>/<?=$totalDocs;?> Selected</div>
				<div style="float:right;"><span id="sbImported"><?=$importedDocs;?></span>/<span id="sbImportedTotal"><?=$totalImported;?></span> Imported</div>
				<div class="clear"></div>
			</panel>
	</div>
	</panel>
</panel>
<div class="clear"></div>