<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
<div class="main">
	<div class="content_header">
		<h2><?=$headName?></h2>
		<div class="option_block">
			<div class="search_wrapper">
				<div class="search_input">
					<textbox id="searchText" onkeypress="clickSearch(event);" />
				</div>
				<input class="search_btn" type="button" name="go" value="Go" onclick="searchValue();"/>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<widgeteclients id="eclients" />
</div>

<script type="text/javascript"><![CDATA[
var clientCallback = '<?=$class?>@<?=$uniqueID?>';

function clickSearch(e) {
	if ((e || event).keyCode == 13) {
		searchValue();
	}
}

function searchValue() {
  ajax.doit( '->search' );
}
]]></script>

</panel>
