<em class="block_title">Define the Enterprise Client Pricing Package:</em>
<div class="account_parameter_block">
    <? if ($url) : ?>
    <div class="current_package_block">
        <label>Your wholesale pricing package:</label>
        <br/><br/>
		<table width="100%" border="0">
			<tr>
				<td align="right" class="wPackageTitle">Subscription Fee</td>
				<td>&nbsp;&ndash;&nbsp;</td>
				<td class="packageValue"><?=$resellerSubcriptionFee; ?></td>
			</tr>
		</table>
    </div>
    <? endif; ?>
    <div class="row w_166">
        <label>Subscription Fee (per user)</label>
        <textbox id="subscriptionFee" class="w_166 money_field" value="$" maxlength="11"/>
        <validatorregularexpression expression="/^\$?(\d+)?(\.\d{1,2})?$/" id="valFloatSubscriptionFee" tag="div" class="error2" groups="step2" client="1" controls="step2.subscriptionFee" text="** The currency format is invalid. **"/>
    </div>
    <div class="clear"></div>
</div>

