<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/login/general.html">
<div class="main" style="position:relative;">
   <div class="auth">
      <h2 class="auth_logo"><a href="javascript:void(0)">eDepoze&trade;</a></h2>
      <p class="auth_title p_t57">Enter new password below</p>
      <div class="frm_changepassword">
		<div id="passwordRequirements">
			<section id="reqBody">
				<ul>
					<li>Password must contain 8 characters</li>
					<li>Password must contain at least one character from three of the categories below:
						<dl>
							<dd>Uppercase letter (A-Z)</dd>
							<dd>Lowercase letter (a-z)</dd>
							<dd>Number (0-9)</dd>
							<dd>Symbols (#@!$%&:;)</dd>
						</dl>
					</li>
				</ul>
			</section>
		</div>
		  <p class="auth_title error" style="padding:5px 0;">&nbsp;</p>
         <div class="row">
            <validatorrequired id="valFields" groups="default" controls="password,password2" client="1"/>
            <validatorcompare id="valPass" groups="default" controls="password,password2" client="1"/>
            <label>New Password*</label>
            <textbox id="password" type="password" class="w_337" maxlength="255"/>
			<validatorcustom id="valPasswordCriteria" tag="div" class="error2" groups="default" client="1" clientFunction="validatePasswordCriteria" controls="password" text="** Please choose a stonger password. **"/>
			<hidden id="passauth" value="" />
         </div>
         <div class="row">
            <label>Confirm New Password*</label>
            <textbox id="password2" type="password" class="w_337" maxlength="255" onkeyup="if (event.keyCode==13) submit();"/>
         </div>
         <div class="row" style="padding-top:34px;">
            <a class="btn_blue f_r w_90" href="javascript:void(0);" onclick="submit();">
               <span class="btn_blue_r">Save</span>
            </a>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</div>
<script type="text/javascript"><!--
   function submit() {
      if (!validators.validate('default','error','',true)) return;
      ajax.abort('->changePass');
	  $('#<?=ID('passauth')?>').val( sha1( $('#<?=ID('password')?>').val() ) );
	  $('#<?=ID('password')?>').val( sha1( $('#<?=ID('password')?>').val() ) );
	  $('#<?=ID('password2')?>').val( sha1( $('#<?=ID('password2')?>').val() ) );
      ajax.doit('->changePass',ajax.getFormValues());
	  $('#<?=ID('password')?>').val( '' );
	  $('#<?=ID('password2')?>').val( '' );
   }

	function validatePasswordCriteria( ctrls, mode )
	{
		var flag = false;
		var ctrlPwd = controls.$( ctrls[0] );
		flag = (ctrlPwd.value.length === 0);
		if( flag ) {
			validators.results[ctrls[0]] = flag;
			return flag;
		}
		flag = (ctrlPwd.value.length >= 8);
		var l = new RegExp( '[a-z]+' ).test( ctrlPwd.value );
		var u = new RegExp( '[A-Z]+' ).test( ctrlPwd.value );
		var d = new RegExp( '[0-9]+' ).test( ctrlPwd.value );
		var s = new RegExp( '[!@#$%&*_\\-+=|<>(){}\\[\\],.:;]+' ).test( ctrlPwd.value );
		var t = (l + u + d + s >= 3);
		flag &= t;
		validators.results[ctrls[0]] = flag;
		return flag;
	}
--></script>
</panel>
