<body id="page" class="login">
	<?=$mainform;?>
	<div class="footer">
		<div class="footer_data">
			<!--p>v<?= $appVersion ?></p-->
			<p class="copyright">Copyright &copy; <?=date('Y')?> eDepoze, LLC</p>
			<p class="poweredby"><img src="<?=$brandingLogo;?>" width="97" height="30" /></p>
		</div>
	</div>
</body>