<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/login/general.html">
<popup id="confirmDialog" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/confirm.html"/>
<popup id="termsOfServiceDialog" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/termsOfServicePopup.html"/>
<popup id="termsOfService" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/termsOfService.html"/>
<div class="main">
   <div class="auth">
      <? if ($resellerLogo): ?>
      <h2 class="auth_logo reseller_logo"><a href="javascript:void(0)" style="background-image:url(<?=$resellerLogo;?>)">eDepoze&trade;</a></h2>
      <? else: ?>
      <h2 class="auth_logo"><a href="javascript:void(0)">eDepoze&trade;</a></h2>
      <? endif; ?>
      <? if ($wasSent): ?>
      <p class="auth_title p_t57">Password change confirmation has been sent to the account owner.</p>
      <? endif; ?>
      <p class="auth_title error">
        <validatorcustom id="valLogin" tag="span" client="0" groups="login_serv" serverFunction="->loginCheck" order="1" text="** The username and/or password you entered is incorrect. **"/>&nbsp;
        <validatorcustom id="valLogin2" tag="span" client="0" groups="login_serv" serverFunction="->loginCheckActivate" order="2" text="** This user is deactivated. **"/>&nbsp;
      </p>
      <div class="frm_login">
         <? if ($isReporterLogin): ?>
         <div class="row pt11">
            <label>Session ID</label>
            <textbox id="depositionKey" class="w_478" maxlength="255" onkeyup="if (event.keyCode==13) login();" autofocus="autofocus"/>
         </div>
         <div class="row">
            <validatoremail id="valEmail" groups="login" controls="email" client="1"/>
            <label>Email Address</label>
            <textbox id="email" class="w_478" maxlength="255" onkeyup="if (event.keyCode==13) login();"/>
         </div>
         <? else: ?>
         <div class="row">
            <label>Username</label>
            <textbox id="username" class="w_478" maxlength="255" onkeyup="if (event.keyCode==13) login();" autofocus="autofocus"/>
         </div>
         <? endif; ?>
         <div class="row pt11">
            <validatorrequired id="valFields" groups="login" controls="username,password" client="1"/>
            <label>Password</label>
            <textbox id="password" type="password" class="w_478" maxlength="255" onkeyup="if (event.keyCode==13) login();"/>
			<hidden id="passauth" value="" />
         </div>
         <? if (!$isAdmin && !$isReporterLogin): ?>
         <div class="row">
            <a href="<?=$basePath;?>/recovery" class="auth_title_forgot">Forgot Password</a>
         </div>
        <? else: ?>
         <div class="row">
            <a href="<?=$webapphost?>/reset" class="auth_title_forgot">Forgot Password</a>
         </div>

         <? endif; ?>
         <div class="row">
            <a class="btn_blue f_r w_90" href="javascript:void(0);" onclick="login();">
               <span class="btn_blue_r">Login</span>
            </a>
         </div>
		 <hidden id="timeZone" value=""/>
      </div>
      <div class="clear"></div>
   </div>
</div>
<script type="text/javascript">
//<![CDATA[
function login() {
	if (!isCompat ) {
		ajax.doit('->showErrorDialog', jQuery.browser );
		return;
	}
	if(!validators.validate('login','error','',true)) return;
	ajax.abort('->login');
	$("#<?=ID('timeZone');?>").val(new Date().getTimezoneOffset()*-1);
	$("#<?=ID('passauth');?>").val( sha1( $("#<?=ID('password');?>").val() ) );
	$("#<?=ID('password');?>").val('');
	ajax.bind(function(res){
	   if (res === false) {
		  var ct;
		  for (var f in {'email':1, 'username':1, 'password':1, 'depositionKey':1}) {
			 ct = controls.get(f);
			 if (ct) validators.results[ct.id] = 0;
		  }
		  validators._showResult(false, 'error', '');
	   }
	}).doit('->login',ajax.getFormValues());
}

var isCompat = false;
var isLatest = false;

$(document).ready( function() {
	if( jQuery.browser.chrome ) {
		isCompat = (jQuery.browser.majorVersion >= 30);
		isLatest = (jQuery.browser.majorVersion >= 40);
	} else if( jQuery.browser.mozilla ) {
		isCompat = (jQuery.browser.majorVersion >= 30);
		isLatest = (jQuery.browser.majorVersion >= 38);
	} else if( jQuery.browser.safari ) {
		isLatest = (jQuery.browser.majorVersion >= 9);
		isCompat = (jQuery.browser.majorVersion >= 6);
	} else if( jQuery.browser.msie ) {
		isCompat = (jQuery.browser.majorVersion >= 10);
		isLatest = jQuery.browser.webkit ? (jQuery.browser.majorVersion >= 12) : (jQuery.browser.majorVersion >= 11);
	}
	if( typeof console !== 'undefined' ) {
		console.log( jQuery.browser.ua );
		console.log( jQuery.browser.name, jQuery.browser.majorVersion, '-- isCompat:', isCompat, 'isLatest:', isLatest );
	}
	if( !isLatest && isCompat ) {
		showWarningDialog();
	} else if( !isCompat ) {
		$('#signin_options a').attr('href','javascript:showErrorDialog();');
		showErrorDialog();
	}
} );

function showWarningDialog()
{
	var msg = 'You are currently using ' + jQuery.browser.name + ' version ' + jQuery.browser.majorVersion + '. It is recommeded to upgrade to a newer version.<br/>Please consider updating your browser.';
	if( typeof console !== 'undefined' ) {
		console.log( msg );
	}
	return;
	showDialog1Btn( 'WARNING', msg, 'Continue' );
}

function showErrorDialog()
{
	var msg = 'You are currently using ' + jQuery.browser.name + ' version ' + jQuery.browser.majorVersion + '. It is required to upgrade to a newer version.<br/>You must update your browser to continue.';
	if( typeof console !== 'undefined' ) {
		console.log( msg );
	}
	ajax.doit( '->showErrorDialog', jQuery.browser );
}
//]]>
</script>
</panel>
