<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/login/general.html">
<div class="main">
   <div class="auth">
      <h2 class="auth_logo"><a href="javascript:void(0)">eDepoze&trade;</a></h2>
      <p class="auth_title p_t57"><?=$text;?></p>
      <div class="clear"></div>
   </div>
</div>
</panel>
