<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/login/general.html">
<div class="main">
   <div class="auth">
      <h2 class="auth_logo"><a href="javascript:void(0)">eDepoze&trade;</a></h2>
      <p class="auth_title p_t57">Enter your username below and your password will be sent to you shortly.</p>
      <div class="frm_login">
         <div class="row">
            <label>Username</label>
            <textbox id="username" class="w_478" maxlength="255" onkeyup="if (event.keyCode==13) recover();"/>
         </div>
		  <div id="error_msg" style="display:none;">
			  <p class="auth_title error">** A username is required **</p>
		  </div>
         <div class="row">
            <a class="btn_blue f_r w_90 m_l15" href="javascript:void(0);" onclick="recover();">
               <span class="btn_blue_r">Submit</span>
            </a>
            <a class="btn_dark_gray f_r w_90" href="<?=$cancelUrl;?>">
               <span class="btn_dark_gray_r">Cancel</span>
            </a>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</div>
<script type="text/javascript"><!--
	function recover() {
		var usernameField = $('#<?=ID('username')?>');
		if (usernameField.length < 1 || usernameField.val().length < 1)
		{
			$('#error_msg').fadeIn();
			setTimeout( function() {
				$('#error_msg').fadeOut();
			}, 2400 );
		}
		ajax.doit( '->recover', ajax.getFormValues() );
	}
   /* function recover() {
      if (!validators.validate('recovery','error','',true)) return;
      ajax.abort('->recover');
      ajax.bind(function(res){
         if (res === false) {
            validators.results[controls.get('username').id] = 0;
            validators._showResult(false, 'error', '');
         }
      }).doit('->recover',ajax.getFormValues());
   } */
--></script>
</panel>
