<panel id="mainform" class="content" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<popup id="viewFilePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewFile.html"/>
	<popup id="viewAudioPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewAudio.html"/>
	<popup id="viewVideoPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewVideo.html"/>
	<div class="main">
		<div class="content_header">
			<h2>Exhibits</h2>
			<div class="option_block">
                <div class="btn_blue option_btn" onclick="ajax.doit('->downloadExhibits');">
                    <span class="btn_blue_r">Download Exhibits</span>
                </div>
            </div>
		</div>
		<div class="content m_t20">
			<widgetexhibits id="exhibits"></widgetexhibits>
		</div>
	</div>
</panel>
