<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
   <popup id="sendTranscriptPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/sendTranscript.html"/>
        <div class="main">
          <div class="content">
            <div class="content_header">
                    <h2>Deposition of <?=$depositionName;?></h2>
                    <div class="clear"></div>
                    <h2 class="sub_title">ID #<?=$depoID;?></h2>
                    <div class="option_block">
                        <h2>Transcript</h2>
                        <? if($isFileExist): ?>
                        <div class="file_info_block">
                            <span class="name"><?=$file['name'];?></span>
                            <a href="javascript:void(0);" onclick="ajax.doit('->viewFile', '<?=$file['ID'];?>');" class="view">view</a>
                            <a href="javascript:void(0);" onclick="ajax.doit('->confirmDeleteFile', '<?=$file['ID'];?>');" class="delete">delete</a>
                        </div>
                        <? else: ?>
                            <div class="file_info_block">
                            <span class="name">no file has been uploaded yet</span>
                            </div>
                        <? endif; ?>
                        <uploadbutton tag="a" id="btnUploadFile" classContainer="btn_blue option_btn2 f_r" callBack="->uploadFile"><span class="btn_blue_r">Browse</span></uploadbutton>
                    </div>
             </div>
                <widgetattendees id="attendees" />
            </div>
        </div>

</panel>