<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/general_print.html">
   <repeater id="repeat" count="1">
      <panel id="case">
         <div class="title-box">
            <div class="title-info"><?= $countDepos; ?> Depositions</div>
            <h2>eDepoze Admin Report</h2>
            <div class="clear"></div>
         </div>
         <div class="top-info-box">
            <div class="date-box"><b>Date Range</b> <?= $dateFrom; ?> - <?= $dateTo; ?></div>
            <h3><?= htmlspecialchars($client['name']); ?></h3>
            <div class="left-side">
               <p>Account #: <?= $client['ID']; ?><br/>
                  <?= htmlspecialchars($client['city'] . ', ' . $client['state']); ?>
               </p><p>
                  <?= htmlspecialchars($client['contactName']); ?><br/>
                  <?= htmlspecialchars($client['contactPhone']); ?></p>
            </div>
            <div class="right-side">
               <p><b>Client Since:</b> <?= $client['startDate']; ?><br/>
                  <b>Status:</b>
                  <? if ($client['deactivated']): ?>
                     <span class="deactivated">Deactivated</span>
                  <? else: ?>
                     <span class="active">Active</span>
                  <? endif; ?>
                  <br/><br/>
                  <b>Case Fees:</b> <?= sprintf("$%.2f", $caseFees); ?><br/>
               </p>
            </div>
            <div class="clear"></div>
         </div>
         <widgetdepositioncharges id="depositions" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/widgets/depositions/depositionCharges_print.html"/>
         <? if (!$isLast) { ?><div class="page-break"></div><? } ?>
      </panel>
   </repeater>
</panel>