<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/general.html">
   <div class="main">

      <div class="content_control_wrapper reports" style="<?=($print)?'display:none;':'';?>">
         <div class="content_control">
            <div class="breadcrumb">
               <p><a href="<?= $basePath; ?>/reports">Client Reports</a> / <?= $caseName; ?></p>
            </div>
            <reportdaterangeselector id="dateRange" />
         </div>
      </div>
      <div class="content">
         <repeater id="repeat" count="1">
            <panel id="case">
               <div class="content_header">
                  <h2>eDepoze Admin Reports</h2>
                  <? if (!$print): ?>
                     <div class="option_block reports">
                        <a href="javascript:;" onclick="ajax.max(1).doit('->exportCSV')" class="btn_blue m_r20">
                           <span class="btn_blue_r">Export XLS</span>
                        </a>
                        <a href="javascript:;" class="btn_blue" onclick="ajax.max(1).doit('->downloadPageAsPDF')">
                           <span class="btn_blue_r">Print Report</span>
                        </a>
                     </div>
                  <? endif; ?>
                  <div class="reposts-total-box"><b><?= $countDepos; ?></b> Depositions</div>
                  <div class="clear"></div>
               </div>

               <div class="reports-date-box ta_right"><b>Date Range</b> <?= $dateFrom; ?> - <?= $dateTo; ?></div>
               <div class="mx-info-box">
                  <h4><?= htmlspecialchars($client['name']); ?></h4>
                  <div class="coll-box">
                     <b>Account #:</b> <?= $client['ID']; ?><br/>
                     <?= htmlspecialchars($client['city'] . ', ' . $client['state']); ?><br/><br/>

                     <?= htmlspecialchars($client['contactName']); ?><br/>
                     <?= htmlspecialchars($client['contactPhone']); ?>
                  </div>
                  <div class="coll-box">
                     <b>Client Since:</b> <?= $client['startDate']; ?><br/>
                     <b>Status:</b> <? if ($client['deactivated']): ?>
                        <span class="fc_red">Deactivated</span>
                     <? else: ?>
                        <span class="fc_green">Active</span>
                     <? endif; ?>
                     <br/><br/>
                     <b>Case Fees:</b> <?= sprintf("$%.2f", $caseFees); ?><br/>
                  </div>
                  <div class="clear"></div>
               </div>
               <widgetdepositioncharges id="depositions"/>

               <hr class="bottom_line" />
               <div class="clear"></div>
               <? if (!$print): ?>
                  <div class="option_block reports p_t0">
                     <a class="btn_blue m_r20" onclick="ajax.max(1).doit('->exportCSV')" href="javascript:;">
                        <span class="btn_blue_r">Export XLS</span>
                     </a>
                     <a class="btn_blue" href="javascript:;" onclick="ajax.max(1).doit('->downloadPageAsPDF')">
                        <span class="btn_blue_r">Print Report</span>
                     </a>
                  </div>
                  <div class="clear"></div>
               <? endif; ?>
            </panel>
         </repeater>
      </div>
   </div>
</panel>