<panel id="mainform" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general_print.html">
   <div class="title-box">
      <div class="title-info"><?=$count;?> Total <?=$countLabel;?></div>
      <h2><?=$headName?></h2>
      <div class="title-info"><b>Today's Date</b> <?= date('m/d/Y'); ?></div>
      <div class="clear"></div>
   </div>
   <widgetreports id="commission" template="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/widgets/reports/commission_print.html"/>
</panel>