<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/report_print.html">
	<div class="commReports">
		<?php if( is_array( $reports ) ): ?>
		<?php $r = 0; ?>
		<?php foreach( $reports as $rIdx => $row ): ?>
		
		<?php if(!($r%$printPerPage)): ?>
		<div class="title-box">
			<h1 class="left">
			<?php if( $resellerLogo ): ?>
				<a href="javascript:;" style="background-image:url(<?=$resellerLogo;?>);"></a>
			<?php else: ?>
				<a href="javascript:;"></a>
			<?php endif; ?>
			</h1>
			<div class="clear"></div>
			<br />
			<div class="clear"></div>
			<div class="commissionHeader">
				<div class="f_l cHeader"><b><?=$headName?></b></div>
				<div class="f_r"><b><?=$reportDate;?></b></div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="report">
			<div class="commission">
				<table width="100%" class="commissionReport tbl_info_rpt m_t0 no-border">
					<thead>
						<tr>
							<th width="200px">Reseller<br />Firm</th>
							<th width="200px">Name<br />Username</th>
							<th width="200px">City<br />State</th>
							<th width="200px">Case</th>
							<th>Created<br />Deleted</th>
						</tr>
					</thead>
					<tbody>
		<?php endif; ?>

						<tr class="stripe">
							<td>
								<div class="w_200 to_e"><?=$row['resellerName'];?></div>
								<div class="w_200 to_e"><?=$row['clientName'];?></div>
							</td>
							<td>
								<div class="w_200 to_e"><?=$row['userFullName'];?></div>
								<div class="w_200 to_e"><?=$row['username'];?></div>
							</td>
							<td>
								<div class="w_200 to_e"><?=$row['city'];?></div>
								<div class="w_200 to_e"><?if($row['state']):?><?=$row['state'];?><?else:?><?=$row['region'];?><?endif?></div>
							</td>
							<td>
								<div class="w_200 to_e"><?=$row['caseName'];?></div>
							</td>
							<td>
								<div><?=date('m/d/Y',strtotime($row['created']));?></div>
								<div><?if($row['deleted']):?><?=date('m/d/Y',strtotime($row['deleted']));?><?else:?>-<?endif?></div>
							</td>
						</tr>
		<?php ++$r; ?>
		<?php if(!($r%$printPerPage) || $r == $count): ?>
					</tbody>
				</table>
				<div class="user-tbl-total">Total: <?=$count;?></div>
			</div>
		</div>
		<div class="foot">
			<div class="footer-content">
				<img src="<?=$brandingLogo;?>" width="105" height="31" />
			</div>
		</div>
		<div class="page-break"></div>
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
	<style type="text/css">
		.w_200 {
			width: 200px !important;
		}
		
		.to_e {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		
		.f_l {
			float: left;
		}
		
		.f_r {
			float: right;
		}
		
		.commissionHeader {
			font-size: 20px;
			margin-bottom: 10px;
		}
		
		.commissionHeader div {
			line-height: 24px;
		}
		
		.cHeader {
			font-size: 24px;
		}
		
		.user-tbl-total {
			padding-top: 10px;
			text-align: right;
			font-size: 16px;
			font-weight: bold;
		}
		
		tr.stripe > td{border-bottom:1px solid #ccc;}
		tr.stripe:nth-child(even) > td{background-color:#fafafa;}
		tr.stripe:nth-child(odd) > td{background-color:#fff;}
		tr.stripe > td:first-child{border-left:1px solid #ccc;}
		tr.stripe > td:last-child{border-right:1px solid #ccc;}

		.commissionReport > thead > tr > th{background-color:#009;color:#fff;text-align:left;}
		.commissionReport > tbody > tr > td,
		.commissionReport > thead > tr > th{padding:2px 5px;}
		.commissionReport > tbody > tr > td:first-child,
		.commissionReport > thead > tr > th:first-child{padding-left:10px;}
		.commissionReport > tbody > tr > td:last-child,
		.commissionReport > thead > tr > th:last-child{padding-right:10px;}

	</style>
	<script>
	<![CDATA[
	$(document).ready( function() {
		var pageHeight = 1240;
		if( navigator.userAgent.indexOf( 'Safari' ) !== -1 && navigator.userAgent.indexOf( 'Chrome' ) === -1 ) {
			pageHeight = 1140;	//Safari only
		}
		var footHeight = 70;
		var lastTop = 0;
		$('.foot').each( function() {
			foot$ = $(this);
			pos = foot$.position();
			mTop = (pageHeight - pos.top - footHeight + lastTop);
			if( mTop < 0 ) {
				mTop = 0;
			}
			foot$.css( {'margin-top': mTop + 'px'} );
			lastTop = pos.top + mTop + footHeight;
		} );
		setTimeout( print, 100 );
	} );
	]]>
	</script>
</panel>