<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="breadcrumb">
			<p><a href="<?=$url;?>/reports/deposition">Session Reports</a> / Report</p>
		</div>
		<div class="option_block">
			<a href="javascript:;" class="btn_blue m_r20" onclick="checkRow('->printThisPage', <?=$count;?>)">
				<span class="btn_blue_r">Print</span>
			</a>
			<a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
				<span class="btn_blue_r">Export</span>
			</a>
		</div>
	</div>
</div>
<div class="main">
	<div class="content depoReports">
		<?php if( is_array( $reports ) ): ?>
		<?php foreach( $reports as $rIdx => $report ): ?>
		<div class="report">
			<div class="deposition">
				<h2 class="f_l to_e" style="width:400px; font-size:18px">Name: <?=$report->witness;?></h2>
				<div class="f_l" style="padding-top:4px;">Volume: <?=$report->volume;?></div>
				<h2 class="date f_r"><?=$report->date;?></h2>
				<div class="clear"></div>
				<h2 class="f_l to_e" style="width:400px;">Case: <?=$report->caseName;?></h2>
				<div class="f_l" style="padding-top:4px;">Location: <?=$report->location;?></div>
				<div class="clear"></div>
			</div>
			<div class="section">
				<p>Members</p>
				<?php if( is_array( $report->clients ) ): ?>
				<?php foreach( $report->clients as $client ): ?>
				<div class="client">
					<div class="clientAddr">
						<div class="f_l to_e" style="width:400px;"><strong>Client: <?=$client->name;?></strong></div>
						<div class="f_l to_e" style="width:400px;"><strong><?=$client->address1;?> <?=$client->address2;?> <?=$client->city;?>, <?=$client->state;?>&nbsp;&nbsp;<?=$client->zipCode;?></strong></div>
						<div class="f_r"><strong><?=$client->phone;?></strong></div>
					</div>
					<table width="100%" class="attendees">
						<tbody>
							<tr>
								<th width="5"></th>
								<th width="340">Name</th>
								<th width="340">Email</th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Introduced</p></th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Received</p></th>
							</tr>
							<?php if( is_array( $client->attendees ) ): ?>
							<?php foreach( $client->attendees as $idx => $attendee ): ?>
							<tr class="attendee <?=($idx % 2 !== 0) ? 'even':'';?>">
								<td></td>
								<td><div class="to_e" style="width:330px;"><?=$attendee['firstName'];?> <?=$attendee['lastName'];?></div></td>
								<td><div class="to_e" style="width:330px;"><?=$attendee['email'];?></div></td>
								<td style="text-align: center;"><?=$attendee['introduced'];?></td>
								<td style="text-align: center;"><?=$attendee['received'];?></td>
							</tr>
							<?php endforeach; ?>
							<?php endif; ?>
						</tbody>
					</table>
				</div>
				<?php endforeach; ?>
				<?php endif; ?>
			</div>
			<?php if( $report->guests ): ?>
			<div class="section">
				<p>Guests</p>
				<div class='guests'>
					<table width="100%" class="attendees">
						<tbody>
							<tr>
								<th width="5"></th>
								<th width="340">Name</th>
								<th width="340">Email</th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Introduced</p></th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Received</p></th>
							</tr>
							<?php foreach( $report->guests as $idx => $guest ): ?>
							<tr class="attendee <?=($idx % 2 !== 0) ? 'even':'';?>">
								<td></td>
								<td><div class="to_e" style="width:330px;"><?=$guest['name'];?></div></td>
								<td><div class="to_e" style="width:330px;"><?=$guest['email'];?></div></td>
								<td style="text-align: center;">0</td>
								<td style="text-align: center;">0</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
			<?php endif; ?>
		</div>
		<div class="clear"></div>
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
</div>
<script type="text/javascript">
<![CDATA[
	function checkRow( arg, rowCount )
	{
		if( rowCount > 0 ) {
			ajax.max(1).doitSync( arg );
		}
	};
]]>
</script>
</panel>