<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main">
		<div class="content">
			<div class="content_header" style="overflow:visible;">
				<div class="row">
					<h2 class="p_t10"><?=$headName;?></h2>
					<div class="option_block_small"></div>
				</div>
				<div class="clear"></div>
			</div>
			<widgetdepositionreports id="reports" />
		</div>
	</div>
</panel>