<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/report_print.html">
	<div class="depoReports">
		<?php if( is_array( $reports ) ): ?>
		<?php $r = 0; ?>
		<?php foreach( $reports as $rIdx => $report ): ?>
		<?php ++$r; ?>
		<div class="head">
			<h1 class="left">
			<?php if( $resellerLogo ): ?>
				<a href="javascript:;" style="background-image:url(<?=$resellerLogo;?>);"></a>
			<?php else: ?>
				<a href="javascript:;"></a>
			<?php endif; ?>
			</h1>
			<div class="clear"></div>
		</div>
		<div class="report">
			<div class="deposition">
				<h2 class="f_l to_e" style="width:400px; font-size:18px">Name: <?=$report->witness;?></h2>
				<div class="f_l" style="padding-top:4px;">Volume: <?=$report->volume;?></div>
				<h2 class="date f_r"><?=$report->date;?></h2>
				<div class="clear"></div>
				<h2 class="f_l to_e" style="width:400px;">Case: <?=$report->caseName;?></h2>
				<div class="f_l" style="padding-top:4px;">Location: <?=$report->location;?></div>
				<div class="clear"></div>
			</div>
			<div class="section">
				<p>Members</p>
				<?php if( is_array( $report->clients ) ): ?>
				<?php foreach( $report->clients as $client ): ?>
				<div class="client">
					<div class="clientAddr">
						<div class="f_l to_e" style="width:400px;"><strong>Client: <?=$client->name;?></strong></div>
						<div class="f_l to_e" style="width:400px;"><strong><?=$client->address1;?> <?=$client->address2;?> <?=$client->city;?>, <?=$client->state;?>&nbsp;&nbsp;<?=$client->zipCode;?></strong></div>
						<div class="f_r"><strong><?=$client->phone;?></strong></div>
					</div>
					<table width="100%" class="attendees">
						<tbody>
							<tr>
								<th width="5"></th>
								<th width="340">Name</th>
								<th width="340">Email</th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Introduced</p></th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Received</p></th>
							</tr>
							<?php if( is_array( $client->attendees ) ): ?>
							<?php foreach( $client->attendees as $idx => $attendee ): ?>
							<tr class="attendee <?=($idx % 2 !== 0) ? 'even':'';?>">
								<td></td>
								<td><div class="to_e" style="width:330px;"><?=$attendee['firstName'];?> <?=$attendee['lastName'];?></div></td>
								<td><div class="to_e" style="width:330px;"><?=$attendee['email'];?></div></td>
								<td style="text-align: center;"><?=$attendee['introduced'];?></td>
								<td style="text-align: center;"><?=$attendee['received'];?></td>
							</tr>
							<?php endforeach; ?>
							<?php endif; ?>
						</tbody>
					</table>
				</div>
				<?php endforeach; ?>
				<?php endif; ?>
			</div>
			<?php if( $report->guests ): ?>
			<div class="section">
				<p>Guests</p>
				<div class='guests'>
					<table width="100%" class="attendees">
						<tbody>
							<tr>
								<th width="5"></th>
								<th width="340">Name</th>
								<th width="340">Email</th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Introduced</p></th>
								<th width="100" style="text-align: center;"><p>Exhibits</p><p>Received</p></th>
							</tr>
							<?php foreach( $report->guests as $idx => $guest ): ?>
							<tr class="attendee <?=($idx % 2 !== 0) ? 'even':'';?>">
								<td></td>
								<td><div class="to_e" style="width:330px;"><?=$guest['name'];?></div></td>
								<td><div class="to_e" style="width:330px;"><?=$guest['email'];?></div></td>
								<td style="text-align: center;">0</td>
								<td style="text-align: center;">0</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
				</div>
			</div>
			<?php endif; ?>
		</div>
		<div class="foot">
			<div class="footer-content">
				<img src="<?=$brandingLogo;?>" width="105" height="31" />
			</div>
		</div>
		<div class="clear"></div>
		<?php if( $r < $count ): ;?>
		<div class="page-break"></div>
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
	<style type="text/css">
		.f_l {
			float: left !important;
		}
		.f_r {
			float: right !important;
		}
		.to_e {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.d_tc {
			display: table-cell;
			vertical-align: top;
		}

		.depoReports .banner {
			color: red;
			text-align: center;
			margin-top: 20px;
			width: 760px;
			font-size: 15px;
		}

		.depo_report_tbl tr.dr {
			cursor: pointer;
		}

		.depoReports .report {
			background-color: #fff;
			margin: 10px 0 30px 0;
			border-top: 1px solid #2e4b72;
			border-bottom: 3px solid #2e4b72;
		}

		.depoReports .report .section > p {
			background-color: #2e4b72;
			color: #eee;
			font-size: 14px;
			height: 22px;
			line-height: 22px;
			padding-left: 5px;
		}

		.depoReports .report .deposition {
			font-weight: bold;
			background-color: #D8DFE9;
			padding: 0 5px 0 5px;
			color: #3f3f3f;
		}

		.depoReports .report .deposition h2 {
			font-size: 18px;
			font-weight: bold;
			padding: 0;
			height: 28px;
			line-height: 28px;
		}

		.depoReports .report .deposition h4 {
			font-size: 12px;
			font-weight: normal;
			height: 20px;
			line-height: 20px;
		}

		.depoReports .report .deposition .date {
			width: 120px;
			text-align: right;
		}

		.depoReports .report .deposition .witness {
		}

		.depoReports .report .client {
			margin: 0 0 20px 0;
			padding: 5px 0 0 0;
			border-top: 2px solid #2e4b72;
		}

		.depoReports .report .section > div:nth-of-type(1) {
			border-top: none;
		}

		.depoReports .report .guests {
			margin: 0 0 20px 0;
			padding: 5px 0 0 0;
		}

		.depoReports .report .client .clientAddr {
			height: 20px;
			margin-bottom: 20px;
			padding: 0 5px 0 5px;
		}

		.depoReports .report .client .attendees {
			font-size: 13px;
		}

		.depoReports .report .attendee {
			font-size: 13px;
		}

		.depoReports .report .attendees th {
			font-size: 13px;
			font-weight: bold;
			border-bottom: 1px solid #ccc;
			vertical-align: bottom;
			text-align: left;
		}

		.depoReports .report .attendee.even {
			background-color: #ececec;
			border-top: 1px solid #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
		}

		.depoReports .report .attendee td {
			padding: 2px 0 0 0;
		}
	</style>
	<script>
	<![CDATA[
	$(document).ready( function() {
		var pageHeight = 1240;
		if( navigator.userAgent.indexOf( 'Safari' ) !== -1 && navigator.userAgent.indexOf( 'Chrome' ) === -1 ) {
			pageHeight = 1140;	//Safari only
		}
		var footHeight = 70;
		var lastTop = 0;
		$('.foot').each( function() {
			foot$ = $(this);
			pos = foot$.position();
			mTop = (pageHeight - pos.top - footHeight + lastTop);
			if( mTop < 0 ) {
				mTop = 0;
			}
			foot$.css( {'margin-top': mTop + 'px'} );
			lastTop = pos.top + mTop + footHeight;
		} );
		setTimeout( print, 100 );
	} );
	]]>
	</script>
</panel>