<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/report_print.html">
	<repeater id="repeat" count="1">
		<panel id="client">
			<div class="head" style="margin-bottom:10px">
				<h1>
				<?php if( $resellerLogo ): ?>
					<a href="javascript:;" style="background-image:url(<?=$resellerLogo;?>);"></a>
				<?php else: ?>
					<a href="javascript:;"></a>
				<?php endif; ?>
				</h1>
			</div>
			<div style="border-bottom: 2px solid #343434;">
			   <h3><?=$headName?></h3><h3><?=$date_range;?></h3>
			   <div class="clear"></div>
			</div>
			<?php if ($showClientInfo) { ?>
			<div class="info-box">
				<h3><?= htmlspecialchars($resellerName);?></h3>
				<div class="col3-box">
					<p><?= htmlspecialchars($address);?></p>
					<p><?= htmlspecialchars($address2);?></p>
					<p><?= htmlspecialchars($city);?></p>
				</div>
				<div class="col3-box">
					<p><b>Reseller Since:</b> <?=$sinceDate;?></p>
					<p><b>Reseller ID:</b> <?=$resellerID;?></p>
					<? if ($clientTypeID=='R'): ?>
					<p><b>Total Clients:</b> <?=$numResellerClients;?></p>
					<? endif; ?>
					<p><b>Status:</b>
					<? if ($active): ?>
					   <span class="active">Active</span>
					<? else: ?>
					   <span class="deactivated">Inactive</span>
					<? endif; ?>
					</p>
					<? if ($clientTypeID=='C'): ?>
					<p><b>Location:</b> <?=$location;?></p>
					<? endif; ?>
				</div>
			<div class="col3-box">
				<p><b>Contact:</b> <?=htmlspecialchars( $contact );?></p>
				<p><b>Email:</b> <?=htmlspecialchars( $email );?></p>
				<p><b>Phone:</b> <?=htmlspecialchars( $phone );?></p>
				<?php if( $isAdmin ): ?>
				<p><b>Sales Rep:</b> <?=htmlspecialchars( $salesRep );?></p>
				<? endif; ?>
			</div>
            <div class="clear"></div>
         </div>
		 <? } ?>
		 <div class="clear"></div>

		<div class="table-wrapper">
			<? if ($isAdmin && $clientName) { ?>
			<div class="report-client" style="height: 40px; line-height: 40px;">
				<div style="float: left; width: 50%;">
				Summary of: <?=$clientName;?>
				</div>
				<?php if( $clientLocation ): ?>
				<div style="float: right;">
				Location: <?=$clientLocation;?>
				</div>
				<?php endif; ?>
			</div>
			<? } ?>
         <? if ($charges) { ?>
            <table width="100%" border="0" class="details" style="border-collapse: collapse;border: none;">
				<thead>
				<tr style="background-color:#214da1;color:#eee;height: 30px;line-height: 30px;font-size: 14px;">
					<th width="10"></th>
					<th class="ta-left" style="width:100px">Date</th>
					<th class="ta-left" style="width:328px">User<br/>Session Type</th>
					<th class="ta-left" style="width:328px">Case<br/>Session</th>
					<th class="ta-center" style="width:90px">Exhibits<br/>Introduced</th>
					<th class="ta-center" style="width:90px">Exhibits<br/>Received</th>
					<th width="10"></th>
				</tr>
				</thead>
				<tbody>
					<? $idx = 0;
					foreach ($charges as $charge) { ?>
						<tr class="<?= $idx++%2 ? 'zebra':'';?>" style="border-bottom: 1px solid #ddd;height: 40px;">
							<td></td>
							<td><?= htmlspecialchars($charge['created']); ?></td>
							<td><div class="table_td_rpt" style="width: 318px;" title="<?=$charge['userName'];?>"><?=($charge['userName']);?></div><div class="table_td_rpt" style="width: 318px;" title="<?=$charge['depositionClass'];?>"><?=htmlspecialchars($charge['depositionClass']);?></div></td>
							<td><div class="table_td_rpt" style="width: 318px;" title="<?=$charge['casename'];?>"><?=($charge['casename']);?></div><div class="table_td_rpt" style="width: 318px;" title="<?=$charge['depositionOf'];?>"><?=($charge['depositionOf']);?></div></td>
							<td class="ta-center"><div style="width: 90px;" title="<?=$charge['exhibitsIntroduced'];?>"><?=$charge['exhibitsIntroduced'];?></div></td>
							<td class="ta-center"><div style="width: 90px;" title="<?=$charge['exhibitsReceived'];?>"><?=$charge['exhibitsReceived'];?></div></td>
							<td></td>
                        </tr>
					<? } ?>
              </tbody>
            </table>
			<? } else {  ?>
			<h3>No information for this date range.</h3>
			<? } ?>
		</div>
		<div class="foot">
			<div class="footer-content">
				<div class="resellerName"><?=htmlspecialchars($resellerName);?></div>
				<img src="<?=$brandingLogo;?>" width="105" height="31" />
			</div>
		</div>
		<div class="pgbrk"></div>
      </panel>
   </repeater>
	<script>
	<![CDATA[
	$(document).ready( function() {
		var pageHeight = 1240;
		if( navigator.userAgent.indexOf( 'Safari' ) !== -1 && navigator.userAgent.indexOf( 'Chrome' ) === -1 ) {
			pageHeight = 1140;	//Safari only
		}
		var footHeight = 70;
		var lastTop = 0;
		$('.foot').each( function() {
			foot$ = $(this);
			pos = foot$.position();
			mTop = (pageHeight - pos.top - footHeight + lastTop);
			if( mTop < 0 ) {
				mTop = 0;
			}
			foot$.css( {'margin-top': mTop + 'px'} );
			lastTop = pos.top + mTop + footHeight;
		} );
		setTimeout( print, 100 );
	} );
	]]>
	</script>
</panel>