<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
    <div class="main_wrapper">
        <div class="content_control_wrapper reports">
            <div class="content_control">
                <div class="breadcrumb">
                    <p><a href="<?=$url.'/reports';?>"><?=$headName;?></a> / Report</p>
                </div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="content_control_wrapper reports">
            <div class="content_control">
				<div class="option_block reports" style="float:left;">
					<a href="javascript:;" class="btn_blue m_r20" onclick="checkRow('->printThisPage', <?=$count;?>)">
						<span class="btn_blue_r">Print</span>
					</a>
					<a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
						<span class="btn_blue_r">Export</span>
					</a>
				</div>
                <validatorrequired id="valdate" controls="startDate,endDate" client="1" groups="depo" class="error"/>
                <validatorcustom id="valDates" groups="depo" client="1" controls="startDate,endDate" clientFunction="valDates"/>
                <div class="option_block" style="float:right;">
                    <label>Start Date</label>
                    <datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
                    <label>End Date</label>
                    <datetimepicker id="endDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
					<a href="javascript:;" class="btn_blue" onclick="runReport();">
                        <span class="btn_blue_r">Update</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
				<? if ($count === 0) { ?>
					<div class="option_block reports table-total-box" style="float:left; padding-left:5px">No information for the selected date range.</div>
				<? } ?>
				<repeater id="repeat" count="1">
				<panel id="client">
				<? if ($showClientInfo) { ?>
					<div class="mx-info-box">
						<div class="coll3-box">
							<h4><?=$resellerName;?></h4>
							<?=$address;?><br/>
							<? if ($address2) { ?>
								<?=$address2;?><br/>
							<? } ?>
							<?=$city?><br/>
						</div>
						<div class="coll3-box">
							<b>Reseller Since:</b> <?=$sinceDate;?><br/>
							<b>Reseller ID:</b> <?=$resellerID;?><br/>
							<? if ($clientTypeID=='R'): ?>
							<b>Total Clients:</b> <?=$numResellerClients;?><br/>
							<? endif; ?>
							<b>Status:</b> <? if ($active) { ?><span class="fc_green">Active</span><br/><? } else {?> <span class="fc_red">Inactive</span><br/> <? } ?>
							<? if ($clientTypeID=='C'): ?>
							<b>Location:</b> <?=$location;?><br/>
							<? endif; ?>
						</div>
						<div class="coll3-box">
							<b>Contact:</b> <?=$contact;?><br/>
							<b>Email:</b> <?=$email;?><br/>
							<b>Phone:</b> <?=$phone;?>
						</div>
						<div class="clear"></div>
						<? if ($isAdmin) : ?>
						<div class="sales-rep"><b>Sales Rep:</b> <?=$salesRep?></div>
						<? endif; ?>
						<div class="date-range"><?=$date_range;?></div>
					</div>
				<? } ?>
                <div class="clear"></div>

				<div class="table-wrapper">
					<? if ($isAdmin && $clientName) { ?>
					<div class="report-client">
						<div style="float: left; width: 50%;">
						<?=$clientName;?> - Summary
						</div>
						<div style="float: right;">
						Location: <?= empty($clientLocation) ? "No Location" : $clientLocation;?>
						</div>
					</div>
					<? } ?>
					<? if ($charges) { ?>
						<table class="tbl_info_rpt reports m_t0 no-border" style="border-bottom:none">
							<tr>
								<th width="15"></th>
								<th width="90">Date</th>
								<th width="328">User<br/>Session Type</th>
								<th width="328">Case<br/>Session</th>
								<th class="t_a_c" width="90">Exhibits<br/>Introduced</th>
								<th class="t_a_c" width="90">Exhibits<br/>Received</th>
								<th width="15"></th>
							</tr>
								<? $idx = 0;
								   foreach ($charges as $charge) { ?>
								<tr class="<?= $idx++%2 ? 'zebra':'';?>">
									<td></td>
									<td><?=date( 'm/d/Y', strtotime( $charge['started'] ) );?></td>
									<td>
										<div class="tbl_td_rpt" style="width: 318px;" title="<?=$charge['userName'];?>"><?=$charge['userName'];?></div>
										<div class="tbl_td_rpt" style="width: 318px;" title="<?=$charge['sessionClass'];?>"><?=$charge['sessionClass'];?></div>
									</td>
									<td>
										<div class="tbl_td_rpt" style="width: 318px;" title="<?=$charge['caseName'];?>"><?=$charge['caseName'];?></div>
										<div class="tbl_td_rpt" style="width: 318px;" title="<?=$charge['sessionName'];?>"><?=$charge['sessionName'];?></div>
									</td>
									<td class="t_a_c">
										<div class="tbl_td_rpt" style="width: 90px;" title="<?=$charge['exhibitsIntroduced'];?>"><?= number_format($charge['exhibitsIntroduced'], 0); ?></div>
									</td>
									<td class="t_a_c">
										<div class="tbl_td_rpt" style="width: 90px;" title="<?=$charge['exhibitsReceived'];?>"><?= number_format($charge['exhibitsReceived'], 0); ?></div>
									</td>
									<td></td>
								</tr>
								<? } ?>
						</table>
					<? } else {  ?>
					<div class="option_block reports table-total-box" style="float:left; padding-left:5px">No information for this date range.</div>
					<? } ?>
	                <div class="clear"></div>
				</div>
				<? if ($isAdmin && !$lastClient) { ?>
				&nbsp;
                <hr class="bottom_line" />
                <div class="clear"></div>
				<? } elseif ($isAdmin && $lastClient ) { ?>
				&nbsp;
				<hr class="bottom_line" style="height: 3px;"/>
                <div class="clear"></div>
				<? } ?>
				</panel>
				</repeater>
                <div class="clear"></div>
                <div class="option_block reports p_t0" style="float:left;">
                    <a class="btn_blue m_r20" href="javascript:;" onclick="checkRow('->printThisPage', <?=$count;?>)">
                        <span class="btn_blue_r">Print</span>
                    </a>
                    <a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
                        <span class="btn_blue_r">Export</span>
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript"><![CDATA[
		function checkRow(arg, rowCount) {
			if (rowCount > 0) {
				ajax.max(1).doitSync(arg);
			}
		}

        function runReport(){
            if (validators.validate('depo', 'error', ' ')) {
                ajax.doit('->runReport');
            }

        }
        function valDates(ids) {
            var flag = true;
			var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[0]).value );
			var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[1]).value );
            if (dateE < dateS) {
                validators.results[ids[1]] = 0;
                return false;
            }
            return true;
        }
    ]]></script>
</panel>