<panel id="mainform" class="main" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
        <div class="content">
            <div class="content_header" style="overflow:visible;">
                <h2>eDepoze Admin Reports</h2>

                <div class="option_block reports">
                    <a href="javascript:;" onclick="ajax.max(1).doit('->exportClientList')" class="btn_blue option_btn m_r20">
                        <span class="btn_blue_r">Export Case List</span>
                    </a>
                    <a href="javascript:;" onclick="ajax.max(1).doit('->downloadPageAsPDF');" class="btn_blue option_btn">
                        <span class="btn_blue_r">Print Case List</span>
                    </a>						
                </div>
                <div class="reposts-total-box"><textlabel id="countCases" tag="b"/> Total Cases / <textlabel id="countDepos" tag="b"/> Total Depositions</div>
                <div class="clear"></div>
            </div>
            <div class="reports-date-box"><b>Today's Date</b> <?=date('m/d/Y');?></div>
            <widgetreportscases id="cases" /> 
        </div>
</panel>