<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
    <div class="main">
        <div class="content">
            <div class="content_header" style="overflow:visible;">
				<div class="row">
					<h2 class="p_t10"><?=$headName?></h2>
					<div class="option_block_small">
						<div class="text f_l p_t5">Status</div>
						<customdropdownbox id="status" class="custom-select big-arrow m_r20 t_0" style="z-index: 10;"/>
					</div>
				</div>
                <div class="clear"></div>
            </div>
            <widgetreports id="reports" />
        </div>
    </div>
</panel>