<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/report_print.html">
	<div class="clientReports">
		<?php if( is_array( $reports ) ): ?>
		<?php $r = 0; ?>
		<?php foreach( $reports as $rIdx => $report ): ?>
		<?php ++$r; ?>
		<div class="head">
			<h1 class="left">
			<?php if( $resellerLogo ): ?>
				<a href="javascript:;" style="background-image:url(<?=$resellerLogo;?>);"></a>
			<?php else: ?>
				<a href="javascript:;"></a>
			<?php endif; ?>
			</h1>
			<div class="right banner">Prices listed are your reseller wholesale costs. Do not send to your customers.</div>
			<div class="clear"></div>
		</div>
		<div class="report">
			<div class="client">
				<div class="mx-info-box">
					<h3 class="left"><?=$report->client['name'];?></h3>
					<div class="date-range"><b><?=$startDate;?> &ndash; <?=$endDate;?></b></div>
					<div class="clear"></div>
					<div class="left w_33p">
						
						<p><?=$report->client['address1'];?></p>
						<?php if( $report->client['address2'] ): ?>
						<p><?=$report->client['address2'];?></p>
						<?php endif; ?>
						<p><?=$report->client['city'];?>, <?=$report->client['state'];?> <?=$report->client['ZIP'];?></p>
					</div>
					<div class="left w_33p">
						<p><b>Client Since:</b> <?=date( 'm/d/Y', strtotime( $report->client['created'] ) );?></p>
						<p><b>Status:</b> <?=($report->client['deactivated']) ? '<span class="fc_red">Inactive</span>' : '<span class="fc_green">Active</span>';?></p>
						<p><b>Location:</b> <?=$report->client['location'];?></p>
					</div>
					<div class="left w_33p">
						<p><b>Contact:</b> <?=$report->client['contactName'];?></p>
						<p><b>Email:</b> <?=$report->client['contactEmail'];?></p>
						<p><b>Phone:</b> <?=$report->client['contactPhone'];?></p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="usage">
				<?php if( $report->usage ): ?>
				<table width="100%">
					<thead>
						<tr>
							<th width="70" class="col-date">Date</th>
							<th class="col-desc">Description/User</th>
							<th width="290" class="col-case">Case/Session</th>
							<th width="70" class="col-qty">Quantity</th>
							<th width="90" class="col-price">Wholesale $</th>
							<th width="90" class="col-total">Line Total</th>
						</tr>
					</thead>
					<tbody>
						<?php $clientTotal = 0; ?>
						<?php foreach( $report->usage as $i => $item ): ?>
						<?php $lineTotal = $item['quantity'] * $item['price']; ?>
						<?php $clientTotal += $lineTotal; ?>
						<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
							<td class="col-date"><?=date( 'm/d/Y', strtotime( $item['created'] ) );?></td>
							<td class="col-desc">
								<div><?=$item['pricingOption'];?></div>
								<?php if( in_array( $item['optionID'], $userPricingOptions ) ): ?>
								<div><?=$item['userFullName'];?></div>
								<?php endif; ?>
							</td>
							<td class="col-case">
								<div><?=$item['caseName'];?></div>
								<div><?=$item['witness'];?></div>
							</td>
							<td class="col-qty"><?=$item['quantity'];?></td>
							<td class="col-price">$<?=number_format( $item['price'], 2 );?></td>
							<td class="col-total">$<?=number_format( $lineTotal, 2 );?></td>
						</tr>
						<?php endforeach; ?>
						<tr>
							<td colspan="6" class="tbl-total">
								Total $<?=number_format( $clientTotal, 2 );?>
							</td>
						</tr>
					</tbody>
				</table>
				<?php else: ?>
				<div class="nodata">No information for this date range.</div>
				<?php endif; ?>
			</div>
		</div>
		<div class="foot">
			<div class="footer-content">
				<img src="<?=$brandingLogo;?>" width="105" height="31" />
			</div>
		</div>
		<div class="clear"></div>
		<?php if( $r < $count ): ;?>
		<div class="page-break"></div>
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
	<style type="text/css">
		.w_33p {
			width: 33%;
		}
		.clientReports .banner {
			color: red;
			text-align: center;
			margin-top: 20px;
			width: 760px;
			font-size: 15px;
		}
		.clientReports .mx-info-box {
			margin: 10px 0 5px 0;
			border-top: 1px solid #bcbcbc;
			border-bottom: 1px solid #bcbcbc;
			padding: 10px 0;
		}

		.clientReports h3 {
			font-size: 18px;
			padding-right: 10px;
		}

		.clientReports .date-range {
			float: right;
			font-size: 16px;
		}

		.clientReports .usage {
			font-size: 12px;
			line-height: 24px;
			margin-bottom: 10px;
		}

		.clientReports .usage table {
			border-collapse: collapse;
			border-spacing: 1px;
		}

		.clientReports .usage table thead tr {
			background-color: #00a5e4;
			color: #fff;
		}
		.clientReports .usage table thead tr th {
			font-weight: normal;
			text-align: left;
			padding-left: 8px;
		}

		.clientReports .usage table tbody tr {
			border-bottom: 1px solid #d0d0d0;
		}

		.clientReports .usage table .zebra {
			background-color: #ececec;
		}

		.clientReports .usage table tbody tr td {
			padding-left: 8px;
		}

		.clientReports .usage table .col-qty {
			text-align: center;
			padding: 0;
		}

		.clientReports .usage table .col-price, .clientReports .usage table .col-total {
			text-align: right;
			padding-left: 0;
			padding-right: 8px;
		}

		.clientReports .usage table td.col-total {
			font-weight: bold;
		}

		.clientReports .usage table .tbl-total {
			padding: 5px 16px 5px 0;
			text-align: right;
			font-size: 16px;
			font-weight: bold;
		}

		.clientReports .nodata {
			border: 1px solid #ccc;
			padding: 8px;
			font-size: 14px;
			text-align: center;
		}
	</style>
	<script>
	<![CDATA[
	$(document).ready( function() {
		var pageHeight = 1240;
		if( navigator.userAgent.indexOf( 'Safari' ) !== -1 && navigator.userAgent.indexOf( 'Chrome' ) === -1 ) {
			pageHeight = 1140;	//Safari only
		}
		var footHeight = 70;
		var lastTop = 0;
		$('.foot').each( function() {
			foot$ = $(this);
			pos = foot$.position();
			mTop = (pageHeight - pos.top - footHeight + lastTop);
			if( mTop < 0 ) {
				mTop = 0;
			}
			foot$.css( {'margin-top': mTop + 'px'} );
			lastTop = pos.top + mTop + footHeight;
		} );
		setTimeout( print, 100 );
	} );
	]]>
	</script>
</panel>