<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="breadcrumb">
			<p><a href="<?=$url;?>/reports">Client Reports</a> / Report</p>
		</div>
	</div>
</div>
<div class="content_control_wrapper reports">
	<div class="content_control">
		<div class="option_block reports" style="float:left;">
			<a href="javascript:;" class="btn_blue m_r20" onclick="checkRow('->printThisPage', <?=$count;?>)">
				<span class="btn_blue_r">Print</span>
			</a>
			<a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
				<span class="btn_blue_r">Export</span>
			</a>
		</div>
		<validatorrequired id="valdate" controls="startDate,endDate" client="1" groups="depo" class="error"/>
		<validatorcustom id="valDates" groups="depo" client="1" controls="startDate,endDate" clientFunction="valDates"/>
		<div class="option_block" style="float:right;">
			<label>Start Date</label>
			<datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
			<label>End Date</label>
			<datetimepicker id="endDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
			<? if ($isAdmin) { ?>
			<customdropdownbox id="zeroAmount" class="custom-select big-arrow m_l0 m_r20 t_0" style="z-index: 10; width: 159px;"/>
			<? } ?>
			<a href="javascript:;" class="btn_blue" onclick="runReport();">
				<span class="btn_blue_r">Update</span>
			</a>
		</div>
	</div>
</div>
<div class="main">
	<div class="content clientReports">
		<div class="t_a_c" style="color:red;font-size:15px;line-height:15px;margin-top:5px;">Prices listed are your reseller wholesale costs. Do not send to your customers.</div>
		<?php if( is_array( $reports ) ): ?>
		<?php foreach( $reports as $rIdx => $report ): ?>
		<div class="report">
			<div class="client">
				<div class="mx-info-box">
					<h4 class="f_l"><?=$report->client['name'];?></h4>
					<div class="date-range"><b><?=$startDate;?> &ndash; <?=$endDate;?></b></div>
					<div class="clear"></div>
					<div class="f_l w_33p">
						<p><?=$report->client['address1'];?></p>
						<?php if( $report->client['address2'] ): ?>
						<p><?=$report->client['address2'];?></p>
						<?php endif; ?>
						<p><?=$report->client['city'];?>, <?=$report->client['state'];?> <?=$report->client['ZIP'];?></p>
					</div>
					<div class="f_l w_33p">
						<p><b>Client Since:</b> <?=date( 'm/d/Y', strtotime( $report->client['created'] ) );?></p>
						<p><b>Status:</b> <?=($report->client['deactivated']) ? '<span class="fc_red">Inactive</span>' : '<span class="fc_green">Active</span>';?></p>
						<p><b>Location:</b> <?=$report->client['location'];?></p>
					</div>
					<div class="f_l w_33p">
						<p><b>Contact:</b> <?=$report->client['contactName'];?></p>
						<p><b>Email:</b> <?=$report->client['contactEmail'];?></p>
						<p><b>Phone:</b> <?=$report->client['contactPhone'];?></p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="usage">
				<?php if( $report->usage ): ?>
				<table width="100%">
					<thead>
						<tr>
							<th width="70" class="col-date">Date</th>
							<th class="col-desc">Description/User</th>
							<th width="290" class="col-case">Case/Session</th>
							<th width="70" class="col-qty">Quantity</th>
							<th width="90" class="col-price">Wholesale $</th>
							<th width="90" class="col-total">Line Total</th>
						</tr>
					</thead>
					<tbody>
						<?php $clientTotal = 0; ?>
						<?php foreach( $report->usage as $i => $item ): ?>
						<?php $lineTotal = $item['quantity'] * $item['price']; ?>
						<?php $clientTotal += $lineTotal; ?>
						<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
							<td class="col-date"><?=date( 'm/d/Y', strtotime( $item['created'] ) );?></td>
							<td class="col-desc">
								<div><?=$item['pricingOption'];?></div>
								<?php if( in_array( $item['optionID'], $userPricingOptions ) ): ?>
								<div><?=$item['userFullName'];?></div>
								<?php endif; ?>
							</td>
							<td class="col-case">
								<div><?=$item['caseName'];?></div>
								<div><?=$item['witness'];?><?=(($item['volume']) ? " (volume: {$item['volume']})":'');?></div>
							</td>
							<td class="col-qty"><?=$item['quantity'];?></td>
							<td class="col-price">$<?=number_format( $item['price'], 2 );?></td>
							<td class="col-total">$<?=number_format( $lineTotal, 2 );?></td>
						</tr>
						<?php endforeach; ?>
						<tr>
							<td colspan="6" class="tbl-total">
								Total $<?=number_format( $clientTotal, 2 );?>
							</td>
						</tr>
					</tbody>
				</table>
				<?php else: ?>
				<div class="nodata">No information for this date range.</div>
				<?php endif; ?>
			</div>
		</div>
		<div class="clear"></div>
		<hr class="bottom_line" style="height:3px;" />
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
</div>
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="option_block">
			<a href="javascript:;" class="btn_blue m_r20" onclick="checkRow('->printThisPage', <?=$count;?>)">
				<span class="btn_blue_r">Print</span>
			</a>
			<a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
				<span class="btn_blue_r">Export</span>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
<![CDATA[
function checkRow( arg, rowCount )
{
	if( rowCount > 0 ) {
		ajax.max(1).doitSync( arg );
	}
};

function valDates( ids )
{
	var flag = false;
	var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[0]).value );
	var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[1]).value );
	if( dateS === null ) {
		validators.results[ids[0]] = 0;
	}
	if( dateE === null ) {
		validators.results[ids[1]] = 0;
	}
	flag = (dateS !== null && dateE !== null && (dateE > dateS || dateE < dateS));
	return flag;
};

function runReport()
{
	if( validators.validate( 'report', 'error', ' ' ) ) {
		ajax.doit( '->runReport', ajax.getFormValues() );
	}
}
]]>
</script>
</panel>