<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/report_print.html">
	<div class="clientReports">
		<?php if( is_array( $reports ) ): ?>
		<?php $r = 0; ?>
		<?php foreach( $reports as $rIdx => $report ): ?>
		<?php ++$r; ?>
		<div class="head">
			<h1 class="left">
			<?php if( $resellerLogo ): ?>
				<a href="javascript:;" style="background-image:url(<?=$resellerLogo;?>);"></a>
			<?php else: ?>
				<a href="javascript:;"></a>
			<?php endif; ?>
			</h1>
			<div class="clear"></div>
		</div>
		<div class="report">
			<?php if( $report->showReseller && $report->reseller ): ?>
			<div class="reseller">
				<div class="mx-info-box">
					<h4 class="f_l">Reseller: </h4>
					<div class="f_l w_250">
						<h4><?=$report->reseller['name'];?></h4>
						<p class="to_e w_240"><?=$report->reseller['address1'];?></p>
						<?php if( $report->reseller['address2'] ): ?>
						<p class="to_e w_240"><?=$report->reseller['address2'];?></p>
						<?php endif; ?>
						<?php if( $report->reseller['countryCode'] === 'OT' ): ?>
						<p class="to_e w_240"><?=$report->reseller['city'];?>, <?=$report->reseller['region'];?> <?=$report->reseller['ZIP'];?></p>
						<?php else : ?>
						<p class="to_e w_240"><?=$report->reseller['city'];?>, <?=$report->reseller['state'];?> <?=$report->reseller['ZIP'];?>, <?=$report->reseller['countryCode'];?></p>
						<?php endif; ?>
					</div>
					<div class="f_l">
						<h4>&nbsp;</h4>
						<p><b>Reseller Since:</b> <?=date( 'm/d/Y', strtotime( $report->reseller['created'] ) );?></p>
						<div class="to_e"><p><b>Status:</b> <?=($report->reseller['deactivated']) ? '<span class="fc_red">Inactive</span>' : '<span class="fc_green">Active</span>';?></p></div>
					</div>
					<div class="f_r w_340">
						<div class="date-range"><b><?=$reportDate;?></b></div>
						<div class="clear"></div>
						<p class="to_e w_330"><b>Contact:</b> <?=$report->reseller['contactName'];?></p>
						<p class="to_e w_330"><b>Email:</b> <?=$report->reseller['contactEmail'];?></p>
						<p><b>Phone:</b> <?=$report->reseller['contactPhone'];?></p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<?php if( $report->resellerSummary && !empty($report->resellerSummary) ): ?>
			<div class="usage table-wrapper" style="border-color:#BCBCBC; margin-bottom:10px">
				<table width="100%">
					<thead>
						<tr>
							<th width="424">Firm</th>
							<th width="200">Per Users</th>
							<th width="200">Per Case</th>
							<th width="100"><div style="text-align:right; margin-right:10px;">Subtotal</div></th>
						</tr>
					</thead>
					<tbody>
						<?php $resellerSum = 0; ?>
						<?php foreach( $report->resellerSummary as $i => $summary ): ?>
						<?php $resellerSum += $summary['subtotal']; ?>
						<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
							<td><div class="to_e" style="width:414px"><?=$summary['name']?></div></td>
							<td><?=$summary['perUserCount']?></td>
							<td><?=$summary['perCaseCount']?></td>
							<td><div style="text-align:right; margin-right:10px;">$<?=number_format($summary['subtotal'], 2);?></div></td>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<div class="user-tbl-total">Total: $<?=number_format($resellerSum, 2);?></div>
			</div>
			<?php else: ?>
			<div class="nodata">No information for this date range.</div>
			<?php endif; ?>
			<div class="foot">
				<div class="footer-content">
					<div class="resellerName"><?=$report->reseller['name'];?></div>
					<img src="<?=$brandingLogo;?>" width="105" height="31" />
				</div>
			</div>
			<p style="page-break-after:always;"></p>
			<?php endif; ?>
			<div class="client">
				<div class="mx-info-box">
					<h3 class="f_l">Firm: </h3>
					<div class="f_l w_280">
						<h4><?=$report->client['name'];?></h4>
						<p class="to_e w_270"><?=$report->client['address1'];?></p>
						<?php if( $report->client['address2'] ): ?>
						<p class="to_e w_270"><?=$report->client['address2'];?></p>
						<?php endif; ?>
						<?php if( $report->client['countryCode'] === 'OT' ): ?>
						<p class="to_e w_270"><?=$report->client['city'];?>, <?=$report->client['region'];?> <?=$report->client['ZIP'];?></p>
						<?php else : ?>
						<p class="to_e w_270"><?=$report->client['city'];?>, <?=$report->client['state'];?> <?=$report->client['ZIP'];?>, <?=$report->client['countryCode'];?></p>
						<?php endif; ?>
					</div>
					<div class="f_l">
						<h4>&nbsp;</h4>
						<p><b>Client Since:</b> <?=date( 'm/d/Y', strtotime( $report->client['created'] ) );?></p>
						<div class="to_e"><p><b>Status:</b> <?=($report->client['deactivated']) ? '<span class="fc_red">Inactive</span>' : '<span class="fc_green">Active</span>';?></p></div>
					</div>
					<div class="f_r w_340">
						<div class="date-range"><b><?=$reportDate;?></b></div>
						<div class="clear"></div>
						<p class="to_e w_330"><b>Contact:</b> <?=$report->client['contactName'];?></p>
						<p class="to_e w_330"><b>Email:</b> <?=$report->client['contactEmail'];?></p>
						<p><b>Phone:</b> <?=$report->client['contactPhone'];?></p>
						</div>
					<div class="clear"></div>
				</div>
			</div>
			<?php if( $report->unassociatedUsers && !empty($report->unassociatedUsers) ): ?>
			<div class="usage" style="border-color:#BCBCBC; margin-bottom:10px">
				<table width="100%">
					<thead>
						<tr>
							<th width="200">User</th>
							<th width="200">Username</th>
							<th width="128">City</th>
							<th width="128">State/Region</th>
							<th width="126">Created</th>
							<th width="126">Deleted</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach( $report->unassociatedUsers as $i => $user ): ?>
						<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
							<td><div class="to_e" style="width:200px" title="<?=$user['lastName'] . ', ' . $user['firstName'];?>"><?=$user['lastName'] . ', ' . $user['firstName'];?></div></td>
							<td><div class="to_e" style="width:200px" title="<?=$user['username'];?>"><?=$user['username'];?></div></td>
							<td><div class="to_e" style="width:128px" title="<?=$user['city'];?>"><?=$user['city'];?></div></td>
							<?php if ( $user['state'] ): ?>
							<td><div class="to_e" style="width:128px"><?=$user['state'];?></div></td>
							<?php else: ?>
							<td><div class="to_e" style="width:128px"><?=$user['region']?></div></td>
							<?php endif; ?>
							<td><?=date( 'm/d/Y', strtotime( $user['created'] ) );?></td>
							<?php if ( $user['deleted'] ): ?>
							<td><?=date( 'm/d/Y', strtotime( $user['deleted'] ) );?></td>
							<?php else: ?>
							<td>-</td>
							<?php endif; ?>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<div class="user-tbl-total">Total Users: <?=count($report->unassociatedUsers)?></div>
			</div>
			<?php else: ?>
			<div class="nodata">No unassociated users for this date range.</div>
			<?php endif; ?>
			<div class="report">
				<?php if( isset($report->cases) && empty($report->cases) ): ?>
				<div class="nodata">No information for this date range.</div>
				<div class="foot">
					<div class="footer-content">
						<div class="resellerName"><?=$report->reseller['name'];?></div>
						<img src="<?=$brandingLogo;?>" width="105" height="31" />
					</div>
				</div>
				<p style="page-break-after:always;"></p>
				<?php else: ?>
				<div class="foot">
					<div class="footer-content">
						<div class="resellerName"><?=$report->reseller['name'];?></div>
						<img src="<?=$brandingLogo;?>" width="105" height="31" />
					</div>
				</div>
				<p style="page-break-after:always;"></p>
				<?php foreach ( $report->cases as $case ) : ?>
				<div class="client">
					<div class="mx-info-box">
						<h3 class="f_l">Firm: </h3>
						<div class="f_l w_280">
							<h4><?=$report->client['name'];?></h4>
							<p class="to_e w_270"><?=$report->client['address1'];?></p>
							<?php if( $report->client['address2'] ): ?>
							<p class="to_e w_270"><?=$report->client['address2'];?></p>
							<?php endif; ?>
							<?php if( $report->client['countryCode'] === 'OT' ): ?>
							<p class="to_e w_270"><?=$report->client['city'];?>, <?=$report->client['region'];?> <?=$report->client['ZIP'];?></p>
							<?php else : ?>
							<p class="to_e w_270"><?=$report->client['city'];?>, <?=$report->client['state'];?> <?=$report->client['ZIP'];?>, <?=$report->client['countryCode'];?></p>
							<?php endif; ?>
						</div>
						<div class="f_l">
							<h4>&nbsp;</h4>
							<p><b>Client Since:</b> <?=date( 'm/d/Y', strtotime( $report->client['created'] ) );?></p>
							<div class="to_e"><p><b>Status:</b> <?=($report->client['deactivated']) ? '<span class="fc_red">Inactive</span>' : '<span class="fc_green">Active</span>';?></p></div>
						</div>
						<div class="f_r w_340">
							<div class="date-range"><b><?=$reportDate;?></b></div>
							<div class="clear"></div>
							<p class="to_e w_330"><b>Contact:</b> <?=$report->client['contactName'];?></p>
							<p class="to_e w_330"><b>Email:</b> <?=$report->client['contactEmail'];?></p>
							<p><b>Phone:</b> <?=$report->client['contactPhone'];?></p>
							</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="case">
					<div class="mx-info-box">
						<div class="left w_56p"><h3>Case: <?=$case['caseName'];?></h3></div>
						<div class="left w_43p"><b>Case/Matter #:</b> <?=$case['caseNumber'];?></div>
						<div class="clear"></div>
						<div class="left w_56p to_e"><b>Firm:</b> <?=$report->client['name'];?></div>
						<div class="left w_43p"><b>Date:</b> <?=$reportDate;?></div>
						<div class="clear"></div>
						<div class="left w_33p to_e"><b>Contact:</b> <?=$case['clientFirstName'];?> <?=$case['clientLastName'];?></div>
						<div class="left w_23p"><b>Phone:</b> <?=$case['clientPhone'];?></div>
						<div class="left w_43p to_e"><b>Email:</b> <?=$case['clientEmail'];?></div>
						<div class="clear"></div>
						<div class="f_l"><b>Address: </b><?=$case['clientAddress'];?></div>
						<div class="clear"></div>
					</div>
					<div class="usage" style="border-color:#BCBCBC; margin-bottom:10px">
						<table width="100%">
							<thead>
								<tr>
									<th width="200">User</th>
									<th width="200">Username</th>
									<th width="128">City</th>
									<th width="128">State/Region</th>
									<th width="112">Created</th>
									<th width="110">Deleted</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach( $case['users'] as $i => $user ): ?>
								<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
									<td><div class="to_e" style="width:200px" title="<?=$user['lastName'] . ', ' . $user['firstName'];?>"><?=$user['lastName'] . ', ' . $user['firstName'];?></div></td>
									<td><div class="to_e" style="width:200px" title="<?=$user['username'];?>"><?=$user['username'];?></div></td>
									<td><div class="to_e" style="width:128px" title="<?=$user['city'];?>"><?=$user['city'];?></div></td>
									<?php if ( $user['state'] ): ?>
									<td><div class="to_e" style="width:128px"><?=$user['state'];?></div></td>
									<?php else: ?>
									<td><div class="to_e" style="width:128px"><?=$user['region']?></div></td>
									<?php endif; ?>
									<td><?=date( 'm/d/Y', strtotime( $user['created'] ) );?></td>
									<?php if ( $user['deleted'] ): ?>
									<td><?=date( 'm/d/Y', strtotime( $user['deleted'] ) );?></td>
									<?php else: ?>
									<td>-</td>
									<?php endif; ?>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
						<div class="user-tbl-total">Total Users: <?=count($case['users'])?></div>
					</div>
				</div>
				<div class="foot">
					<div class="footer-content">
						<div class="resellerName"><?=$report->reseller['name'];?></div>
						<img src="<?=$brandingLogo;?>" width="105" height="31" />
					</div>
				</div>
				<p style="page-break-after:always;"></p>
				<?php endforeach; ?>
				<?php endif; ?>
			</div>
		</div>
		<div class="clear"></div>
		<?php if( $r < $count ): ;?>
		<div class="page-break"></div>
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
	<style type="text/css">
		.w_23p {
			width: 23%;
		}
		.w_33p {
			width: 33%;
		}
		.w_43p {
			width: 43%;
		}
		.w_56p {
			width: 56%;
		}
		.w_240 {
			width: 240px;
		}
		.w_250 {
			width: 250px;
		}
		.w_270 {
			width: 270px;
		}
		.w_280 {
			width: 280px;
		}
		.w_330 {
			width: 330px;
		}
		.w_340 {
			width: 340px;
		}
		.to_e {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.f_l {
			float: left;
		}
		.f_r {
			float: right;
		}
		.clientReports .banner {
			color: red;
			text-align: center;
			margin-top: 20px;
			width: 760px;
			font-size: 15px;
		}
		.clientReports .mx-info-box {
			margin: 10px 0 0 0;
			border-top: 1px solid #bcbcbc;
			padding: 10px;
			font-size: 14px;
		}

		.clientReports .reseller .mx-info-box, .clientReports .reseller .mx-info-box h4 {
			background-color: #315A75;
			color: #DDD;
		}

		.clientReports .client .mx-info-box {
			background-color: #ADC2CF;
		}

		.clientReports .case .mx-info-box {
			background-color: #F7F9FB;
			margin: 0;
		}

		.clientReports .mx-info-box h4 {
			font-size: 18px;
			font-weight:bold;
			color:#414141;
			padding-right: 10px;
		}

		.clientReports h3 {
			font-size: 18px;
			padding-right: 10px;
		}

		.clientReports .date-range {
			float: right;
			font-size: 16px;
		}

		.clientReports .usage {
			font-size: 12px;
			line-height: 24px;
			margin-bottom: 10px;
		}

		.clientReports .usage table {
			border-collapse: collapse;
			border-spacing: 1px;
		}

		.clientReports .usage table thead tr {
			background-color: #9A9CA0;
			color: #fff;
		}
		.clientReports .usage table thead tr th {
			font-weight: normal;
			text-align: left;
			padding-left: 8px;
		}

		.clientReports .usage table tbody tr {
			border-bottom: 1px solid #d0d0d0;
		}

		.clientReports .usage table .zebra {
			background-color: #ececec;
		}

		.clientReports .usage table tbody tr td {
			padding-left: 8px;
		}

		.clientReports .usage table .col-qty {
			text-align: center;
			padding: 0;
		}

		.clientReports .usage table .col-price, .clientReports .usage table .col-total {
			text-align: right;
			padding-left: 0;
			padding-right: 8px;
		}

		.clientReports .usage table td.col-total {
			font-weight: bold;
		}

		.clientReports .usage table .tbl-total {
			padding: 5px 16px 5px 0;
			text-align: right;
			font-size: 16px;
			font-weight: bold;
		}

		.clientReports .nodata {
			border: 1px solid #ccc;
			padding: 8px;
			font-size: 14px;
			text-align: center;
		}

		.clientReports .user-tbl-total {
			padding: 0 10px 0 0;
			text-align: right;
			font-size: 14px;
			font-weight: bold;
			background-color: #FFF;
		}
	</style>
	<script>
	<![CDATA[
	$(document).ready( function() {
		var pageHeight = 1240;
		if( navigator.userAgent.indexOf( 'Safari' ) !== -1 && navigator.userAgent.indexOf( 'Chrome' ) === -1 ) {
			pageHeight = 1140;	//Safari only
		}
		var footHeight = 70;
		var lastTop = 0;
		$('.foot').each( function() {
			foot$ = $(this);
			pos = foot$.position();
			mTop = (pageHeight - pos.top - footHeight + lastTop);
			if( mTop < 0 ) {
				mTop = 0;
			}
			foot$.css( {'margin-top': mTop + 'px'} );
			lastTop = pos.top + mTop + footHeight;
		} );
		setTimeout( print, 100 );
	} );
	]]>
	</script>
</panel>