<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
<!--<div class="main">-->
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="breadcrumb">
			<p><a href="<?=$url;?>/reports/user">User Reports</a> / Report</p>
		</div>
	</div>
</div>
<div class="content_control_wrapper reports" style="height:74px">
	<div class="content_control" style="overflow:visible">
		<div class="option_block reports" style="float:left;padding:29px 0 0 0;">
			<a href="javascript:;" class="btn_blue m_r20" onclick="checkRow('->printThisPage', <?=$count;?>)">
				<span class="btn_blue_r">Print</span>
			</a>
			<a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
				<span class="btn_blue_r">Export</span>
			</a>
		</div>
		<div class="f_r">
			<table align="right">
				<thead>
					<tr>
						<th><label class="label">Month</label></th>
						<th><label class="label">Year</label></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="140">
							<customdropdownbox id="month" class="custom-select big-arrow t_0 l_0"/>
						</td>
						<td width="140">
							<customdropdownbox id="year" class="custom-select big-arrow t_0 l_0"/>
						</td>
						<td width="100" style="vertical-align: bottom;">
							<a href="javascript:;" class="btn_blue" onclick="runReport();">
								<span class="btn_blue_r">Update</span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="main">
	<div class="content clientReports">
		<?php if( is_array( $reports ) ): ?>
		<?php foreach( $reports as $rIdx => $report ): ?>
		<div class="report">
			<?php if( $report->showReseller && $report->reseller ): ?>
			<div class="reseller">
				<div class="mx-info-box">
					<h4 class="f_l">Reseller: </h4>
					<div class="f_l w_250">
						<h4><?=$report->reseller['name'];?></h4>
						<p class="to_e w_240"><?=$report->reseller['address1'];?></p>
						<?php if( $report->reseller['address2'] ): ?>
						<p class="to_e w_240"><?=$report->reseller['address2'];?></p>
						<?php endif; ?>
						<?php if( $report->reseller['countryCode'] === 'OT' ): ?>
						<p class="to_e w_240"><?=$report->reseller['city'];?>, <?=$report->reseller['region'];?> <?=$report->reseller['ZIP'];?></p>
						<?php else : ?>
						<p class="to_e w_240"><?=$report->reseller['city'];?>, <?=$report->reseller['state'];?> <?=$report->reseller['ZIP'];?>, <?=$report->reseller['countryCode'];?></p>
						<?php endif; ?>
					</div>
					<div class="f_l">
						<h4>&nbsp;</h4>
						<p><b>Reseller Since:</b> <?=date( 'm/d/Y', strtotime( $report->reseller['created'] ) );?></p>
						<div class="to_e"><p><b>Status:</b> <span><?=($report->reseller['deactivated'] ? 'Inactive' : 'Active');?></span></p></div>
					</div>
					<div class="f_r w_340">
						<div class="date-range"><b><?=$reportDate;?></b></div>
						<div class="clear"></div>
						<p class="to_e w_330" title="<?=$report->reseller['contactName'];?>"><b>Contact:</b> <?=$report->reseller['contactName'];?></p>
						<p class="to_e w_330" title="<?=$report->reseller['contactEmail'];?>"><b>Email:</b> <?=$report->reseller['contactEmail'];?></p>
						<p><b>Phone:</b> <?=$report->reseller['contactPhone'];?></p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<?php if( $report->resellerSummary && !empty($report->resellerSummary) ): ?>
			<div class="usage table-wrapper" style="border-color:#BCBCBC; margin-bottom:10px">
				<table width="100%">
					<thead>
						<tr>
							<th width="424">Firm</th>
							<th width="200">Per User/Month</th>
							<th width="200">Per User/Month/Case</th>
							<th width="100"><div style="text-align:right; margin-right:10px;">Subtotal</div></th>
						</tr>
					</thead>
					<tbody>
						<?php $resellerSum = 0; ?>
						<?php foreach( $report->resellerSummary as $i => $summary ): ?>
						<?php $resellerSum += $summary['subtotal']; ?>
						<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
							<td><div class="to_e" style="width:414px"><?=$summary['name']?></div></td>
							<td><?=$summary['perUserCount']?></td>
							<td><?=$summary['perCaseCount']?></td>
							<td><div style="text-align:right; margin-right:10px;">$<?=number_format($summary['subtotal'], 2);?></div></td>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<div class="user-tbl-total">Total: $<?=number_format($resellerSum, 2);?></div>
			</div>
			<?php else: ?>
			<div class="nodata">No information for this date range.</div>
			<?php endif; ?>
			<?php endif; ?>
			<div class="client">
				<div class="mx-info-box">
					<h4 class="f_l">Firm: </h4>
					<div class="f_l w_280">
						<h4><?=$report->client['name'];?></h4>
						<p class="to_e w_270"><?=$report->client['address1'];?></p>
						<?php if( $report->client['address2'] ): ?>
						<p class="to_e w_270"><?=$report->client['address2'];?></p>
						<?php endif; ?>
						<?php if( $report->client['countryCode'] === 'OT' ): ?>
						<p class="to_e w_270"><?=$report->client['city'];?>, <?=$report->client['region'];?> <?=$report->client['ZIP'];?></p>
						<?php else : ?>
						<p class="to_e w_270"><?=$report->client['city'];?>, <?=$report->client['state'];?> <?=$report->client['ZIP'];?>, <?=$report->client['countryCode'];?></p>
						<?php endif; ?>
					</div>
					<div class="f_l">
						<h4>&nbsp;</h4>
						<p><b>Client Since:</b> <?=date( 'm/d/Y', strtotime( $report->client['created'] ) );?></p>
						<div class="to_e"><p><b>Status:</b> <span><?=($report->client['deactivated'] ? 'Inactive' : 'Active');?></span></p></div>
					</div>
					<div class="f_r w_340">
						<div class="date-range"><b><?=$reportDate;?></b></div>
						<div class="clear"></div>
						<p class="to_e w_330" title="<?=$report->client['contactName'];?>"><b>Contact:</b> <?=$report->client['contactName'];?></p>
						<p class="to_e w_330" title="<?=$report->client['contactEmail'];?>"><b>Email:</b> <?=$report->client['contactEmail'];?></p>
						<p><b>Phone:</b> <?=$report->client['contactPhone'];?></p>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<?php if( $report->unassociatedUsers && !empty($report->unassociatedUsers) ): ?>
			<div class="usage table-wrapper" style="border-color:#BCBCBC; margin-bottom:10px">
				<table width="100%">
					<thead>
						<tr>
							<th width="200">User</th>
							<th width="200">Username</th>
							<th width="128">City</th>
							<th width="128">State/Region</th>
							<th width="126">Created</th>
							<th width="126">Deleted</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach( $report->unassociatedUsers as $i => $user ): ?>
						<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
							<td><div class="to_e" style="width:200px" title="<?=$user['lastName'] . ', ' . $user['firstName'];?>"><?=$user['lastName'] . ', ' . $user['firstName'];?></div></td>
							<td><div class="to_e" style="width:200px" title="<?=$user['username'];?>"><?=$user['username'];?></div></td>
							<td><div class="to_e" style="width:128px" title="<?=$user['city'];?>"><?=$user['city'];?></div></td>
							<?php if ( $user['state'] ): ?>
							<td><div class="to_e" style="width:128px"><?=$user['state'];?></div></td>
							<?php else: ?>
							<td><div class="to_e" style="width:128px"><?=$user['region']?></div></td>
							<?php endif; ?>
							<td><?=date( 'm/d/Y', strtotime( $user['created'] ) );?></td>
							<?php if ( $user['deleted'] ): ?>
							<td><?=date( 'm/d/Y', strtotime( $user['deleted'] ) );?></td>
							<?php else: ?>
							<td>-</td>
							<?php endif; ?>
						</tr>
						<?php endforeach; ?>
					</tbody>
				</table>
				<div class="user-tbl-total">Total Users: <?=count($report->unassociatedUsers)?></div>
			</div>
			<?php else: ?>
			<div class="nodata">No unassociated users for this date range.</div>
			<?php endif; ?>
			<div class="usage">
				<?php if( $report->cases && !empty($report->cases) ): ?>
				<?php foreach ( $report->cases as $case ) : ?>
				<div class="case">
					<div class="mx-info-box">
						<div class="f_l w_56p"><h4>Case: <?=$case['caseName'];?></h4></div>
						<div class="f_l w_43p"><b>Case/Matter #:</b> <?=$case['caseNumber'];?></div>
						<div class="clear"></div>
						<div class="f_l w_56p to_e" title="<?=$report->client['name'];?>"><b>Firm:</b> <?=$report->client['name'];?></div>
						<div class="f_l w_43p"><b>Created Date:</b> <?=date( 'm/d/Y', strtotime( $case['caseCreatedDate'] ) );?></div>
						<div class="clear"></div>
						<div class="f_l w_33p to_e" title="<?=$case['clientFirstName'];?> <?=$case['clientLastName'];?>"><b>Contact:</b> <?=$case['clientFirstName'];?> <?=$case['clientLastName'];?></div>
						<div class="f_l w_23p"><b>Phone:</b> <?=$case['clientPhone'];?></div>
						<div class="f_l w_43p to_e" title="<?=$case['clientEmail'];?>"><b>Email:</b> <?=$case['clientEmail'];?></div>
						<div class="clear"></div>
						<div class="f_l"><b>Address: </b><?=$case['clientFullAddress'];?></div>
						<div class="clear"></div>
					</div>
					<div class="usage table-wrapper" style="border-color:#BCBCBC; margin-bottom:10px">
						<table width="100%">
							<thead>
								<tr>
									<th width="200">User</th>
									<th width="200">Username</th>
									<th width="128">City</th>
									<th width="128">State/Region</th>
									<th width="112">Created</th>
									<th width="110">Deleted</th>
								</tr>
							</thead>
							<tbody>
								<?php foreach( $case['users'] as $i => $user ): ?>
								<tr class="<?=($i % 2 == 0)?'':'zebra';?>">
									<td><div class="to_e" style="width:200px" title="<?=$user['lastName'] . ', ' . $user['firstName'];?>"><?=$user['lastName'] . ', ' . $user['firstName'];?></div></td>
									<td><div class="to_e" style="width:200px" title="<?=$user['username'];?>"><?=$user['username'];?></div></td>
									<td><div class="to_e" style="width:128px" title="<?=$user['city'];?>"><?=$user['city'];?></div></td>
									<?php if ( $user['state'] ): ?>
									<td><div class="to_e" style="width:128px"><?=$user['state'];?></div></td>
									<?php else: ?>
									<td><div class="to_e" style="width:128px"><?=$user['region']?></div></td>
									<?php endif; ?>
									<td><?=date( 'm/d/Y', strtotime( $user['created'] ) );?></td>
									<?php if ( $user['deleted'] ): ?>
									<td><?=date( 'm/d/Y', strtotime( $user['deleted'] ) );?></td>
									<?php else: ?>
									<td>-</td>
									<?php endif; ?>
								</tr>
								<?php endforeach; ?>
							</tbody>
						</table>
						<div class="user-tbl-total">Total Users: <?=count($case['users'])?></div>
					</div>
				</div>
				<?php endforeach; ?>
				<?php else: ?>
				<div class="nodata">No information for this date range.</div>
				<?php endif; ?>
			</div>
		</div>
		<div class="clear"></div>
		<hr class="bottom_line" style="height:3px;" />
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
</div>
<div class="content_control_wrapper">
	<div class="content_control">
		<div class="option_block">
			<a href="javascript:;" class="btn_blue m_r20" onclick="checkRow('->printThisPage', <?=$count;?>)">
				<span class="btn_blue_r">Print</span>
			</a>
			<a href="javascript:;" onclick="checkRow('->exportXLS', <?=$count;?>)" class="btn_blue">
				<span class="btn_blue_r">Export</span>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
<![CDATA[
function checkRow( arg, rowCount )
{
	if( rowCount > 0 ) {
		ajax.max(1).doitSync( arg );
	}
};

function valDates( ids )
{
	var flag = false;
	var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[0]).value );
	var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[1]).value );
	if( dateS === null ) {
		validators.results[ids[0]] = 0;
	}
	if( dateE === null ) {
		validators.results[ids[1]] = 0;
	}
	flag = (dateS !== null && dateE !== null && (dateE > dateS || dateE < dateS));
	return flag;
};

function runReport()
{
	ajax.doit( '->runReport', ajax.getFormValues() );
}
]]>
</script>
</panel>