<div class="table-info-line">
   <div class="right"><b><?= $count; ?></b> Cases</div>
   <div class="clear"></div>
</div>
<table class="table more_columns">
   <tr>
      <th width="10%">Case #</th>
      <th width="40%">Case Name</th>
      <th width="13%">Client Acc. #</th>
      <th width="17%">Client Name</th>
      <th width="20%">Case Manager</th>
   </tr>
   <? foreach ((array) $rows as $row): ?>
      <tr>
         <td><?= $row['number'] ?></td>
         <td><?= htmlspecialchars($row['name']); ?></td>
         <td><?= htmlspecialchars($row['clientAccount']); ?></td>
         <td><?= htmlspecialchars($row['clientName']); ?></td>
         <td><?= htmlspecialchars($row['CaseManager']); ?></td>
      </tr>
   <? endforeach; ?>
</table>