<div class="shadow-popup"></div>
<div class="wrap-popup" style="top:110px;">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle" style="overflow-x:hidden;overflow-y:visible;overflow:visible;">
                    <h3 class="title">Placeholder for Exhibit</h3>
                    <div class="data">
						<div class="row p_t10">
                            <label>Description</label>
                            <memo id="description" text="" class="w_466" autofocus="autofocus"></memo>
                        </div>
                        <div class="clear"></div>
						<div class="row p_t10">
                            <label>Save As</label>
                            <textbox id="filename" value="" class="w_466"></textbox>
							<?php if( $filenameError ): ?>
							<span class="error"><?=$filenameError;?></span>
							<?php endif; ?>
                        </div>
						<div class="clear"></div>
						<div class="row">
                            <label><textlabel id="folderLabel" tag="span" text="Save in Folder"></textlabel></label>
                            <autofilldropdownbox id="phFolderList" style="width:480px;max-height:180px;" class="afddb" options=""></autofilldropdownbox>
							<?php if( $folderListError ): ?>
							<span class="error"><?=$folderListError;?></span>
							<?php endif; ?>
                        </div>
						<div class="clear"></div>
                        <div class="option_chooser_wrapper">
                            <div class="option_chooser">
                                <textbutton id="btnCancel" value="Cancel" class="big-button gray"></textbutton>
                                <textbutton id="btnOK" value="Save" class="big-button blue"></textbutton>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>