<div class="shadow-popup"></div>
<div class="wrap-popup">
	<div class="popup">
		<div class="top">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
		<div class="popupcenter" >
			<div class="right">
				<div class="middle">
					<h3 class="title"><?=(isset($frameTitle) ? $frameTitle : '&nbsp;');?></h3>
					<div class="data">
						<div class="row p_t22">
							<h4 class="sub_title"><?=$title;?></h4>
						</div>
						<? if( $warning ): ?>
						<div class="row">
							<p class="warning_content"><?=$warning;?></p>
						</div>
						<? endif; ?>
						<div class="row">
							<p class="warning_content"><?=$message;?></p>
						</div>
						<div class="clear"></div>
						<div class="option_chooser_wrapper">
							<div class="option_chooser">
								<textbutton id="btnCancel" value="Cancel" class="big-button gray"></textbutton>
								<textbutton id="btnOK" value="" class="big-button red"></textbutton>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
	</div>
</div>