<div class="shadow-popup"></div>
<div class="wrap-popup" style="top:10px;">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title"><?=$action;?> Datasource</h3>
                    <div class="data">
						<hidden id="datasourceID" value="<?=$row['ID'];?>" />
                        <div class="row p_t28">
                            <label>Platform</label>
                            <customdropdownbox id="vendor" class="custom-select big-arrow w_195" options="php::array('Relativity'=>'Relativity')" style="width:195px;" />
                        </div>
                        <div class="clear"></div>
						<div class="row p_t10">
                            <label>Name</label>
                            <textbox id="name" value="<?=$row['name'];?>" class="w_466" autofocus="autofocus" />
                        </div>
						<div class="clear"></div>
						<div class="row p_t10">
                            <label>URL</label>
                            <textbox id="uri" value="<?=$row['uri'];?>" class="w_466" />
                        </div>
                        <div class="clear"></div>
                        <div class="option_chooser_wrapper">
                            <div class="option_chooser">
                                <textbutton id="btnCancel" value="Cancel" class="big-button gray"/>
                                <textbutton id="btnOK" value="<?=$action;?>" class="big-button blue"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>