<div class="shadow-popup"></div>
<div class="wrap-popup download-case-popup">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title"><?=$title;?></h3>
					<div class="data">
						<div id="cdProgressBar" class="progress-bar">
							<div class="bar"></div>
							<div class="statusMsg"></div>
						</div>
						<div class="option_chooser_wrapper">
							<div class="option_chooser">
								<textbutton id="btnCancel" value="Cancel" class="big-button gray btnCancel"></textbutton>
							</div>
						</div>
						<div class="clear"></div>
					</div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><![CDATA[
/* global dcPanel */
function CaseDownloadDialog() {
	var statusInterval = null;
	var $progressBar = $( "#cdProgressBar" );
	var $bar = $( ".bar", $progressBar );
	var $statusMsg = $( ".statusMsg", $progressBar );
	var $btnCancel = $( ".download-case-popup .btnCancel" );
	var archiveStatus;

	function show() {
		// console.log( "DownloadCasesPanel.show;" );
		$progressBar = $( "#cdProgressBar" ); // reload after visible (DOM replace)
		$bar = $( ".bar", $progressBar );
		$statusMsg = $( ".statusMsg", $progressBar );
		$btnCancel = $( ".download-case-popup .btnCancel" );
		progress( 1, '' );
		archive();
	}
	this.show = show;

	function progress( pct, msg ) {
		var width = (pct * $progressBar.width()) / 100;
		$bar.css( "width", width ).html( pct + "%" );
		$statusMsg.html( msg );
	}
	this.progress = progress;

	function reset() {
		window.clearInterval( statusInterval );
		ajax.hideLoader();
		ajax.process = 0;
		ajax.running = false;
		setTimeout( function() { ajax.hideLoader();	}, 100 );
	}

	function archive() {
		var xhr = ajax.bind( onSuccess, onError, onComplete ).doit( "->archiveCase" );
		function onSuccess( data, textStatus, jqXHR ) {}
		function onError( data, textStatus, jqXHR ) {
			console.log( "DownloadCasesPanel.archive.onError;", data, textStatus );
			if( textStatus !== "abort" ) {
				ajax.abort( xhr );
				ajax.process = 0;
				ajax.running = false;
			}
			setTimeout( function() { ajax.hideLoader();	}, 100 );
			window.clearInterval( statusInterval );
			statusInterval = window.setInterval( function() { getArchiveStatus(); }, 2000 ); // change to 2s intervals
		}
		function onComplete( data, textStatus, jqXHR ) {
			// console.log( "DownloadCasesPanel.archive.onComplete;", data, textStatus );
			if( textStatus === "success" ) {
				reset();
			}
			if( isset( data ) ) {
				archiveStatus = data;
			}
			resolveStatus();
		}
		window.clearInterval( statusInterval );
		statusInterval = window.setInterval( function() { getArchiveStatus(); }, 1000 );
		window.setTimeout( getArchiveStatus, 100 );
		window.setTimeout( function() { ajax.abort( xhr ); }, 60000 ); // abort in 60s (keep checking status)
	}

	function getArchiveStatus() {
		ajax.bind( onSuccess, onError, onComplete ).doit( "->getArchiveStatus" );
		function onSuccess( data, textStatus, jqXHR ) {}
		function onError( data, textStatus, jqXHR ) {
			console.log( "DownloadCasesPanel.getArchiveStatus.onError;", data, textStatus );
			reset();
		}
		function onComplete( data, textStatus, jqXHR ) {
			// console.log( "getArchiveStatus;", data );
			if( isset( data ) ) {
				archiveStatus = data;
			}
			resolveStatus();
		}
	}

	function resolveStatus() {
		if( isset( archiveStatus ) ) {
			// console.log( archiveStatus );
			if( isset( archiveStatus.percent ) ) {
				var pct = parseInt( archiveStatus.percent );
				if( isset( pct ) && !isNaN( pct ) && pct >= 0 && pct <= 100 ) {
					progress( archiveStatus.percent, archiveStatus.statusMsg );
				}
			}
			if( isset( archiveStatus.completed ) && archiveStatus.completed ) {
				// console.log( "Completed!" );
				reset();
				$btnCancel.val( "Close" ).removeClass( "gray" ).addClass( "blue" );
				$bar.addClass( "inactive" );
				if( !isset( archiveStatus.fatalError ) && !isset( archiveStatus.abort ) ) {
					ajax.doit( "->downloadArchive" );
				}
			}
			if( isset( archiveStatus.fatalError ) ) {
				// console.log( "Completed w/ errors" );
				reset();
				$statusMsg.html( archiveStatus.fatalError );
			}
		} else {
			reset();
		}
	}
}
var cdDialog = new CaseDownloadDialog();
]]></script>
