<div class="shadow-popup"></div>
<div class="wrap-popup">
	<div class="popup">
		<div class="top">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
		<div class="popupcenter" >
			<div class="right">
				<div class="middle">
					<h3 class="title"><?=$title?></h3>
					<div class="data">
						<div class="row p_t28">
							<label>Case</label>
							<customdropdownbox id="caseList" style="width:440px;" class="custom-select big-arrow" options="" onchange="loadDepositionList();"></customdropdownbox>
						</div>
						<div class="row">
							<label>
								<textlabel id="sessionLabel" tag="span" text="Session"></textlabel>
							</label>
							<customdropdownbox id="depoList" style="width:440px;" class="custom-select big-arrow" options="" onchange="loadFolderList();"></customdropdownbox>
						</div>
						<div class="row">
							<label>
								<textlabel id="folderLabel" tag="span" text="Folder"></textlabel>
							</label>
							<customdropdownbox id="folderList" style="width:440px;" class="custom-select big-arrow" options=""></customdropdownbox>
						</div>
						<div class="clear"></div>
						<p class="auth_title error">
							<textlabel id="errormsg" tag="span"></textlabel>
						</p>
						<div class="action_reporting">
							<progress id="actionProgress" value="0" max="1"></progress>
						</div>
						<div class="option_chooser_wrapper">
							<div class="option_chooser">
								<textbutton id="btnCancel" value="Cancel" class="big-button gray"></textbutton>
								<textbutton id="btnCopy" value="" class="big-button blue" onclick="moveItem()"></textbutton>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><![CDATA[
function loadDepositionList() {
	ajax.doit( "->loadDepositionList" );
}
function loadFolderList() {
	ajax.doit( "->loadFolderList" );
}
]]></script>
