<div class="shadow-popup"></div>
<div class="wrap-popup">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title">Request Live Transcript</h3>
                    <div class="data">
                        <div class="row">
                            <label><textlabel id="reporterEmailLabel" tag="span" text="Email"/></label>
							<textbox id="reporterEmail" class="w_466" maxlength="255"/>
							<validatoremail id="valEmail" groups="livetranscripts" client="1" tag="div" class="error2" controls="reporterEmail" text="** Email format is incorrect. **"/>
                        </div>
                        <div class="clear"></div>
                        <p class="auth_title error">
                            <textlabel id="errormsg" tag="span"/>
                        </p>
                        <div class="option_chooser_wrapper">
                            <div class="option_chooser">
                                <textbutton id="btnCancel" value="Cancel" class="big-button gray"/>
                                <textbutton id="btnOK" value="Send" class="big-button blue"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>