<div class="popup-notice" id="searchCancelPopup">
	<div class="shadow-popup"></div>
	<div class="wrap-popup">
		<div class="popup">
			<div class="top">
				<div class="right">
					<div class="middle"></div>
				</div>
			</div>
			<div class="popupcenter" >
				<div class="right">
					<div class="middle">
						<div class="data">
							<?php if( $showSpinner ) : ?>
							<img class="loading-blue-74" src="/Application/_includes/backend/img/loading-blue-74.gif" />
							<?php endif; ?>
							<div class="row p_t22">
								<h4 class="sub_title" id="noticeSubTitle"><?=$title?></h4>
							</div>
							<div class="row">
								<p class="warning_content"><?=$message?></p>
							</div>
							<div class="clear"></div>
							<div class="option_chooser_wrapper">
								<div class="option_chooser">
									<textbutton id="btnSearchCancel" value="Close" class="big-button gray" onclick="preventSearchDisplay();"></textbutton>
								</div>
							</div>
						   <div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="right">
					<div class="middle"></div>
				</div>
			</div>
		</div>
	</div>
</div>
