<div class="shadow-popup"></div>
<div class="wrap-popup">
<div class="popup">
   <div class="top">
      <div class="right">
         <div class="middle"></div>
      </div>
   </div>

   <div class="popupcenter" >
      <div class="right">
         <div class="middle">
            <h3 class="title">&nbsp;</h3>
            <div class="data">
               <div class="row p_t22">
                  <h4 class="sub_title"><?=$title?:'Transcript Uploaded!'?></h4>
               </div>
               <? if ($warning) { ?>
               <div class="row">
                  <p class="warning_content"><?=$warning?></p>
               </div>
               <? } ?>
               <div class="row">
                  <p class="warning_content"><?=$message?:'The transcript has been uploaded to the Exhibit Folder in the repository.<br>Would you like to email the transcript and/or exhibits to all Attendees now?'?></p>
               </div>
               <div class="clear"></div>
               <div class="option_chooser_wrapper">
                  <div class="option_chooser">
                     <textbutton id="btnSend1" value="Send Transcripts" class="big-button blue" onclick="ajax.doit('->sendEmailsToAllAttendees','transcript')"/>
                     <textbutton id="btnSend2" value="Send Exhibits" class="big-button blue" onclick="ajax.doit('->sendEmailsToAllAttendees','exhibit')"/>
                     <textbutton id="btnSend3" value="Send Both" class="big-button blue" onclick="ajax.doit('->sendEmailsToAllAttendees','all')"/>
                     <div class="clear"></div>
                     <textbutton id="btnCancel" value="Cancel" class="big-button gray" style=" margin-left: 135px;margin-top: 12px;"/>
                  </div>
               </div>
               <div class="clear"></div>
            </div>
         </div>
      </div>
   </div>
   <div class="bottom">
      <div class="right">
         <div class="middle"></div>
      </div>
   </div>
</div>
</div>