<? if( isset( $sortMenuItems ) && is_array( $sortMenuItems ) && $sortMenuItems ): ?>
<div class="shadow-popup z120 sortMenuShadow" onclick="popup.hide('<?=$uniqueID;?>');clearSortMenuValues();"></div>
<div id="sortContents">
	<div id="sortMenu">
		<div class="sortMarker"></div>
		<ul>
			<?foreach($sortMenuItems as $item):?>
			<li class="sortMenuItem" onclick="popup.hide('<?=$uniqueID;?>');changeSortBy('<?=$item['name'];?>');">
				<div class="sortMenuCheck"></div>
				<? if ($item['name'] == 'Custom'): ?>
				<div class="customSortEdit" onclick="popup.hide('<?=$uniqueID;?>');startCustomSortEdit(event)">Edit</div>
				<? endif; ?>
				<span><?=$item['name'];?></span>
			</li>
			<?endforeach;?>
		</ul>
	</div>
</div>
<?endif;?>
