<div class="wrap-popup">
	<div class="popup">
		<div class="top">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
		<div class="popupcenter" >
			<div class="right">
				<div class="middle">
					<div class="data">
						<div class="row p_t22">
							<h4 class="sub_title"><?=$message?></h4>
						</div>
						<div class="clear"></div>
						<div class="option_chooser_wrapper">
							<div class="option_chooser">
								<textbutton id="btnCancel" value="Close" class="big-button gray"/>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
	</div>
</div> 