<div class="shadow-popup"></div>
<div class="wrap-popup">
	<div class="popup">
		<div class="top">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
		<div class="popupcenter" >
			<div class="right">
				<div class="middle">
					<h3 class="title">&nbsp;</h3>
					<div class="data">
						<div class="row">
							<p class="warning_content">You must agree to the eDepoze <span class="tosLink" onclick="ajax.doit('->showTermsOfService');">Terms of Service</span> to use this web service. <span id="tosLink2" class="tosLink" onclick="ajax.doit('->showTermsOfService');">Click here</span> to review our Terms of Service.</p>
						</div>
						<div class="clear"></div>
						<div class="option_chooser_wrapper">
							<div class="option_chooser">
								<textbutton id="btnCancel" value="Disagree" class="big-button gray"/>
								<textbutton id="btnOK" value="Agree" class="big-button blue"/>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
	</div>
</div>