<div class="tosWrap">
	<div class="tosPopup">

		<div class="tosContent">
			<p class="tosHeader">
				<strong>You must agree to the eDepoze Terms of Service to use this web service.<br />
				Please review our Terms of Service and agree to them at the bottom of this page.</strong>
			</p>
			<br/>
			<p class="tosTitle">EDEPOZE TERMS OF SERVICE</p>
			<br/>
			<p>eDepoze, LLC ("eDepoze") has developed and maintains an integrated suite of services for subscribers to use in connection with legal depositions, witness preparation sessions, trials, arbitrations and other legal events (the "Services").  These Services are provided by means of several elements consisting of a central, cloud-based document repository and database; the eDepoze web manager portal (currently accessed through the https://login.edepoze.com domain); and user interfaces provided through the eDepoze web-based app (currently accessed through the https://webapp.edepoze.com domain) and/or the eDepoze iPad app (together, all such elements are referred to as the "eDepoze Application").</p>
			<p>The Terms of Service listed below govern eDepoze's relationship with users of the Services. By using or accessing the Services, you agree to these Terms of Service, as updated from time to time in accordance with Section 8 below. As used in these Terms of Service, the words "you," "your" or "Subscriber" refer to the individual or entity using or accessing the Services.</p>
			<br/>
			<p><strong>1.<span class="tosLargeTab"></span>LICENSE GRANT.</strong></p>
			<br/>
			<p>
				<strong>1.1
					<span class="tosSmallTab"></span>
					License to Use Service.
				</strong>
				eDepoze hereby grants to Subscriber a nonexclusive, nontransferable, worldwide license (the "License") to access and use the Services in accordance with this Agreement. All rights not expressly granted to Subscriber under the License are reserved by eDepoze. The License granted to Subscriber permits use of the Services by all user accounts ("End-users") set up under Subscriber's eDepoze account.
			</p>
			<br/>
			<p>
				<strong>1.2
					<span class="tosSmallTab"></span>
					Limitations on Use.
				</strong>
				The content on the eDepoze Application and within the Services (the "Content") is for use only by Subscriber and its assigned End-users. Except as permitted by this Agreement, the Content may not be decompiled, reverse engineered, disassembled, transferred, distributed, resold, sublicensed, or used to create any derivative works. Subscriber may not use any network monitoring or discovery software to determine the Site's or Service's architecture, or extract information about usage or individual identities of users. Subscriber may not use any robot, spider, other automatic software or device, or manual process to monitor or copy the Site, Services, or its Content, without first receiving eDepoze's prior written consent. Subscriber may not (i) license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any non-End-user third party the Services or the Content in any way; (ii) modify or make derivative works based upon the eDepoze Application, the Services, or the Content; or (iii) "frame" or "mirror" any Content on any other server or wireless or Internet-based device. Subscriber may use the eDepoze Application and Services only for its internal business purposes and shall not: (i) send spam or otherwise duplicative or unsolicited messages; (ii) send or store infringing, obscene, threatening, libelous, or otherwise unlawful or tortuous material, including material harmful to children or material in violation of third party privacy rights; (iii) send or store material containing software viruses, worms, Trojan horses or other harmful computer code, files, scripts, agents or programs; (iv) interfere with or disrupt the integrity or performance of the eDepoze Application, Services, or the data contained therein; or (v) attempt to gain unauthorized access to the eDepoze Application, Services, or its related systems or networks.
			</p>
			<br/>
			<p>
				<strong>2.
					<span class="tosLargeTab"></span>
					FEES AND PAYMENTS.
				</strong>
			</p>
			<br/>
			<p>
				<strong>2.1
					<span class="tosSmallTab"></span>
					Monthly User Fees.
				</strong>
				Unless alternative fee arrangements have been agreed upon between Subscriber and the responsible provider for Subscriber's eDepoze account, Subscriber will be charged a monthly user fee for each case associated with each End-user set up under Subscriber's eDepoze account during a given month.  Such user fees will be incurred regardless of actual usage of the eDepoze Application during that month.
			</p>
			<br/>
			<p>
				<strong>2.2
					<span class="tosSmallTab"></span>
					Account Billing.
				</strong>
				Subscriber will be billed on a monthly basis by the reseller or other entity designated as the responsible provider for Subscriber's eDepoze account.  In the event of delinquent payment, eDepoze and/or the responsible provider may suspend Subscriber's eDepoze account until payment is made.
			</p>
			<br/>
			<p>
				<strong>2.3
					<span class="tosSmallTab"></span>
					No Circumvention of User-Based Charges.
				</strong>
				Subscriber shall not take any actions, including the use of any other software, which would have the effect of reducing the amounts to be paid under this Agreement based on the number of users, including arrangements for circumventing the features contained in the software for tracking the number of users, or for sharing individual access to or use of the software.
			</p>
			<br/>
			<p>
				<strong>3.
					<span class="tosLargeTab"></span>
					EDEPOZE INTELLECTUAL PROPERTY.
				</strong>
				The eDepoze Application and its Contents ("eDepoze IP") are owned or licensed by eDepoze and protected by U.S. and international copyright, trademark, service mark, patent and/or other proprietary rights and laws. Except as expressly provided in this Agreement, nothing contained herein shall be construed as conferring to Subscriber any license or right under copyright or other intellectual property right law. No part of the eDepoze IP may be altered, copied, photocopied, reproduced, translated or reduced to any electronic medium or machine-readable form, in whole or in part, except as specifically provided in this Agreement. Subscriber shall not take any action that shall interfere with or diminish eDepoze's right in any of the eDepoze IP.
			</p>
			<br/>
			<p>
				<strong>4.
					<span class="tosLargeTab"></span>
					SUBSCRIBER MATERIALS.
				</strong>
			</p>
			<br/>
			<p>
				<strong>4.1
					<span class="tosSmallTab"></span>
					eDepoze's User of Subscriber Materials.
				</strong>
				Materials and information uploaded by Subscriber to the eDepoze Application ("Subscriber Materials") are owned by Subscriber. In the course of providing the Services, eDepoze may access, store, scan and back up Subscriber Materials. Except as is necessary to enable eDepoze to offer the Services, eDepoze does not claim any rights to Subscriber Materials. eDepoze is not responsible for the content of Subscriber Materials.
			</p>
			<br/>
			<p>
				<strong>4.2
					<span class="tosSmallTab"></span>
					Your Use of Subscriber Materials.
				</strong>
				Subscriber and associated End-users may use the eDepoze Application to alter and share Subscriber Materials, and may export Subscriber Materials to email clients and other applications. For that reason, you should take care about how Subscriber Materials are shared and handled. Subscriber agrees not to copy, upload, download or share Subscriber Materials in a manner that would violate third-party intellectual rights.
			</p>
			<br/>
			<p>
				<strong>5.
					<span class="tosLargeTab"></span>
					LIMITED WARRANTY.
				</strong>
				eDepoze represents and warrants that it has the right and authority to make the Services available to you. TO THE FULLEST EXTENT PERMITTED BY LAW, eDEPOZE AND ITS RESELLERS MAKE NO WARRANTIES, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED "AS IS." WE ALSO DISCLAIM ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.
			</p>
			<br/>
			<p>
				<strong>6.
					<span class="tosLargeTab"></span>
					LIMITATION OF LIABILITY.
				</strong>
				TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL eDEPOZE OR ITS RESELLERS BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR ANY LOSS OF USE, DATA, BUSINESS, OR PROFITS, REGARDLESS OF LEGAL THEORY, WHETHER OR NOT eDEPOZE HAS BEEN WARNED OF THE POSSIBILITY OF SUCH DAMAGES, AND EVEN IF A REMEDY FAILS OF ITS ESSENTIAL PURPOSE; (B) AGGREGATE LIABILITY FOR ALL CLAIMS RELATING TO THE SERVICES MORE THAN THE GREATER OF $20 OR THE AMOUNTS PAID BY YOU TO eDEPOZE FOR THE PAST 12 MONTHS OF THE SERVICES IN QUESTION.
			</p>
			<br/>
			<p>
				<strong>7.
					<span class="tosLargeTab"></span>
					MISCELLANEOUS.
				</strong>
			</p>
			<br/>
			<p>
				<strong>7.1
					<span class="tosSmallTab"></span>
					Controlling Law.
				</strong>
				These Terms will be governed by California law except for its conflicts of laws principles.
			</p>
			<br/>
			<p>
				<strong>7.2
					<span class="tosSmallTab"></span>
					Entire Agreement.
				</strong>
				These Terms of Service constitute the entire agreement between you and eDepoze with respect to the subject matter of these Terms of Service, and supersede and replace any other prior or contemporaneous agreements, or terms and conditions applicable to the subject matter of these Terms of Service. These Terms of Service create no third party beneficiary rights.
			</p>
			<br/>
			<p>
				<strong>7.3
					<span class="tosSmallTab"></span>
					Waiver, Severability & Assignment.
				</strong>
				eDepoze's failure to enforce a provision is not a waiver of its right to do so later. If a provision is found unenforceable, the remaining provisions of the Terms of Service will remain in full effect and an enforceable term will be substituted reflecting our intent as closely as possible. You may not assign any of your rights under these Terms of Service, and any such attempt will be void. eDepoze may assign its rights to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Services.
			</p>
			<br/>
			<p>
				<strong>8.
					<span class="tosLargeTab"></span>
					MODIFICATIONS.
				</strong>
				From time to time, eDepoze may amend these Terms of Service, and will always post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you (by, for example, sending a message to the email address associated with your eDepoze account, posting on our blog or on this page). By continuing to use or access the Services after the revisions come into effect, you agree to be bound by the revised Terms of Service.
			</p>
			<br/>
			<div class="option_chooser_wrapper">
				<div class="option_chooser">
					<textbutton id="btnCancel" value="Disagree" class="big-button gray"></textbutton>
					<textbutton id="btnOK" value="Agree" class="big-button blue"></textbutton>
				</div>
			</div>
		</div>
	</div>
</div>
