<?if(isset($tutorialItems) && is_array($tutorialItems)):?>
<div class="shadow-popup z120" onclick="popup.hide('<?=$uniqueID;?>');"></div>
<div id="tutorialContents">
	<div id="tutorialHide" class="app_bttn"><span>Close</span></div>
	<div id="tutorialMenu">
	<ul>
		<?foreach($tutorialItems as $item):?>
		<li class="tutorialMenuItem" onclick="popup.hide('<?=$uniqueID;?>');ajax.doit('->showTutorialPopup','<?=$item['url'];?>')"><?=$item['name'];?></li>
		<?endforeach;?>
	</ul>
	</div>
</div>
<?endif;?>
