<div class="shadow-popup"></div>
<div class="wrap-upload-popup">
	<!-- Design for this popup is horrifying.  See if time allows to fix it a bit. -->
    <div class="popup">
        <!-- No content should be defined here, this sets the top borders of the frame -->
		<div class="top"><div class="right"><div class="middle"></div></div></div>
		<!-- Layout begins -->
        <div class="center">
            <div class="right">
                <div class="middle">
					<section id="file_upload_popup_header">
						<h3 class="title">Upload Files to <?=$folderName?></h3>
					</section>
					<section id="file_upload_popup_panel">
						<input type="hidden" id="folderID" value="<?=$folderID?>" />
						<panel tag="div" id="dropzone" class="data" style="width:662px">
							<div class="uploadFileSectionHeader" id="fileList">
								<div class="name">Name</div>
								<div class="size">Size</div>
								<div class="status">Status</div>
							</div>
							<ul id="uploadFileList" class="upload_file_list"></ul>
						</panel>
					</section>
					<section id="file_upload_popup_sidebar">
						<div class="uploadFileSectionHeader" id="formats">
							<div class="formats">Supported formats</div>
						</div>
						<div id="file_upload_sidebar_info">
							<p><strong>Document:</strong><br/> PDF, TXT<br/><br/>
							<strong>Image:</strong><br/> PNG, JPEG, GIF, TIFF<br/><br/>
							<strong>Audio:</strong><br/> MP3, WAV, AAC, WMA<br/><br/>
							<strong>Video:</strong><br/> MPEG-4, MPEG-1, MPEG-2, WMV, AVI, MOV<br/><br/>
							<strong>Max File Size: <?=\ClickBlocks\Utils::readableFilesize( (isset( $maxFilesize ) ? $maxFilesize : \ClickBlocks\Core\Register::getInstance()->config->maxFilesize), 0 );?></strong><br/><br/>
							<em>The system may convert the files to other formats for storage and display purposes</em></p>
						</div>
					</section>
					<section id="file_upload_popup_reporting">
						<div id="files_uploaded">
							<progress id="documentUploadProgress" value="0" />
							<table><tbody><tr>
								<td id="success">Uploaded: <span>0</span></td>
								<td id="fail">Failed: <span>0</span></td>
								<td id="sum">Total: <span>0</span></td>
							</tr></tbody></table>
						</div>
					</section>
					<section id="file_upload_popup_actions" class="p_b0">
						<div id="form_actions">
							<uploadbutton id="btnUpload" tag="div" class="t_a_c" onchange="handleUploadRequest(this);"
								classContainer="big-button blue m_l0" multiple="true">Add Files
							</uploadbutton>
						</div>
						<input type="button" id="btnDone" value="Close" class="big-button blue m_r0" onclick="handleDoneRequest(this);" />
						<input type="button" id="btnPause" value="Pause" class="big-button inactive" onclick="handlePauseRequest(this);" />
					</section>
                </div>
            </div>
        </div>
		<!-- Layout ends -->
		<!-- No content should be defined here, this sets the bottom borders of the frame -->
        <div class="bottom"><div class="right"><div class="middle"></div></div></div>
    </div>
</div>


<script type="text/javascript">
<![CDATA[

/**
 * Class for file-processing objects
 */
function clientFile( fileobj ) {
	this.File = null;
	this.statusID = 0;
	this.uploadError = null;
	this.tmpName = null;

	if (typeof fileobj !== 'undefined' && Object.prototype.toString.call( fileobj ) === '[object File]') {
		this.File = fileobj;
		if (this.File.size > <?=(isset( $maxFilesize ) ? $maxFilesize : \ClickBlocks\Core\Register::getInstance()->config->maxFilesize);?>) {
			this.statusID = -1;
			this.uploadError = 'File is too large.';
		}
	}
}

clientFile.prototype.getName = function() {
	return this.File.name;
};

clientFile.prototype.getSize = function() {
	if (!this.File) {
		return null;
	}
	if (typeof this.File.size === 'undefined') {
		return '--'
	}
	var filesize = parseInt( this.File.size );
	if (isNaN( filesize )) {
		console.log( 'Attempting to render File.size, found "'+this.File.size+'"' );
		return '---';
	}
	var i = Math.floor( Math.log( filesize ) / Math.log( 1024 ) );
    return (filesize / Math.pow( 1024, i ) ).toFixed( 1 ) * 1 + ['B', 'K', 'M'][ i ];
};

clientFile.prototype.getStatus = function() {
	var statusid = parseInt( this.statusID );
	if (isNaN( statusid )) {
		return 'NaN';
	}
	switch (statusid) {
		case -1:
			return 'Error: '+(this.uploadError ? this.uploadError : 'Unknown error' );
		case 0:
			return '...';
		case 1:
			return 'Uploading...';
		case 2:
			return 'Saving...';
		case 3:
			return 'Saved';
		case 9:
			return 'Cancelled';
	}
	return 'Unknown';
};

clientFile.prototype.upload = function() {
	if (!this.File) {
		throw 'No upload file set';
	}
	if (!this.tmpName) {
		throw '"tmpName" property must be set before upload.';
	}
	console.log( 'Attempting upload of: "'+this.File.name+'"' );
	this.statusID = 1;
	var fileForm = new FormData();
	fileForm.append( this.tmpName, this.File );
	ajax.uploadDocument( fileForm, $('#folderID').val(), this.tmpName, onUploadCompleted, onUploadFailed );
};
// End of Class

var submitIDs = {};

var function_locks = {
	redrawProcessingFiles : false,
	uploadClientFile : false,
	uploadRequest : false,
	uploadsPaused : false
};

var tempFileID = 'tmpfile_';
var processingFiles = [];
var uploadingIndex = 0;

function getProcessingFileByTmpName( tmpname ) {
	if (tmpname.indexOf( tempFileID ) >= 0) {
		var pfIndex = tmpname.slice( tempFileID.length );
		return (typeof processingFiles[pfIndex] !== 'undefined' ? processingFiles[pfIndex] : null);
	}

	return (typeof processingFiles[tmpname] !== 'undefined' ? processingFiles[tmpname] : null);
}

function getProcessingFilesByStatus( statusID, exclude ) {
	statusID = parseInt( statusID );
	if (isNaN( statusID )) {
		console.log( 'getProcessingFilesByStatus : "'+statusID+'" is not a valid status.' );
		return 0;
	}

	exclude = (typeof exclude !== 'undefined') ? Boolean( exclude ) : false;

	var filecount = 0;
	for (var pf in processingFiles) {
		if (!exclude) {
			if (processingFiles[pf].statusID === statusID) {
				++filecount;
			}
		} else {
			if (processingFiles[pf].statusID !== statusID) {
				++filecount;
			}
		}
	}
	return filecount;
}

function handleDoneRequest() {
	if ($('#file_upload_popup_actions #btnDone').hasClass( 'inactive' )) {
		return;
	}

	$('#<?= ID("uploadFilesPopup") ?>').hide();

	var uploadSuccessCount = getProcessingFilesByStatus( 3 );
	var onCompleteSuccess = function( args ) { eval( args ); }
	var onCompleteFail = function( args ) { window.top.location = window.top.location; }
	ajax.uploadComplete( (new FormData()), $('#folderID').val(), uploadSuccessCount, onCompleteSuccess, onCompleteFail );

	processingFiles = [];
	successfulUploads = 0;
	uploadingIndex = 0;

	for (var i in function_locks) {
		function_locks[i] = false;
	}
}

function handlePauseRequest() {
	if ($('#file_upload_popup_actions #btnPause').hasClass( 'inactive' )) {
		return;
	}

	function_locks.uploadsPaused = true;

	// disable the file uploader
	$('#file_upload_popup_actions #form_actions > div').addClass( 'inactive' );
	$('#file_upload_popup_actions #form_actions input').prop( 'disabled', true );

	$('#file_upload_popup_actions #btnDone').removeClass( 'inactive' );

	$('#file_upload_popup_actions #btnPause').val( 'Resume' );
	$('#file_upload_popup_actions #btnPause').attr( 'onclick', 'handleResumeRequest(this);' );
}

function handleResumeRequest() {
	if ($('#file_upload_popup_actions #btnPause').hasClass( 'inactive' )) {
		return;
	}

	// enable the file uploader
	$('#file_upload_popup_actions #form_actions > div').removeClass( 'inactive' );
	$('#file_upload_popup_actions #form_actions input').prop( 'disabled', false );

	$('#file_upload_popup_actions #btnDone').addClass( 'inactive' );

	$('#file_upload_popup_actions #btnPause').val( 'Pause' );
	$('#file_upload_popup_actions #btnPause').attr( 'onclick', 'handlePauseRequest(this);' );

	function_locks.uploadsPaused = false;
	uploadClientFile();
}

function handleCancelRequest() {
	if ($('#file_upload_popup_actions #btnCancel').hasClass( 'inactive' )) {
		return;
	}

	/* if (processingFiles.length < 1) {
		$('div.main_wrapper div.popup').hide();
		return;
	} */
	function_locks.uploadClientFile = true;
	for (var pf in processingFiles) {
		var statusid = parseInt( processingFiles[pf].statusID );
		if (!isNaN( statusid ) && statusid === 0) {
			processingFiles[pf].statusID = 9;
		}
	}
	function_locks.uploadClientFile = false;
	$('#file_upload_popup_actions #btnCancel').addClass( 'inactive' )
	$('#file_upload_popup_actions #btnDone').removeClass( 'inactive' );
	redrawProcessingFiles();
}

function handleUploadRequest( input ) {
	if ($('#file_upload_popup_actions #btnUpload').hasClass( 'inactive' )) {
		return;
	}

	if (!function_locks.uploadRequest) {
		if ($('#file_upload_popup_actions #btnPause').hasClass( 'inactive' )) {
			$('#file_upload_popup_actions #btnPause').removeClass( 'inactive' );
		}
		if (!$('#file_upload_popup_actions #btnDone').hasClass( 'inactive' )) {
			$('#file_upload_popup_actions #btnDone').addClass( 'inactive')
		}
		function_locks.uploadRequest = true;
	}
	if (typeof input.files !== 'undefined' && input.files !== null && input.files.length > 0) {
		for (var l=0; l < input.files.length; ++l) {
			processingFiles.push( new clientFile( input.files[l] ) );
		}
	}
	redrawProcessingFiles();
	uploadClientFile();
}

function redrawProcessingFiles() {
	if (function_locks.redrawProcessingFiles) {
		return;
	}
	function_locks.redrawProcessingFiles = true;
	var minListItems = 10;
	$('#file_upload_popup_panel ul#uploadFileList li').remove();
	for (var pf in processingFiles) {
		var file = processingFiles[pf].File;
		var newListItem = '<li class="'+(pf%2 === 0 ? 'even' : 'odd')+'">'
			+ '<div class="name">'+processingFiles[pf].getName()+'</div>'
			+ '<div class="size">'+processingFiles[pf].getSize()+'</div>'
			+ '<div class="status" title="'+processingFiles[pf].getStatus().replace('\"', '&quot;')+'">'+processingFiles[pf].getStatus()+'</div>'
			+ '</li>';
		$('#file_upload_popup_panel ul#uploadFileList').append( newListItem );
	}
	var fillerCount = processingFiles.length;
	if (fillerCount > 0) {
		while ((minListItems - fillerCount++) > 0) {
			var fillerListItem = '<li class="file '+(fillerCount%2 === 0 ? 'even' : 'odd')+'">'
				+ '<div class="name"></div><div class="size"></div><div class="status"></div></li>';
			$('#file_upload_popup_panel ul#uploadFileList').append( fillerListItem );
		}
	}

	var savedFiles = getProcessingFilesByStatus( 3 );
	var errorFiles = getProcessingFilesByStatus( -1 );
	var queuedFiles = getProcessingFilesByStatus( 0 );
	var totalFiles = processingFiles.length;

	console.log( ' -- checking file status Saved: '+savedFiles );
	console.log( ' -- checking file status Error: '+errorFiles );
	console.log( ' -- checking file status Queued: '+queuedFiles );
	console.log( ' -- checking file status Total: '+totalFiles );


	$('#file_upload_popup_reporting #files_uploaded progress').val( (totalFiles-queuedFiles)/totalFiles );
	// $('#file_upload_popup_reporting #files_uploaded p span').text( successfulUploads+'/'+processingFiles.length );
	$('#file_upload_popup_reporting #files_uploaded table td#success span').text( savedFiles );
	$('#file_upload_popup_reporting #files_uploaded table td#fail span').text( errorFiles );
	$('#file_upload_popup_reporting #files_uploaded table td#sum span').text( totalFiles );

	function_locks.redrawProcessingFiles = false;
}

function uploadClientFile() {
	if (function_locks.uploadsPaused || function_locks.uploadClientFile) {
		return;
	}
	if (uploadingIndex >= processingFiles.length) {
		$('#file_upload_popup_actions #btnPause').addClass( 'inactive' );
		$('#file_upload_popup_actions #btnDone').removeClass( 'inactive' );
		function_locks.uploadRequest = false;
		return;
	}
	var uploadIndex = uploadingIndex++;
	var fileToProcess = processingFiles[uploadIndex];
	if (fileToProcess.statusID !== 0) {
		// reduce recursion depth with a manual check
		while (++uploadIndex < processingFiles.length && processingFiles[uploadIndex].statusID !== 0);
		uploadingIndex = uploadIndex;
		return uploadClientFile();
	}
	function_locks.uploadClientFile = true;
	fileToProcess.tmpName = tempFileID+uploadIndex;
	fileToProcess.upload();
	redrawProcessingFiles();
}

function onUploadCompleted( args ) {
	function_locks.uploadClientFile = false;
	// TODO : this is mental, is there a better way to do this?  need to overhaul the backend.
	eval( args );
	if (typeof result === 'undefined' || result === null) {
		console.log( 'Ambiguous response received: '+JSON.stringify( args ) );
	} else {
		var fileobj = getProcessingFileByTmpName( result.args.uniqueID );

		if (result.success) {
			fileobj.statusID = 3;
		} else {
			fileobj.statusID = -1;
			fileobj.uploadError = (typeof result.error !== 'undefined' ? result.error : 'Unknown error');
		}
	}
	redrawProcessingFiles();
	uploadClientFile();
}

function onUploadFailed( args ) {
	function_locks.uploadClientFile = false;
	var fileobj = processingFiles[uploadingIndex-1];
	fileobj.statusID = -1;
	fileobj.uploadError = 'Critical error';
	redrawProcessingFiles();
	uploadClientFile();
}

function checkVersion(){
	var ua = navigator.userAgent;
	var MSIEOffset = ua.indexOf("MSIE ");
	var ieVersion = (MSIEOffset == -1) ? 0 : parseFloat(ua.substring(MSIEOffset + 5, ua.indexOf(";", MSIEOffset)));
	return (ieVersion >= 10 || ieVersion==0);
}

]]>
</script>
