<div class="shadow-popup z120"></div>
<div class="wrap-popup viewVideo thin filePopup">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title"><?=$title?></h3>
					<div class="btnClose" onclick="closeVideoPlayer();"></div>
                    <div class="data">
						<div id="videoContainer">
							<video id="video_player" class="stopOnHide video-js vjs-default-skin" controls="controls" preload="auto">
								<source src="<?=$src?>" type="<?=$mimeType;?>" />
								Your browser does not support video playback.
							</video>
						</div>
						<div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><![CDATA[
   function closeVideoPlayer() {
	   var videoPlayer = document.getElementById('video_player');
	   videoPlayer.pause();
	   videoPlayer.src = '';
	   videoPlayer.load();
	   popup.hide('<?=$uniqueID;?>');
   }
]]></script>