<div class="shadow-popup z120"></div>
<div class="wrap-popup viewAudio thin filePopup">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
                    <h3 class="title"><?=$title?></h3>
					<div class="btnClose" onclick="closeAudioPlayer();"></div>
                    <div class="data" style="padding: 100px 10px;">
<?php if( $mimeType == 'audio/x-wav' && preg_match( '/(?i)msie/', $_SERVER['HTTP_USER_AGENT'] ) ): ?>
					Internet Explorer browsers do not support wav audio playback.<br />
					Please use a browser other than Internet Explorer if you wish to listen to wav files.
<?php else: ?>
						<audio id="audio_player" class="stopOnHide" controls="controls" preload="auto" name="media" autobuffer="autobuffer">
							<source src="<?=$src?>" type="<?=$mimeType;?>" />
							Your browser does not support audio playback.
						</audio>
<?php endif; ?>
						<div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><![CDATA[
   function closeAudioPlayer() {
	   var audioPlayer = document.getElementById('audio_player');
	   audioPlayer.pause();
	   audioPlayer.src = '';
	   audioPlayer.load();
	   popup.hide('<?=$uniqueID;?>');
   }
]]></script>