<div class="shadow-popup z120"></div>
<div class="wrap-popup viewTutorial thin filePopup">
    <div class="popup">
        <div class="top">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
        <div class="popupcenter" >
            <div class="right">
                <div class="middle">
					<h3 class="title">&nbsp;</h3>
					<div class="btnClose" onclick="closeTutorialPlayer();"></div>
                    <div class="data">
						<div id="tutorialContainer">
							<video id="tutorial_player" class="stopOnHide" controls="controls" preload="auto" autoplay="autoplay" width="100%">
								<source src="<?=$src;?>" type="video/mp4" />
								Your browser does not support video playback.
							</video>
						</div>
						<div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="right">
                <div class="middle"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript"><![CDATA[
   function closeTutorialPlayer() {
	   var videoPlayer = document.getElementById('tutorial_player');
	   videoPlayer.pause();
	   videoPlayer.src = '';
	   videoPlayer.load();
	   popup.hide('<?=$uniqueID;?>');
   }
]]></script>