<div class="shadow-popup z120"></div>
<div class="wrap-popup viewFile thin filePopup">
	<div class="popup">
		<div class="top">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
		<div class="popupcenter" >
			<div class="right">
				<div class="middle">
					<h3 class="title"><?=$title?></h3>
					<div class="btnSave file_mgmt_btn long" onclick="showSaveFileAnnotationsPopup('<?=$title?>');">
						<span>Save</span>
					</div>
					<div class="btnClose" onclick="closeViewFilePopup('<?=$uniqueID;?>', '<?=$title?>');"></div>
					<div class="data">
						<iframe src="<?=$src?>" style="width:100%; height:600px;"></iframe>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom">
			<div class="right">
				<div class="middle"></div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/Application/_includes/backend/js/webmgr.js"></script>
<script type="text/javascript"><![CDATA[
	window.document.domain = "edepoze.com";

	function showSaveFileAnnotationsPopup( filename, closePrompt ) {
		if( typeof window.top.webMgr === "object" && window.top.webMgr !== null ) {
			if( !webMgr.viewerHasChanges() ) {
				console.log( 'WebMgr; No changes in viewer found to save.' );
				return;
			}
		}
		var selectedFolderID = $('#fileMgmtFolderList .selected').attr('data-id');
		if( closePrompt ) {
			ajax.doit( '->closePopup', 'saveChangesPromptPopup' );
		}
		ajax.doit( '->showSaveFileAnnotationsPopup', selectedFolderID, filename );
	}

	function updateFileDetails( filename, fileID ) {
		window.top.sourceFileID = fileID;
		$('.viewFile').find('h3.title').html(filename);
		if( typeof window.top.webMgr === "object" && window.top.webMgr !== null ) {
			window.top.webMgr.discardChanges();
		}
	}

	function disableAnnotationControls() {
		if( typeof window.top.webMgr === "object" && window.top.webMgr !== null ) {
			window.top.webMgr.viewOnlyMode();
		}
		$('.viewFile .btnSave').hide();
	}

	function closeViewFilePopup( popupID, fileName ) {
		if( typeof window.top.webMgr === "object" && window.top.webMgr !== null ) {
			if( webMgr.viewerHasChanges() ) {
				ajax.doit( '->showSaveChangesPrompt', fileName );
				return;
			}
		}

		popup.hide( popupID );
	}

	function closeSaveChangesPromptPopup() {
		ajax.doit( '->closePopup', 'saveChangesPromptPopup' );
	}

	function closeDontSave() {
		ajax.doit( '->closePopup', 'saveChangesPromptPopup' );
		popup.hide( '<?=$uniqueID;?>' );
	}
]]></script>
