body {
	background: transparent url(../img/body_bg.png) repeat-x 0 0;
}
body.login {
	background-image: none;
}
.header {
	background-color: #676767;
}

h1{
    padding-top: 11px;
}

.row {
	padding: 10px 0 6px 5px;
}

.row label{
	color: #2b2b2b;
}

.panel_control{
	margin-top: 20px;
}

.tbl_info .custom_checkbox{
	margin: 10px 10px;
}
.tbl_info th .custom_checkbox{
	margin: 1px 10px;
}

.custom-select.big-arrow .field{
	padding-right: 30px
}

.option_block{
	background: #fff;
	float: left;
	font-size: 16px;
	font-weight: normal;
	margin-top: 20px;
	padding: 30px;
	position: relative;
	width: 898px;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
	.option_block h2{
		color: #555555;
		font-size: 16px;
		font-weight: bold;
		line-height: 30px;
		margin: 0px;
		padding: 0px;
	}
	.option_block .file_info_block{
		float: left;
		line-height: 30px;
		overflow: hidden;
		text-align: center;
		width: 640px;
	}
		.option_block .file_info_block .name{
			color: #555555;
			font-size: 14px;
			font-style: italic
		}
		.option_block .file_info_block a{
			font-size: 14px;
			font-weight: bold;
			margin-left: 10px;
		}
		.option_block .file_info_block .view{
			color: #00a5e4;
			margin-left: 20px;
		}
		.option_block .file_info_block .delete{
			color: #a52222
		}


	.option_block .option_btn {
		font-size: 16px;
		font-weight: normal;
	}


.content_header h2 {
   display: block;
   float: left;
}
.content_header h2.sub_title{
	color: #676767;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 0px!important;
}

.custom_checkbox{
    background: url(../img/input_checkbox2_normal.png) no-repeat left top;
    display: block;
    height: 15px;
    margin-left: 10px;
    padding: 0px!important;
    width: 15px;
}
.custom_checkbox.checked{
	background: url(../img/input_checkbox2_checked.png) no-repeat left top;

}

.custom_checkbox {
	background: url(../img/input_checkbox2_normal.png) no-repeat left top;
    cursor: pointer;
	width: 15px;
	height: 15px;
	float: left;
}

ul.approve {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}


ul.list_control {
    color: #484848;
    float: right;
    margin: 11px 10px 0 0;
}

ul.list_control li {
    float: left;
}

ul.list_control li {
    border-right: none;
}

ul.list_control li a {
    border-right: 1px solid #484848;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    margin-left: 0px;
    margin-right: 0px;
}

h2.auth_logo.reseller_logo {
  width: 344px;
  height: 114px;
}

h2.auth_logo.reseller_logo a {
  background:url("../img/logo_header.jpg") no-repeat scroll 0 0 transparent;
  width: 344px;
  height: 114px;
  background-size: 344px 114px;
  -moz-background-size: 344px 114px;
  -webkit-background-size: 344px 114px;
}