body {
	/*background: transparent url(../img/body_bg.png) repeat-x 0 0;*/
}
body.login, body.signup {
	background-image: none;
}
.header {
	background-color: #676767;
}

h1 {
    padding-top: 11px;
}

.w_870 {
    width: 870px !important;
}

.row textarea{
    border: 1px solid #00a5e4;
}

.row textarea.error{
    background:url("../img/fon_large_sprite.png") repeat scroll 0 -104px transparent;
}

h2.auth_logo.reseller_logo {
  width: 344px;
  height: 114px;
}

h2.auth_logo.reseller_logo a {
  background:url("../img/logo_header.png") no-repeat scroll 0 0 transparent;
  width: 344px;
  height: 114px;
  background-size: 344px 114px;
  -moz-background-size: 344px 114px;
  -webkit-background-size: 344px 114px;
}
