/* signup-general */
body.signup-general {
	background-image: none;
	min-width: 400px;
	min-height: inherit;
	padding-bottom: 45px;
	overflow-x: hidden;
}

.signup-general .content_top .content {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-bottom: 45px;
}

.signup-general .brand .reseller_logo {
	width: 344px;
	height: 114px;
	margin: 0 auto;
	background: url("../img/logo_header.png") no-repeat scroll 0 0 transparent;
}

.signup-general .form {
	width: 365px;
	margin: 10px auto;
	color: #3f3f3f;
}

.signup-general .form h2 {
	font-size: 30px;
}

.signup-general .form input {
	width: 365px;
	border: 1px solid #e1e8ed;
	border-radius: 3px;
	outline: 0;
	margin: 4px 0;
	font-size: 18px;
	padding: 10px;
	box-shadow: none;
}

.signup-general .form input.field {
	width: 343px;
}

.signup-general .form input.submit {
	background-color: #1da1f2;
	color: white;
}

.signup-general .form input:focus {
	border-color: #56b4ef;
	box-shadow: none;
}

.signup-general .form select {
	font-size: 18px;
	width: 365px;
	height: 42px;
	margin: 4px 0;
	padding: 2px 0 2px 3px;
	border: 1px solid #e1e8ed;
	outline: 0;
	-webkit-appearance: menulist-button;
}

.signup-general .form select:focus {
	border-color: #56b4ef;
	box-shadow: none;
}

.signup-general .form input.city {
	width: 229px;
}

.signup-general .form.ot input.city {
	width: 343px;
}

.signup-general .form select.state,
.signup-general .form select.province {
	width: 110px;
}

.signup-general #pwd-req-wrap {
	position: relative;
	top: 0;
	left: 4px;
	right: 4px;
}

.signup-general .pwd-req {
	display: none;
	position: absolute;
	top: -236px;
    left: 0;
	height: 229px;
	padding: 3px;
	background-color: white;
	border-radius: 12px;
}

.signup-general #passwordRequirements {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	width: 349px;
}

.signup-general #passwordRequirements section {
	font-size: 16px;
}

.signup-general #reqTitle h2 {
	font-size: 16px;
	line-height: 16px;
}

.signup-general .form select.error {
	background: url('../img/fon_sprite.png') repeat-x scroll 0 -26px transparent;
}

.signup-general .form input.error[type="text"],
.signup-general .form input.error[type="email"],
.signup-general .form input.error[type="tel"],
.signup-general .form input.error[type="password"],
.signup-general .form select.error {
	background-size: 200% 200%;
	background-position-y: -41px;
}

.signup-general .form select.error {
	background-position-y: -40px;
}

.signup-general h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 8px 0;
}

.signup-general .footer {
	min-width: inherit;
	width: inherit;
	height: 45px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.signup-general .footer .footer_data {
	margin: 0 10px;
	width: inherit;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
}

.signup-general .footer_data p {
	display: inline-block;
	width: 32%;
	height: 45px;
}

.signup-general .footer_data p.copyright {
	position: inherit;
	top: inherit;
	left: inherit;
}

.signup-general .footer_data p.poweredby {
	position: inherit;
	top: inherit;
	right: inherit;
}

.signup-general .footer_data p.poweredby img {
	margin: 0;
	padding: 0;
	width: 130px;
	height: 30px;
	vertical-align: inherit;
	position: relative;
	top: 7px;
	right: 0;
}
