<div class="panel_control">
	<popup id="deletePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/activate.html"/>
	<navigator id="nav2" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
	<p class="showing">
		<span>Showing</span>
		<?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp;
		<span class="display">Display</span>
		<pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
	</p>
</div>
<table class="tbl_info" name="user_list">
	<tr>
		<th width="30">&nbsp;</th>
		<th width="150"><?=$links[0];?></th>
		<th width="405"><?=$links[1];?></th>
		<th>&nbsp;</th>
	</tr>
	<? if(count($links) > 2): ?>
	<? foreach ($rows as $idx => $row) { ?>
	<? $editlink = $elink . $row['ID']; ?>
	<tr class="<?= $idx%2 ? 'zebra':'';?>" style="cursor:pointer;" onclick="rowClick(event, '<?=$editlink?>')">
		<td align="center"></td>
		<td><?=$row['ID']?></td>
		<td><?=$row['firstName'] . ' ' . $row['lastName']?></td>
		<td>
			<div class="hide_links">
				<a href="<?=$editlink?>">Edit</a>
				<a href="javascript:showDelPopup('<?=$row['ID']?>');" class="fc_red">Delete</a>
			</div>
		</td>
	</tr>
	<? } ?>
	<? else: ?>
	<? foreach ($rows as $idx => $row) { ?>
	<? $editlink = $elink . $row['ID']; ?>
	<tr class="<?= $idx%2 ? 'zebra':'';?>" style="cursor:pointer;" onclick="rowClick(event, '<?=$editlink?>')">
		<td align="center"></td>
		<td><?=$row['firstName']?></td>
		<td><?=$row['lastName']?></td>
		<td>
			<div class="hide_links">
				<a href="<?=$editlink?>">Edit</a>
				<a href="javascript:showDelPopup('<?=$row['ID']?>');" class="fc_red">Delete</a>
			</div>
		</td>
	</tr>
	<? } ?>
	<? endif; ?>
	<? if (count($rows) == 0) { ?>
	<tr>
		<td colspan="7" class="textcenter">
			<strong><?=( empty( $searchValue )? 'Empty list' : '"'.$searchValue.'" not found' )?></strong>
		</td>
	</tr>
	<? } ?>
</table>
<div class="panel_paginator">
	<? if ($count > $pageSize) { ?>
	<navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
	<? } ?>
	<p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
	<pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
	</p>
	<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetAdminCallback = '<?=$class?>@<?=$uniqueID?>';
function showDelPopup(ID){
	ajax.doit('->showDelPopup', ID);
}

function rowClick(event, link) {
	var target = event.target || event.srcElement;
	if (target.tagName != 'A' && target.tagName != 'SPAN') {
		document.location = link;
	}
}

function clickSearch(e) {
	if ((e || event).keyCode == 13) {
		searchValue();
	}
}

function searchValue() {
	ajax.doit(widgetAdminCallback + '->search');
}
]]></script>