<table class="tbl_info">
	<? foreach ($rows as $idx => $row) { ?>
	<tr class="<?= $idx%2 ? '':'zebra';?>">
		<td width="20"></td>
		<td><?=$row['firstName']?> <?=$row['lastName']?></td>
		<td>
			<div class="hide_links">
				<a href="javascript:;" onclick="removeUser(<?=$row['ID']?>);">Remove</a>
			</div>
		</td>
	</tr>
	<? } ?>
</table>
<script type="text/javascript"><![CDATA[
	widgetUserCallback = '<?=$class?>@<?=$uniqueID?>';

	function removeUser(id) {
		ajax.doit(widgetUserCallback+'->removeUser', id);
		if ( typeof adjustBorder === 'function' ) {
			adjustBorder();
		}
	}
]]></script>
