<body id="page">
<?php
// note: body element must be at top of document, else xml parsing fails
$customColorBackground = $resellerColor ? 'background-color:'.$resellerColor.';' : '';
$customColorBorder = $resellerTextColor ? 'border-color:'.$resellerTextColor.';' : '';
$customColorText = $resellerTextColor ? 'color:'.$resellerTextColor.';' : '';
$customLogoReseller = $resellerLogo ? 'background-image:url('.$resellerLogo.');' : '';
?>


	<div id="header" style="<?=$customColorBackground?>">
		<div id="custom_logo">
			<a href="<?=$basePath;?>" style="<?=$customLogoReseller?>">eDepoze</a>
		</div>
		<? if (isset( $sponsorLogo )): ?>
		<div id="custom_sponsor_logo">
			<div class="sponsorLogo" style="background-image:url(<?=$sponsorLogo?>);"></div>
		</div>
		<? endif; ?>
		<div id="actions">
			<h2 class="username" style="<?=$customColorText?><?if(!$showTutorials):?> padding-top:35px;<?endif;?>">
				<? if ($welcomeName): echo 'Welcome, <span class="name">'.$welcomeName.'</span>'; endif; ?>
			</h2>
			<div id="adminTitle" style="<?=$customColorText?>"><? if ($adminTitle) : echo $adminTitle; endif; ?></div>
			<? if($showTutorials): ?>
			<div><div style="<?=$customColorText?>" id="tutorialButton" onclick="ajax.doit('->showTutorialMenu')">Tutorials</div>
			<popup id="tutorialMenu" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/tutorialMenu.html"/>
			</div>
			<? endif; ?>
			<div href="javascript:void(0);" class="logout" onclick="ajax.doit('->logout');" style="">
				<span style="<?=$customColorText?>">Logout</span>
				<div class="logout_sign" style="<?=$customColorBorder?>">
					<div class="logout_sign_2" style="<?=$customColorBorder?>"></div>
				</div>
			</div>
		</div>
   </div>
   <div class="main_wrapper_other">
      <? if ($showTabs): ?>
      <div id="menuTabBar" class="tab_menu">
         <ul>
            <?php foreach((array)$tabs as $k=>$_tab): ?>
			<?php $isActive = strpos( $relPath, substr( $_tab[1], 0, -1 ) ) === 0 || ($k==1 && $relPath == '/');?>
            <li>
				<a href="<?="{$basePath}{$_tab[1]}";?>" class="<?=(($isActive||$forceActive==$k) ? 'active' : '');?>"><?=$_tab[0];?></a>
				<?php if( isset( $_tab[2] ) ): ?>
				<ul class="tab_menu_sub">
					<?php foreach( $_tab[2] as $subItem ): ?>
					<li><a href="<?="{$basePath}{$subItem['url']}";?>"><?=$subItem['label'];?></a></li>
					<?php endforeach; ?>
				</ul>
				<?php endif; ?>
			</li>
            <?php endforeach; ?>
         </ul>
		<div class="dropshadow"></div>
      </div>
	  <div class="menuPlug"></div>
      <? endif; ?>
      <popup id="confirmPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/confirm.html"/>
      <popup id="noticePopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/notice.html"/>
      <popup id="tutorialPopup" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/popups/viewTutorial.html"/>
      <?=$mainform;?>
   </div>
   <div class="footer">
      <div class="footer_data">
		
		<p class="copyright">Copyright &copy; <?=date('Y')?> eDepoze,LLC </p>

      </div>
   </div>
<script type="text/javascript">
(function($) {
	$(document).ready(function(){
		$(window).scroll(function(){
			if ($(this).scrollTop() > 124) {
				$('#menuTabBar').addClass('small');
				$('.menuPlug').show();
			} else {
				$('#menuTabBar').removeClass('small');
				$('.menuPlug').hide();
			}
		});
	});
})(jQuery);

</script>
</body>
