<div class="paginator" name="paginator">
  <p class="go_to_page_caption">Go to Page:</p>
  <input id="page_#uniqueID#" type="text" class="go_to_page" onkeypress="if (event.keyCode == 13) ajax.doit('#callBack#', 'pos', this.value - 1);" />
  <a class="btn_go_to_page" onclick="ajax.doit('#callBack#', 'pos', document.getElementById('page_#uniqueID#').value - 1);" href="javascript:;"><span>Go</span></a>
  
  <first>
    <a href="javascript:;" class="previous_page"  onclick="ajax.doit('#callBack#', 'pos', #pos#);">
      <span class="first_page"><span>First</span></span>
    </a>
  </first>
  
  <page><a href="javascript:;" onclick="ajax.doit('#callBack#', 'pos', #pos#);"><span>#page#</span></a></page>
  <spacer><a href="javascript:;"><span>...</span></a></spacer>
  <page />
  <page type="active"><a href="javascript:;"><span class="active_page">#page#</span></a></page>
  <page />
  <spacer />
  <page />
  
  <last>
    <a href="javascript:;" class="next_page"  onclick="ajax.doit('#callBack#', 'pos', #pos#);">
      <span class="last_page"><span>Last</span></span>
    </a>
  </last>
</div>
