<div class="table-info-line">
   <div class="clear"></div>
</div>
<table class="table more_columns">
   <tr>
      <th width="5%">ID</th>
	  <? if ( $isAdmin) { ?>
      <th width="25%">Reseller Name</th>
	  <? } else { ?>
      <th width="25%">Client Name</th>
	  <? } ?>
      <th width="10%">Since</th>
      <th width="15%">City</th>
      <th width="5%">State</th>
      <th width="15%">Primary Contact</th>
      <th width="20%">Contact Phone</th>
      <th width="5%">Active</th>
   </tr>
   <? foreach ((array) $rows as $row): ?>
      <tr>
         <td><?= $row['ID'] ?></td>
         <td><?= htmlspecialchars($row['name']); ?></td>
         <td><?= date_format(date_create($row['startDate']), 'm/d/Y'); ?></td>
         <td><?= htmlspecialchars($row['city']); ?></td>
         <td><?= htmlspecialchars($row['state']); ?></td>
         <td><?= htmlspecialchars($row['contactName']); ?></td>
         <td><?= htmlspecialchars($row['contactPhone']); ?></td>
         <? if ($row['deactivated']) { ?>
            <td class="no">Inactive</td>
         <? } else { ?>
            <td class="yes">Active</td>
         <? } ?>
      </tr>
   <? endforeach; ?>
</table>