<div class="panel_control m_t0">
	<div class="row p_t9 p_b10 b_b1" style="padding:0;">
		<div class="f_l">
			<validatorrequired id="valdate" controls="startDate,endDate" client="1" groups="depo" class="error"/>
			<validatorcustom id="valDates" groups="depo" client="1" controls="startDate,endDate" clientFunction="valDates"/>
			<div class="m_t0" style="width: 545px;">
				<label class="f_l p_t5 p_l10 p_r10">Start Date</label>
				<datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block w_auto f_l" classButton="btn_calendar" readonly="true" />
				<label class="f_l p_t5 p_l10 p_r10">End Date</label>
				<datetimepicker id="endDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block w_auto f_l" classButton="btn_calendar" readonly="true" />
				<a class="btn_dark_gray m_l10 f_l" href="javascript:;" style="min-width: 72px;" onclick="depositionReport.applyFilter();">
					<span class="btn_dark_gray_r">Apply</span>
				</a>
			</div>
		</div>
		<div class="f_r p_r10">
			<a href="javascript:;" onclick="depositionReport.detailReport();" class="btn_blue option_btn">
				<span class="btn_blue_r">View Reports</span>
			</a>
		</div>
	</div>
	<div class="panel_paginator">
		<?php if( $count > $pageSize ): ?>
		<navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
		<?php endif; ?>
		<div class="showing">
			<div style="font-weight:bold;padding-right:5px;">Showing</div>
			<div><?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; | &nbsp; &nbsp;</div>
			<div class="display">Display</div>
		</div>
		<pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
		<div class="clear"></div>
	</div>
</div>
<table class="tbl_info depo_report_tbl">
    <tr>
        <th width="35" align="center"><a class="custom_checkbox2 select_all m_r5 f_l<?=($isAllSelected ? ' checked' : '');?>" href="javascript:;" onclick="depositionReport.selectAll();"></a></th>
        <th width="65"><?=$links[0];?></th>
        <th width="85"><?=$links[1];?></th>
        <th width="200"><?=$links[2];?></th>
		<th width="200"><?=$links[3];?></th>
        <th width="200"><?=$links[4];?></th>
        <th><?=$links[5];?></th>
    </tr>
    <? foreach( $rows as $idx => $row ): ?>
    <tr class="dr <?= $idx%2 ? 'zebra':'';?>" onclick="depositionReport.selectID(<?=$row['ID'];?>);">
        <td align="center"><a class="custom_checkbox2 numeric f_l <?=(isset($selected[$row['ID']]) ? ' checked' : '');?>" href="javascript:;" data-id="<?=$row['ID'];?>"></a></td>
        <td><?=$row['ID']?></td>
		<td><?=date( 'm/d/Y', strtotime( $row['started'] ) );?></td>
		<td><div class="to_e" style="width:190px;"><?=htmlspecialchars( $row['clientName'] );?></div></td>
		<td><div class="to_e" style="width:190px;"><?=htmlspecialchars( $row['caseName'] );?>&nbsp;(<?=htmlspecialchars( $row['caseNumber'] );?>)</div></td>
		<?php if( $row['volume'] ): ?>
        <td><div class="to_e" style="width:190px;"><?=htmlspecialchars($row['depositionOf'])?> (Vol: <?=$row['volume'];?>)</div></td>
		<?php else: ?>
		 <td><div class="to_e" style="width:190px;"><?=htmlspecialchars($row['depositionOf'])?></div></td>
		<?php endif; ?>
        <td><div><?=htmlspecialchars($row['class'])?></div></td>
    </tr>
    <?php endforeach; ?>
    <?php if( count( $rows ) == 0 ): ?>
    <tr>
        <td colspan="9" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <?php endif; ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav1" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
    <div class="showing">
		<div style="font-weight:bold;padding-right:5px;">Showing</div>
		<div><?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; | &nbsp; &nbsp;</div>
		<div class="display">Display</div>
	</div>
    <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
	<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript">
<![CDATA[
widgetCallback = '<?=$class;?>@<?=$uniqueID;?>';

function checkRow( arg, rowCount )
{
	if( rowCount > 0 ) {
		ajax.max( 1 ).doitSync( arg );
	}
}

function detailReport()
{
}

function selectID( id )
{
	ajax.doit( widgetCallback + '->selectID', id );
}

function selectIDs()
{
	ajax.doit( widgetCallback + '->selectAll' );
}

function valDates( ctrls )
{
	var flag = true;
	var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ctrls[0]).value );
	var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ctrls[1]).value );
	if( dateE < dateS ) {
		validators.results[ids[1]] = 0;
		return false;
	}
	return true;
}

var WidgetDepositionReport = function( ctrlr, uID )
{
	var controller = '';
	var uniqueID = '';
	var baseCallbackStr = '';
	var selectedIDs = {};
	var rowIDs = [];

	if( typeof ctrlr === 'string' ) {
		controller = ctrlr;
		baseCallbackStr = controller;
	}
	if( typeof uID === 'string' ) {
		uniqueID = uID;
		if( baseCallbackStr ) {
			baseCallbackStr += '@' + uniqueID;
		}
	}

	var rows = $('#' + uniqueID + ' table tr.dr a');
	if( typeof rows === 'object' && rows !== null ) {
		rowIDs = [];
		rows.each( function( index ) {
			var _ID = parseInt( $(this).attr( 'data-id' ) );
			if( !isNaN( _ID ) && _ID > 0 ) {
				rowIDs.push( _ID );
			}
		} );
	}

	function _selectID( ID )
	{
		ajax.max(1).doit( baseCallbackStr + '->selectID', ID );
		return;
	};
	this.selectID = _selectID;

	function _selectAll()
	{
		ajax.max(1).doit( baseCallbackStr + '->selectAll' );
	};
	this.selectAll = _selectAll;

	function _detailReport()
	{
		ajax.max(1).doit( baseCallbackStr + '->detailReport', ajax.getFormValues() );
	};
	this.detailReport = _detailReport;

	function _applyFilter()
	{
		ajax.max(1).doit( baseCallbackStr + '->applyFilter', ajax.getFormValues() );
	};
	this.applyFilter = _applyFilter;

};
var depositionReport = new WidgetDepositionReport( '<?=$class;?>', '<?=$uniqueID;?>' );

]]>
</script>