<table class="tbl_info reports m_t20 no-border">
    <tr>
        <th width="15"></th>
        <th><?=$links[0];?></th>
        <th width="100"><?=$links[1];?></th>
    </tr>
    <? foreach ($rows as $idx => $row) { ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?>">
        <td></td>
        <td><?=$row['name']?></td>
        <td><?=$row['quantity']?></td>
    </tr>  
    <? } ?>
    <? if (count($rows) == 0) { ?>
    <tr>
        <td colspan="3" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <? } ?>
</table>
<div class="table-total-box"><span>Total</span><b>$</b><textlabel id="sum" tag="span"></textlabel></div>		