<table class="table more_columns">
   <thead>
    <tr>
        <th>Summary for Period</th>
        <th class="ta-center">Quantity</th>
    </tr>
    </thead>
    <tbody>
    <? foreach ((array) $rows as $row): ?>
    <tr>
        <td><?= htmlspecialchars($row['name']); ?></td>
        <td class="ta-center"><b><?= $row['quantity']; ?></b></td>
    </tr>
    <? endforeach; ?>
    </tbody>
</table>
<div class="table-total"><span>Total</span> <?= sprintf('$%.2f', $total); ?></div>