<div class="panel_control m_t0" style="height:auto;">
	<div class="f_l w_100p p_t9 p_b10 b_b1">
		<div class="f_l">
			<table align="right">
				<tr>
					<td width="120">
						<label class="label">Status</label>
						<customdropdownbox id="status" class="custom-select big-arrow t_0 l_0" style="z-index: 10;"/>
					</td>
					<td width="200">
						<label class="label">Location</label>
						<customdropdownbox id="location" class="custom-select big-arrow t_0 l_0" style="z-index: 10; width:200px;"/>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center;">
						<validatorrequired id="valdate" controls="startDate,endDate" client="1" groups="usage" class="error"/>
						<validatorcustom id="valDates" class="error2" groups="usage" client="1" controls="startDate,endDate" clientFunction="valDates" text="** Dates are required."/>
					</td>
				</tr>
			</table>
		</div>
		<div class="f_r">
			<table align="right">
				<tr>
					<td width="140">
						<label class="label">Start Date</label>
						<datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block m_r8 w_auto" classButton="btn_calendar" readonly="true" />
					</td>
					<td width="140">
						<label class="label">End Date</label>
						<datetimepicker id="endDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block m_r8 w_auto" classButton="btn_calendar" readonly="true" />
					</td>
					<td width="100" style="vertical-align: bottom;">
						<a href="javascript:;" onclick="widgetUsage.viewDetail();" class="btn_blue option_btn">
							<span class="btn_blue_r">View Reports</span>
						</a>
					</td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="p_t0 f_l w_100p">
		<div class="panel_paginator">
			<?php if( $count > $pageSize ): ?>
			<navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
			<?php endif; ?>
			<p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span></p>
			<pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
			<div class="clear"></div>
		</div>
	</div>
</div>
<table class="tbl_info">
    <tr>
        <th width="40" align="center"><a class="custom_checkbox2 select_all m_r5 f_l<?=($isAllSelected ? ' checked' : '');?>" href="javascript:;" onclick="widgetUsage.selectAll()"></a></th>
        <th width="75"><?=$links[0];?></th>
        <th><?=$links[1];?></th>
        <th width="130"><?=$links[2];?></th>
        <th width="110"><?=$links[3];?></th>
        <th width="50"><?=$links[4];?></th>
        <th width="225"><?=$links[5];?></th>
        <th width="80" class="t_a_c"><?=$links[6];?></th>
    </tr>
    <? foreach ($rows as $idx => $row) { ?>
    <? $viewlink = ($url ? '/'.$url.'/report/detailreport?cID[0]=' : '/admin/report/detailreport?cID[0]=') . $row['ID']; ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?> h_50" onclick="selectID('<?=$row['ID'];?>');">
        <td class="h_50" align="center"><a class="custom_checkbox2 numeric f_l m_t16 <?=(isset($IDs[$row['ID']]) ? ' checked' : '');?>" href="javascript:;"></a></td>
        <td class="h_50"><?=$row['ID']?></td>
        <td class="h_50"><div style="width: 243px; word-wrap: break-word"><a class="linkName" href="<?=$viewlink?>"><?=htmlspecialchars($row['name'])?></a></div></td>
        <td class="h_50"><div class="to_e" style="width:125px;" title="<?=htmlspecialchars($row['location'])?>"><?=htmlspecialchars($row['location'])?></div></td>
        <td class="h_50"><div class="to_e" style="width:105px;" title="<?=htmlspecialchars($row['city'])?>"><?=htmlspecialchars($row['city'])?></div></td>
        <td class="h_50"><?=htmlspecialchars($row['state'])?></td>
        <td class="h_50">
			<div class="p_t5">
				<p class="h_20 to_e" style="width:220px;" title="<?=htmlspecialchars($row['contactName'])?>"><?=htmlspecialchars($row['contactName'])?></p>
				<p class="h_20 to_e" style="width:220px;" title="<?=htmlspecialchars($row['contactEmail'])?>"><?=htmlspecialchars($row['contactEmail'])?></p>
			</div>
		</td>
        <? if ($row['deactivated']) { ?>
        <td class="h_50 t_a_c deactivated_status">Inactive</td>
        <? } else { ?>
        <td class="h_50 t_a_c activated_status">Active</td>
        <? } ?>
    </tr>
    <? } ?>
    <? if (count($rows) == 0) { ?>
    <tr>
        <td colspan="9" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <? } ?>
</table>
<div class="panel_paginator">
    <?php if( $count > $pageSize ): ?>
    <navigator id="nav1" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <?php endif; ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span></p>
    <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
	<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript">
<![CDATA[
widgetUsageCallback = '<?=$class?>@<?=$uniqueID?>';

function checkRow( arg, rowCount )
{
	if( rowCount > 0 ) {
		ajax.max(1).doitSync( arg );
	}
}

function selectID( id )
{
	ajax.doit( widgetUsageCallback + '->selectID', id );
}

function selectIDs()
{
	ajax.doit( widgetUsageCallback + '->selectAll' );
}

function valDates( ids )
{
	var flag = false;
	var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[0]).value );
	var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[1]).value );
	if( dateS === null ) {
		validators.results[ids[0]] = 0;
	}
	if( dateE === null ) {
		validators.results[ids[1]] = 0;
	}
	flag = (dateS !== null && dateE !== null && (dateE > dateS || dateE < dateS));
	return flag;
}

function WidgetUsage( ctrlr, uID )
{
	var controller = '';
	var uniqueID = '';
	var baseCallbackStr = '';
	var selectedIDs = {};
	var rowIDs = [];

	if( typeof ctrlr === 'string' ) {
		controller = ctrlr;
		baseCallbackStr = controller;
	}
	if( typeof uID === 'string' ) {
		uniqueID = uID;
		if( baseCallbackStr ) {
			baseCallbackStr += '@' + uniqueID;
		}
	}

	var rows = $('#' + uniqueID + ' table tr.dr a');
	if( typeof rows === 'object' && rows !== null ) {
		rowIDs = [];
		rows.each( function( index ) {
			var _ID = parseInt( $(this).attr( 'data-id' ) );
			if( !isNaN( _ID ) && _ID > 0 ) {
				rowIDs.push( _ID );
			}
		} );
	}

	function _selectID( ID )
	{
		ajax.max(1).doit( baseCallbackStr + '->selectID', ID );
		return;
	};
	this.selectID = _selectID;

	function _selectAll()
	{
		ajax.max(1).doit( baseCallbackStr + '->selectAll' );
	};
	this.selectAll = _selectAll;

	function _viewDetail()
	{
		ajax.max(1).doit( baseCallbackStr + '->viewDetail', ajax.getFormValues() );
	};
	this.viewDetail = _viewDetail;

	function _applyFilter()
	{
		var flag = validators.validate( 'usage', 'error', '' );
		if( !flag ) {
			return;
		}
		ajax.max(1).doit( baseCallbackStr + '->applyFilter', ajax.getFormValues() );
	};
	this.applyFilter = _applyFilter;
};
var widgetUsage = new WidgetUsage( '<?=$class;?>', '<?=$uniqueID;?>' );
]]>
</script>