<div class="panel_control" style="margin-top: 5px;">
    <navigator id="nav2" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <div class="showing">
		<div style="font-weight:bold;padding-right:5px;">Showing</div>
		<div><?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; | &nbsp; &nbsp;</div>
		<div class="display">Display</div>
	</div>
    <pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
</div>
<table class="tbl_info">
    <tr>
        <th width="10">&nbsp;</th>
        <th width="60"><?=$links[0];?></th>
        <th><?=$links[1];?></th>
		<?php if( $resellerList ): ?>
		<th width="80"><?=$links[6];?></th>
		<?php endif; ?>
		<th width="80"><?=$links[2];?></th>
        <th width="200"><?=$links[3];?></th>
        <th width="110"><?=$links[4];?></th>
        <th width="80"><?=$links[5];?></th>
        <th width="140">&nbsp;</th>
   </tr>
   <?php foreach( $rows as $idx => $row ): ?>
   <?php $clientPath = ($row['typeID'] === 'EC') ? 'enterprise' : 'client'; ?>
   <?php $editlink = ($url ? "/{$url}/{$clientPath}/edit?ID=" : '/admin/reseller/edit?ID=') . $row['ID']; ?>
   <tr class="<?= $idx%2 ? 'zebra':'';?>" onclick="rowClick(event, '<?=$editlink?>')">
       <td align="center"></td>
       <td><?=$row['ID']?></td>
       <td><div style="width: 240px; word-wrap: break-word;"><?=$row['name']?></div></td>
	   <?php if( $resellerList ): ?>
	   <td><?=$typeMap["{$row['resellerClass']}"];?></td>
	   <?php endif; ?>
	   <td><div><?=($row['typeID'] == 'R') ? $row['resellerLevel'] : $typeMap["{$row['typeID']}"];?></div></td>
       <td><div style="width: 196px; word-wrap: break-word;"><?=$row['contactName']?></div></td>
       <td><?=date_format(date_create($row['startDate']), 'm/d/Y');?></td>
       <? if ($row['deactivated']) { ?>
            <td class="deactivated_status">Deactivated</td>
       <? } else { ?>
            <td class="activated_status">Active</td>
       <? } ?>
       <td> 
            <div class="hide_links">
                <a href="<?=$editlink?>">View/Edit</a>
				<?php if( $row['typeID'] !== 'EC'): ?>
                <a href="javascript:void(0)" onclick="activateAccount(<?=$row['ID']?>, 0);"><?=$row['deactivated'] ? 'Activate':'Deactivate' ?></a>
				<?php endif; ?>
            </div>
       </td>
    </tr>  
    <? endforeach; ?>
	<? if (count($rows) == 0) { ?>
	<tr>
		<td colspan="9" class="t_a_c">
			<strong><?=(empty($searchValue)?'Empty list':'"'.$searchValue.'" not found')?></strong>
		</td>
	</tr>
	<? } ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) { ?>
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? } ?>
	<div class="showing">
		<div style="font-weight:bold;padding-right:5px;">Showing</div>
		<div><?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; | &nbsp; &nbsp;</div>
		<div class="display">Display</div>
	</div>
	<pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
    <div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetClientCallback = '<?=$class?>@<?=$uniqueID?>';
  
function activateAccount(id, confirm) {
  if ( confirm ) {
    ajax.doit(widgetClientCallback+'->activateAccount', id);
  } else {
    ajax.doit(widgetClientCallback+'->confirmActivateAccount', id);
  }
}

function rowClick(event, link) {
  var target = event.target || event.srcElement;
  if (target.tagName != 'A' && target.tagName != 'SPAN') {
      document.location = link;
  }
}

]]></script>