<div class="panel_control">
    <navigator id="nav2" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize" style="width:47px;" class="custom-select small"/>
    </p>
</div>
<table class="tbl_info">
    <tr>
        <th width="10">&nbsp;</th>
        <th width="60"><?=$links[0];?></th>
        <th><?=$links[1];?></th>
        <th width="185"><?=$links[2];?></th>
		<th width="185"><?=$links[5];?></th>
        <th width="110"><?=$links[3];?></th>
        <th width="80"><?=$links[4];?></th>
        <th width="140">&nbsp;</th>
   </tr>
   <? foreach( $rows as $idx => $row ): ?>
   <? $editlink = '/admin/enterprise/edit?ID='.$row['ID']; ?>
   <?php $isDeleted = ($row['deleted']); ?>
   <?php $isActive = !($row['deactivated']); ?>
   <tr class="<?= $idx%2 ? 'zebra':'';?>" onclick="rowClick(event, '<?=$editlink?>')">
       <td align="center"></td>
       <td><?=$row['ID']?></td>
       <td><div style="width:183px;word-wrap:break-word;"><?=$row['name'];?></div></td>
       <td><div style="width:180px;word-wrap:break-word;"><?=$row['contactName'];?></div></td>
	   <td><div style="width:180px;word-wrap:break-word;"><?=$row['resellerName'];?></div></td>
       <td><?=date_format(date_create($row['startDate']), 'm/d/Y');?></td>
	   <?php if( !$isDeleted ): ?>
	   <td class="<?=((!$isActive) ? 'de' : '' );?>activated_status"><?=((!$isActive) ? 'Dea' : 'A');?>ctivated</td>
	   <?php else: ?>
	   <td class="deactivated_status">Deleted</td>
	   <?php endif; ?>
       <td>
            <div class="hide_links">
                <a href="<?=$editlink?>">View/Edit</a>
				<?php if( !$isDeleted ): ?>
                <a href="javascript:void(0)" onclick="activateAccount(<?=$row['ID']?>, 0);"><?=$row['deactivated'] ? 'Activate':'Deactivate' ?></a>
				<?php endif; ?>
            </div>
       </td>
    </tr>
    <? endforeach; ?>
	<? if (count($rows) == 0) : ?>
	<tr>
		<td colspan="8" class="t_a_c">
			<strong><?=(empty($searchValue)?'Empty list':'"'.$searchValue.'" not found')?></strong>
		</td>
	</tr>
	<? endif; ?>
</table>
<div class="panel_paginator">
    <? if ($count > $pageSize) : ?>
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <? endif; ?>
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
        <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
    </p>
    <div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetClientCallback = '<?=$class?>@<?=$uniqueID?>';

function activateAccount(id, confirm) {
  if ( confirm ) {
    ajax.doit(widgetClientCallback+'->activateAccount', id);
  } else {
    ajax.doit(widgetClientCallback+'->confirmActivateAccount', id);
  }
}

function rowClick(event, link) {
  var target = event.target || event.srcElement;
  if (target.tagName != 'A' && target.tagName != 'SPAN') {
      document.location = link;
  }
}

]]></script>