<table class="tbl_info">
    <tr>
        <th style="width:10px">&nbsp;</th>
        <th style="width:50px"><?=$links[0];?></th>
        <th style="width:100px"><?=$links[1];?></th>
        <th style="width:188px"><?=$links[2];?></th>
        <th style="width:50px"><?=$links[3];?></th>
		<th style="width:110px" class="t_a_c"><?=$links[4];?></th>
        <th style="width:80px" class="t_a_c"><?=$links[5];?></th>
		<th style="width:120px" class="t_a_c"><?=$links[6];?></th>
        <th style="width:110px" class="t_a_c"><?=$links[7];?></th>
        <th style="width:137px">&nbsp;</th>
   </tr>
</table>
<div class="scrollTable">
	<table class="tbl_info">
	   <? $statusMap = array('N' => 'Scheduled', 'I'=>'Active', 'F'=>'Completed');
	   foreach ($rows as $idx => $row) { ?>
	   <tr class="<?= $idx%2 ? 'zebra':'';?>" style="cursor:pointer;" onclick="rowClick(event, '<?=$row['viewURL'];?>')">
		   <td style="width:10px" align="center"></td>
		   <td style="width:50px"><?=$row['ID'];?></td>
		   <td style="width:100px"><?=date_format(date_create($row['date']), 'm/d/Y');?></td>
		   <td style="width:188px"><div class="to_e"  style="width:188px"><?=$row['depositionOf'];?></div></td>
		   <td style="width:50px"><span title="<?=$row['volume'];?>"><?=((mb_strlen($row['volume'])>8) ? mb_substr($row['volume'],0,8).'...' : $row['volume']);?></span></td>
		   <td style="width:110px" align="center"><?=$row['class']?></td>
		   <td style="width:80px" align="center"><?=$row['status'];?></td>
		   <td style="width:120px" align="center"><div class="to_e" style="width:110px;"><?=$row['jobNumber'];?></div></td>
		   <td style="width:110px" align="center"><div class="to_e" style="width:110px;"><?=$row['location']?></div></td>
		   <td style="width:120px">
				<div class="hide_links">
					<a href="<?=$row['viewURL'];?>">View</a>
					<?php if( ($isAdmin || $row['isOwner'] || $row['isAssistant']) && $row['class'] == \ClickBlocks\MVC\Edepo::DEPOSITION_CLASS_TRIALBINDER ): ?>
					<a href="<?=$row['editURL'];?>">Edit</a>
					<?php endif; ?>
					<? if ($isAdmin && $row['statusID'] != 'I') { ?>
					<a href="javascript:;" class="fc_red" onclick="deleteDepo(<?=$row['ID']?>, 0)">Delete</a>
					<? } ?>
				</div>
		   </td>
		</tr>
		<? } ?>
		<? if (count($rows) == 0) { ?>
	   <tr>
		 <td colspan="10" class="t_a_c">
		   <strong>Empty list</strong>
		 </td>
	   </tr>
	   <? } ?>
	</table>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
widgetClientCallback = '<?=$class?>@<?=$uniqueID?>';
  
function deleteCase(id, confirm) {
  if ( confirm ) {
    ajax.doit(widgetClientCallback+'->deleteCase', id);
  } else {
    ajax.doit(widgetClientCallback+'->confirmDeleteCase', id);
  }
}

function deleteDepo(id, confirm) {
	if ( confirm ) {
		ajax.doit(widgetClientCallback+'->deleteDepo', id);
	} else {
		ajax.doit(widgetClientCallback+'->confirmDeleteDepo', id);
	}
}

function rowClick(event, link) {
  var target = event.target || event.srcElement;
  if (target.tagName != 'A' && target.tagName != 'SPAN') {
      document.location = link;
  }
}

]]></script>