<panel id="mainform" class="content" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main_wrapper">
		<div class="content_control_wrapper">
			<div class="content_control">
				<div class="breadcrumb">
					<p><a href="/admin/admins">Admin Management</a> / <?=$htitle;?></p>
				</div>
				<div class="option_block">
					<? if (!$isNew):?>
					<a href="javascript:;" onclick="showDelPopup();" class="btn_red"><span class="btn_red_r">Delete</span></a>
					<? endif; ?>
					<a href="/admin/admins" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
					<a href="javascript:;" onclick="saveUser();" class="btn_blue"><span class="btn_blue_r">Save</span></a>
				</div>
			</div>
		</div>
		<div class="main">
			<div class="content">
				<div class="content_header">
					<h2><?=$htitle;?></h2>
				</div>
				<div class="content_block">
					<div class="clear"></div>
					<div class="row">
						<label>Admin Name*</label>
						<validatorrequired id="valFields" controls="aname,email,username,password,confirmPassword" client="1"/>
						<textbox id="aname" maxlength="200" class="w_220" />
					</div>
					<div class="clear"></div>
					<h3 style="padding-top:18px;">Login Credentials</h3>
					<div class="row">
						<label>Email*</label>
						<textbox id="email" maxlength="200" class="w_275"/>
						<validatoremail id="valEmail" class="error2" controls="email" client="1" text="Email format is incorrect."/>
					</div>
					<div class="row p_l17">
						<label>Username*</label>
						<textbox id="username" maxlength="200" class="w_275"/>
						<validatorcustom id="valUsernameUniq" class="error2"  client="0" serverFunction="->checkUsername" controls="username" text="This username is already taken."/>
					</div>
					<div class="clear"></div>
					<div class="row">
						<label>Password<?=$ID>0?'':'*';?></label>
						<textbox id="password" maxlength="100" type="password" class="w_275" onfocus="showPasswordRequirements();" onblur="hidePasswordRequirements();"/>
						<validatorcustom id="valPasswordCriteria" class="error2" groups="default" client="1" clientFunction="validatePasswordCriteria" controls="password" text="Please choose a stonger password."/>
					</div>
					<div class="row p_l17">
						<label>Retype Password<?=$ID>0?'':'*';?></label>
						<textbox id="confirmPassword" maxlength="100" type="password" class="w_275"/>
						<hidden id="passauth" value="" />
						<validatorcompare id="valCompare" controls="password,confirmPassword" client="1" text="Password does not match." class="error2"/>
					</div>
					<div id="passwordRequirements" style="top:initial; bottom:130px; right:13px; top: inherit;">
						<section id="reqTitle">
						<h2>Password Requirements:</h2>
						</section>
						<section id="reqBody">
						<p>Password must contain 8 characters, and must contain at least one character from three of the categories below:</p>
						<ul>
							<li>Uppercase letter (A-Z)</li>
							<li>Lowercase letter (a-z)</li>
							<li>Number (0-9)</li>
							<li>Symbols (#@!$%&:;)</li>
						</ul>
						</section>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="content_control_wrapper content_control_bottom">
			<div class="content_control">
				<div class="option_block">
					<? if (!$isNew):?>
					<a href="javascript:;" onclick="showDelPopup();" class="btn_red"><span class="btn_red_r">Delete</span></a>
					<? endif; ?>
					<a href="/admin/admins" class="btn_gray m_r20 m_l65"><span class="btn_gray_r">Cancel</span></a>
					<a href="javascript:;" onclick="saveUser();" class="btn_blue"><span class="btn_blue_r">Save</span></a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"><![CDATA[

		$(document).keyup(function(e){if (e.keyCode == 13) saveUser();});

		var btnLock = false;
		function saveUser(){
			if (validators.validate(null, 'error', '')) {
				btnLock = true;
				if( $('#<?=ID('password')?>').val().length >= 1 ) {
					$('#<?=ID('passauth')?>').val( sha1( $('#<?=ID('password')?>').val() ) );
					$('#<?=ID('password')?>').val( sha1( $('#<?=ID('password')?>').val() ) );
				}
				if( $('#<?=ID('confirmPassword')?>').val().length >= 1 ) {
					$('#<?=ID('confirmPassword')?>').val( sha1( $('#<?=ID('confirmPassword')?>').val() ) );
				}
				ajax.doit('->save', ajax.getFormValues());
				$('#<?=ID('password')?>').val( '' );
				$('#<?=ID('confirmPassword')?>').val( '' );
			}
		}

	function showDelPopup(){
		ajax.doit('->showDelPopup', '<?=$ID;?>');
	}

	function selectRadioButton(el){
		var group = $(el).parent();
		group.find('.custom_radio').removeClass('r_on');
		group.find('input').attr('checked', false);
		$(el).addClass('r_on');
		var input = $(el).find('input');
		var val = input.attr('value');
		group.children('input[type="hidden"]').val(input.attr('value'));
		input.attr('checked', true);
	}

	function showPasswordRequirements() {
		$('#passwordRequirements').show();
	}

	function hidePasswordRequirements() {
		$('#passwordRequirements').hide();
	}

	function validatePasswordCriteria( ctrls, mode )
	{
		var flag = false;
		var ctrlPwd = controls.$( ctrls[0] );
		flag = (ctrlPwd.value.length === 0);
		if( flag ) {
			validators.results[ctrls[0]] = flag;
			return flag;
		}
		flag = (ctrlPwd.value.length >= 8);
		var l = new RegExp( '[a-z]+' ).test( ctrlPwd.value );
		var u = new RegExp( '[A-Z]+' ).test( ctrlPwd.value );
		var d = new RegExp( '[0-9]+' ).test( ctrlPwd.value );
		var s = new RegExp( '[!@#$%&*_\\-+=|<>(){}\\[\\],.:;]+' ).test( ctrlPwd.value );
		var t = (l + u + d + s >= 3);
		flag &= t;
		validators.results[ctrls[0]] = flag;
		return flag;
	}

	]]></script>
</panel>
