<div class="reseller_settings">

	<validatorrequired id="valFieldsUS" groups="countryUS" controls="step1.state,step1.ZIP" client="1" class="error2"/>
	<validatorrequired id="valFieldsCA" groups="countryCA" controls="step1.province,step1.postCode" client="1" class="error2"/>
	<validatorrequired id="valFieldsOT" groups="countryOT" controls="step1.region,step1.postCode" client="1" class="error2"/>

	<h3 class="p_l40">Reseller Default Settings</h3>
	<?php if( $isAdmin ): ?>
	<div class="row p_220">
		<label>Live Transcripts Email</label>
		<textbox id="liveTranscriptsEmail" class="w_220" maxlength="255"/>
		<validatoremail id="valLiveTranscriptsEmailFormat" groups="step1" controls="step1.liveTranscriptsEmail" text="** Email format is incorrect. **" client="1" tag="div" class="error2"/>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="row">
		<label>Reseller Type</label>
		<customdropdownbox id="resellerClass" class="custom-select big-arrow" style="width:232px;"/>
		<div class="clear"></div>
	</div>
	<div class="row">
		<label>Reseller Level</label>
		<customdropdownbox id="resellerLevel" class="custom-select big-arrow" style="width:232px;"/>
		<div class="clear"></div>
	</div>
	<?php else: ?>
	<div class="row">
		<label>Location</label>
		<textbox id="location" class="w_220" maxlength="35"/>
	</div>
	<? endif; ?>
	<div class="clear"></div>
</div>

<div class="client_settings">
	<h3 class="p_l40"><?= ($isAdmin) ? 'Reseller' : 'Client' ?> Settings</h3>
	<div class="row custom_radio_box p_t28">
		<hidden id="deactivated" value="0"/>
		<label id="lblActivated" class="custom_radio <?=$deactivated ? '':'r_on' ?>" onclick="setDeactivated('0')">Active</label>
		<label id="lblDeactivated" class="custom_radio <?=$deactivated ? 'r_on':'' ?>" onclick="setDeactivated('1')">Deactivated</label>
	</div>
	<div class="clear"></div>
	<div class="row w_220">
		<label><?=$typeName?> Name*</label>
		<textbox id="name" class="w_220" maxlength="255"/>
	</div>
	<div class="row w_125">
		<label>Start Date*</label>
		<datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block w_220" classButton="btn_calendar"/>
		<validatordate id="valDate" groups="step1" controls="startDate" hiding="1" client="1" class="error2" text="Date format is invalid"/>
	</div>
	<? if (!$isNew) : ?>
	<hidden id="resellerID" />
	<? endif; ?>
	<? if (!$url) : ?>
	<div class="row w_220">
		<label>eDepoze Sales Representative</label>
		<textbox id="salesRep" class="w_220" maxlength="255"/>
	</div>
	<? endif; ?>
	<div class="clear"></div>
	<div class="row w_220">
		<label><br />Primary Contact (Name)*</label>
		<textbox id="contactName" class="w_220" maxlength="255"/>
	</div>
	<div class="row w_220">
		<label><br />Primary Contact (Email)*</label>
		<textbox id="contactEmail" class="w_220" maxlength="255"/>
		<validatoremail id="valEmailFormat" groups="step1" controls="step1.contactEmail" text="** Email format is incorrect. **" client="1" tag="div" class="error2"/>
	</div>
	<div class="row w_220">
		<label>Primary Contact (Phone)* <br/> <span class="subLabel">(eg. 1234567890, 555-555-5555)</span></label>
		<textbox id="contactPhone" class="w_220" maxlength="40"/>
		<validatorphone id="valPhone" tag="div" class="error2" groups="step1" client="1" controls="step1.contactPhone" text="** Phone format is incorrect. **"/>
	</div>
	<div class="clear"></div>

	<div class="row">
		<label>Country*</label>
		<dropdownbox id="countryCode" class="w_229 countryToggler" onchange="toggleCountry()" />
	</div>
	<div class="clear"></div>

	<div class="row w_220">
		<label>Address*</label>
		<textbox id="address1" class="w_220" maxlength="255"/>
	</div>
	<div class="row p_220 w_275">
		<label>&nbsp;</label>
		<textbox id="address2" class="w_220" maxlength="255"/>
	</div>
	<div class="clear"></div>
	<div class="row p_220">
		<label>City*</label>
		<textbox id="city" class="w_220" maxlength="255"/>
	</div>

	<div class="row usaAddress">
		<label>State*</label>
		<dropdownbox id="state" style="width:75px;"/>
	</div>

	<div class="row canadaAddress">
		<label>Province*</label>
		<dropdownbox id="province" style="width:75px;"/>
	</div>

	<div class="row otherAddress">
		<label>Region*</label>
		<textbox id="region" class="w_125"/>
	</div>

	<div class="row p_l20 usaAddress">
		<label>ZIP*</label>
		<textbox id="ZIP" class="w_125" onkeyup="this.value = this.value.replace(/[^\d]/g, '');" maxlength="10"/>
	</div>

	<div class="row p_l20 otherAddress canadaAddress">
		<label>Postal Code*</label>
		<textbox id="postCode" class="w_125" maxlength="10"/>
	</div>

	<div class="clear"></div>
	<? if ($url) : ?>
	<div class="row p_t46">
		<label>Comments</label>
		<memo id="comments" class="w_494"></memo>
	</div>
	<div class="clear"></div>
	<? endif; ?>
	<?php
	/* ED-1425 : REMOVE THIS FOR NOW. TODO : Do we want this in here, or somewhere else?
    <div class="row w_275">
      <div class="custom_checkbox_box f_l create_demo">
        <label id="casesDemoDefaultBox" class="custom_checkbox w_275 <?=($casesDemoDefault == 1)?'r_on':'r_off';?>" onclick="toggleDemo()">Create case demo deposition default to on?</label>
        <hidden id="casesDemoDefault" />
      </div>
    </div>
    */ ?>

</div>

<? if (!$url) : ?>
<div class="branding_info">
	<h3 class="p_l40">Branding Info</h3>
	<div class="row">
		<label>Reseller Description</label>
		<memo id="description" class="w_220 h_139"></memo>
	</div>
	<div class="row branding_content" style="width:652px;padding-left:28px;">
		<h5 class="p_t0">Website Look &amp; Feel</h5>
		<div id="bannerDemo" class="webview_demo" tag="div" style="width:645px;">
			<textlabel id="logoLabel" text="Reseller Logo" tag="p"/>
			<hidden id="logoName" value=""/>
			<image id="logoImage" width="344px" height="114px"/>

			<colorpicker id="bannerColor" tag="span" styleContainer="display:none;"/>
			<a href="javascript:;" onclick="showColorPicker(this,document.getElementById('<?=ID('bannerColor')?>'),document.getElementById('bannerDemo'));" class="btn_blue" style="width:160px;margin-right:20px;">
				<span class="btn_blue_r">Change banner color</span>
			</a>
			<colorpicker id="bannerTextColor" tag="span" styleContainer="display:none;"/>
			<a href="javascript:;" style="width:160px;margin-right:20px;" onclick="showColorPicker(this,document.getElementById('<?=ID('bannerTextColor')?>'),null,chooseTextColor);" class="btn_blue">
			   <span class="btn_blue_r">Change text color</span>
			</a>
			<div id="textDemo" class="text" style="margin-right:20px; color: <?=$textcolor;?>">Sample</div>
		</div>
		<div class="website_config" style="width:640px;">
			<div class="f_l">
				<h5>Reseller logo</h5>
				<uploadbutton id="btnUploadLogo" classContainer="btn_blue" tag="a" onclick="closeColorPicker()"><span class="btn_blue_r">Browse</span></uploadbutton>
			</div>
			<div class="url_config" style="width:440px;">
				<h5>URL</h5>
				<span class="url_label"><?=$httpHost;?>/</span>
				<textbox id="URL" class="url_input" maxlength="255"/>
				<validatorregularexpression expression="/^[\w.-]+$/" id="valURL" groups="step1" controls="step1.URL" text="** The url is invalid. **" client="1" tag="div" class="error2 m_l86"/>
				<validatorcustom id="valUrlUniq" groups="step1" serverFunction="->checkUrl" action="actionUrl()" unaction="unaction()" controls="step1.URL" text="** Sorry, this URL is already in use, please choose another. **" client="0" tag="div" class="error2 m_l86"/>
			</div>
		</div>
	</div>
</div>
<? endif; ?>

<script><![CDATA[
<?php
/*
ED-1425 : REMOVE THIS FOR NOW. TODO : Do we want this in here, or somewhere else?
    function toggleDemo() {
        if( $('#casesDemoDefaultBox').hasClass( 'r_off' ) && !$('#casesDemoDefaultBox').hasClass( 'disabled' ) ){
            $('#casesDemoDefaultBox').removeClass( 'r_off' ).addClass( 'r_on' );
            $('.create_demo input:hidden').val( '1' );
        }
        else if( !$('#casesDemoDefaultBox').hasClass( 'disabled' ) ){
            $('#casesDemoDefaultBox').removeClass( 'r_on' ).addClass( 'r_off' );
            $('.create_demo input:hidden').val( '0' );
        }
    }
*/
?>
]]></script>
