<panel id="mainform" class="content_top" style="height:100%;" masterpage="<?= \ClickBlocks\Core\IO::dir( 'backend' ) ?>/common/blank.html">
<? if (!$fileSrc): ?>
<h2>Document not found</h2>
<? else : ?>
<div id="outerContainer" class="loadingInProgress">
	<div id="sidebarContainer">
		<div id="toolbarSidebar">
			<div class="splitToolbarButton toggled"></div>
		</div>
		<div id="sidebarContent">
			<div id="thumbnailView"></div>
		</div>
	</div>  <!-- sidebarContainer -->

	<div id="mainContainer">
		<div class="findbar hidden doorHanger hiddenSmallView" id="findbar">
			<label for="findInput" class="toolbarLabel" data-l10n-id="find_label">Find:</label>
			<input id="findInput" class="toolbarField" tabindex="41" />
			<div class="splitToolbarButton">
				<button class="toolbarButton findPrevious" title="" id="findPrevious" tabindex="42" data-l10n-id="find_previous">
					<span data-l10n-id="find_previous_label">Previous</span>
				</button>
				<div class="splitToolbarButtonSeparator"></div>
				<button class="toolbarButton findNext" title="" id="findNext" tabindex="43" data-l10n-id="find_next">
					<span data-l10n-id="find_next_label">Next</span>
				</button>
			</div>
			<input type="checkbox" id="findHighlightAll" class="toolbarField" />
			<label for="findHighlightAll" class="toolbarLabel" tabindex="44" data-l10n-id="find_highlight">Highlight all</label>
			<input type="checkbox" id="findMatchCase" class="toolbarField" />
			<label for="findMatchCase" class="toolbarLabel" tabindex="45" data-l10n-id="find_match_case_label">Match case</label>
			<span id="findMsg" class="toolbarLabel"></span>
		</div>  <!-- findbar -->

		<div id="secondaryToolbar" class="secondaryToolbar hidden doorHangerRight">
			<div id="secondaryToolbarButtonContainer"></div>
		</div>  <!-- secondaryToolbar -->

		<div class="toolbar">
			<div id="toolbarContainer">
				<div id="toolbarViewer">
					<div id="toolbarViewerLeft">
						<button id="sidebarToggle" class="toolbarButton" title="Toggle Sidebar" tabindex="4" data-l10n-id="toggle_sidebar">
							<span data-l10n-id="toggle_sidebar_label">Toggle Sidebar</span>
						</button>
						<div class="toolbarButtonSpacer"></div>
						<button id="viewFind" class="toolbarButton group hiddenSmallView" title="Find in Document" tabindex="5" data-l10n-id="findbar">
							<span data-l10n-id="findbar_label">Find</span>
						</button>
						<div class="splitToolbarButton">
							<button class="toolbarButton pageUp" title="Previous Page" id="previous" tabindex="6" data-l10n-id="previous">
								<span data-l10n-id="previous_label">Previous</span>
							</button>
							<div class="splitToolbarButtonSeparator"></div>
							<button class="toolbarButton pageDown" title="Next Page" id="next" tabindex="7" data-l10n-id="next">
								<span data-l10n-id="next_label">Next</span>
							</button>
						</div>
						<label id="pageNumberLabel" class="toolbarLabel" for="pageNumber" data-l10n-id="page_label">Page: </label>
						<input type="number" id="pageNumber" class="toolbarField pageNumber" value="1" size="4" min="1" tabindex="8" />
						<span id="numPages" class="toolbarLabel"></span>
					</div>
					<div id="toolbarViewerRight">
						<button id="firstPage" class="toolbarButton firstPage" title="Go to First Page" tabindex="22" data-l10n-id="first_page">
							<span data-l10n-id="first_page_label">Go to First Page</span>
						</button>
						<button id="lastPage" class="toolbarButton lastPage" title="Go to Last Page" tabindex="23" data-l10n-id="last_page">
							<span data-l10n-id="last_page_label">Go to Last Page</span>
						</button>
						<div class="verticalToolbarSeparator hiddenSmallView"></div>
						<button id="pageRotateCw" class="toolbarButton rotateCw" title="Rotate Clockwise" tabindex="24" data-l10n-id="page_rotate_cw">
							<span data-l10n-id="page_rotate_cw_label">Rotate Clockwise</span>
						</button>
						<button id="pageRotateCcw" class="toolbarButton rotateCcw" title="Rotate Counterclockwise" tabindex="25" data-l10n-id="page_rotate_ccw">
							<span data-l10n-id="page_rotate_ccw_label">Rotate Counterclockwise</span>
						</button>
					</div>
					<div class="outerCenter">
						<div class="innerCenter" id="toolbarViewerMiddle">
							<div class="splitToolbarButton">
								<button id="zoomOut" class="toolbarButton zoomOut" title="Zoom Out" tabindex="9" data-l10n-id="zoom_out">
									<span data-l10n-id="zoom_out_label">Zoom Out</span>
								</button>
								<div class="splitToolbarButtonSeparator"></div>
								<button id="zoomIn" class="toolbarButton zoomIn" title="Zoom In" tabindex="10" data-l10n-id="zoom_in">
									<span data-l10n-id="zoom_in_label">Zoom In</span>
								</button>
							</div>
							<span id="scaleSelectContainer" class="dropdownToolbarButton">
								<select id="scaleSelect" title="Zoom" tabindex="11" data-l10n-id="zoom">
									<option id="pageAutoOption" value="auto" selected="selected" data-l10n-id="page_scale_auto">Automatic Zoom</option>
									<option id="pageActualOption" value="page-actual" data-l10n-id="page_scale_actual">Actual Size</option>
									<option id="pageFitOption" value="page-fit" data-l10n-id="page_scale_fit">Fit Page</option>
									<option id="pageWidthOption" value="page-width" data-l10n-id="page_scale_width">Full Width</option>
									<option id="customScaleOption" value="custom"></option>
									<option value="0.5">50%</option>
									<option value="0.75">75%</option>
									<option value="1">100%</option>
									<option value="1.25">125%</option>
									<option value="1.5">150%</option>
									<option value="2">200%</option>
								</select>
							</span>
						</div>
					</div>
				</div>
				<div id="loadingBar">
					<div class="progress">
						<div class="glimmer"></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Attempting to remove this context menu and applying events directly to buttons caused Rotate to vary from 90 degrees to 180 -->
		<menu type="context" id="viewerContextMenu">
			<menuitem id="contextPageRotateCw" label="Rotate Clockwise" data-l10n-id="page_rotate_cw"></menuitem>
			<menuitem id="contextPageRotateCcw" label="Rotate Counter-Clockwise" data-l10n-id="page_rotate_ccw"></menuitem>
		</menu>

		<div id="viewerContainer" tabindex="0">
			<div id="viewer"></div>
		</div>

		<div id="errorWrapper" hidden='true'>
			<div id="errorMessageLeft">
				<span id="errorMessage"></span>
				<button id="errorShowMore" data-l10n-id="error_more_info">
					More Information
				</button>
				<button id="errorShowLess" data-l10n-id="error_less_info" hidden='true'>
					Less Information
				</button>
			</div>
			<div id="errorMessageRight">
				<button id="errorClose" data-l10n-id="error_close">
					Close
				</button>
			</div>
			<div class="clearBoth"></div>
			<textarea id="errorMoreInfo" hidden='true' readonly="readonly"></textarea>
		</div>
	</div> <!-- mainContainer -->
</div> <!-- outerContainer -->

<div id="printContainer"></div>

<script type="text/javascript">
	$(document).ready( function() {
		PDFView.initialize();

		PDFJS.disableFontFace = true;

		// Special debugging flags in the hash section of the URL.
		var hash = document.location.hash.substring(1);
		var hashParams = PDFView.parseQueryString(hash);

		if ('disableWorker' in hashParams) {
			PDFJS.disableWorker = (hashParams['disableWorker'] === 'true');
		}
		if ('disableRange' in hashParams) {
			PDFJS.disableRange = (hashParams['disableRange'] === 'true');
		}
		if ('disableAutoFetch' in hashParams) {
			PDFJS.disableAutoFetch = (hashParams['disableAutoFetch'] === 'true');
		}
		if ('disableFontFace' in hashParams) {
			PDFJS.disableFontFace = (hashParams['disableFontFace'] === 'true');
		}
		if ('disableHistory' in hashParams) {
			PDFJS.disableHistory = (hashParams['disableHistory'] === 'true');
		}

		mozL10n.setLanguage( ('locale' in hashParams ? hashParams['locale'] : navigator.language) );

		if ('textLayer' in hashParams) {
			switch (hashParams['textLayer']) {
				case 'off':
					PDFJS.disableTextLayer = true;
					break;
				case 'visible':
				case 'shadow':
				case 'hover':
					var viewer = document.getElementById('viewer');
					viewer.classList.add('textLayer-' + hashParams['textLayer']);
					break;
			}
		}

		if ('pdfBug' in hashParams) {
			PDFJS.pdfBug = true;
			var pdfBug = hashParams['pdfBug'];
			var enabled = pdfBug.split(',');
			PDFBug.enable(enabled);
			PDFBug.init();
		}

		if (PDFView.supportsIntegratedFind) {
			document.getElementById('viewFind').classList.add('hidden');
		}

		// Suppress context menus for some controls
		document.getElementById('scaleSelect').oncontextmenu = noContextMenuHandler;

		var mainContainer = document.getElementById('mainContainer');
		var outerContainer = document.getElementById('outerContainer');
		mainContainer.addEventListener('transitionend', function(e) {
			if (e.target == mainContainer) {
				var event = document.createEvent('UIEvents');
				event.initUIEvent('resize', false, false, window, 0);
				window.dispatchEvent(event);
				outerContainer.classList.remove('sidebarMoving');
			}
		}, true);

		document.getElementById('sidebarToggle').addEventListener('click', function() {
			this.classList.toggle('toggled');
			outerContainer.classList.add('sidebarMoving');
			outerContainer.classList.toggle('sidebarOpen');
			PDFView.sidebarOpen = outerContainer.classList.contains('sidebarOpen');
			PDFView.renderHighestPriority();
		} );

		// document.getElementById('viewThumbnail').addEventListener( 'click', function() { PDFView.switchSidebarView('thumbs'); } );
		document.getElementById('previous').addEventListener( 'click', function() { PDFView.page--; } );
		document.getElementById('next').addEventListener( 'click', function() { PDFView.page++; } );
		document.getElementById('pageNumber').addEventListener( 'click', function() { this.select(); } );
		document.getElementById('pageNumber').addEventListener( 'change', function() {
			// Handle the user inputting a floating point number.
			PDFView.page = (this.value | 0);
			if (this.value !== (this.value | 0).toString()) {
				this.value = PDFView.page;
			}
		} );

		document.getElementById('zoomIn').addEventListener( 'click', function() { PDFView.zoomIn(); } );
		document.getElementById('zoomOut').addEventListener( 'click', function() { PDFView.zoomOut(); } );
		document.getElementById('scaleSelect').addEventListener( 'change', function() { PDFView.parseScale(this.value); } );

		document.getElementById('firstPage').addEventListener('click', SecondaryToolbar.firstPageClick.bind(SecondaryToolbar));
		document.getElementById('lastPage').addEventListener('click', SecondaryToolbar.lastPageClick.bind(SecondaryToolbar));
		document.getElementById('contextPageRotateCw').addEventListener('click', SecondaryToolbar.pageRotateCwClick.bind(SecondaryToolbar));
		document.getElementById('contextPageRotateCcw').addEventListener('click', SecondaryToolbar.pageRotateCcwClick.bind(SecondaryToolbar));

		PDFView.open( "<?=$fileSrc?>", 0 );
	} );
</script>
<? endif; ?>
</panel>
