<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
	<div class="main">
		<div class="content">
			<div class="content_header" style="overflow:visible;">
				<div class="f_l w_100p m_t10">
					<h2 class="p_t10"><?=$headName?></h2>
					<div class="option_block_small" style="margin-bottom: 10px;">
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="exhibitsDownloadContainer">
				<div class="panel_control m_b10">
					<div id="rightToolbarActions" class="reports-table-action m_t0" style="width: 520px; padding-top:10px;">
						<a href="javascript:;" onclick="ajax.doit('->getDownloadExhibitsDetails');" class="file_mgmt_btn active">
							<span>Update</span>
						</a>
						<textbox id="sessionID" class="sessionID f_r m_l10"></textbox>
						<label class="label f_r" style="height:30px; line-height:30px; padding:0;">Session ID</label>
					</div>
					<div class="clear"></div>
				</div>
				<div class="sessionInfoContainer">
					<panel id="sessionInfoPanel">
						<ul>
							<li><div class="label">Reseller Name</div></li>
							<li><div class="value"><?=$reseller->name?></div></li>
							<li><div class="label">Client Name</div></li>
							<li><div class="value"><?=$client->name?></div></li>
							<li><div class="label">Session Name</div></li>
							<li><div class="value"><?=$session->depositionOf?></div></li>
							<li><div class="label"># of Exhibits</div></li>
							<li><div class="value"><?=$exhibitCount?></div></li>
							<li><div class="label">Total Size of All Exhibits</div></li>
							<li><div class="value"><?=$exhibitsSize?></div></li>
						</ul>
						<div class="f_r m_t10">
							<a class="file_mgmt_btn <?=$canDownload ? 'active' : '';?>" href="javascript:;" onclick="<?=$canDownload ? "ajax.doit('->downloadExhibits')" : '';?>">
								<span>Download</span>
							</a>
						</div>
					</panel>
				</div>
			</div>
		</div>
	</div>
</panel>
