<body style="margin:0;padding:0;background-color:#efefef;">
	<div style="width:575px;margin:0 auto;padding:30px;">
		<div style="background-color:#fff;border:1px solid #ddd;">
			<div style="padding:15px;color:#000 !important;font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;">
				<div style="margin-bottom:20px;"><?= $notificationBody ?></div>
				<div style="margin-bottom:20px;">Best regards,<br/>eDepoze Administrator</div>
			</div>
			<div style="height:100px;background:url(https://login.edepoze.com/Application/_includes/backend/img/powered_by_edepoze.png) no-repeat 0 20px;display:block !important;"></div>
		</div>
	</div>
</body>
