<div class="panel_control m_t10">
	<div class="reports-table-action">
    </div>
    <p class="showing">
		<span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
		<customdropdownbox id="pageSize" style="width:47px;" class="custom-select small" options="php::array(10 => 10, 20 => 20, 30 => 30)" />
	</p>
</div>
<table class="tbl_info">
    <tr>
		<th width="40"></th>
        <th width="120"><?=$links[0];?></th>
        <th width="120"><?=$links[1];?></th>
        <th width="120"><?=$links[2];?></th>
        <th width="120"><?=$links[3];?></th>
    </tr>
    <? foreach ($rows as $idx => $row) : ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?>" onclick="selectID('<?=$row['ID'];?>');">
		<td></td>
        <td><?=date_format( date_create( $row['sentOn'] ), 'M. j Y g:i:s a' )?></td>
        <td><?=htmlspecialchars($row['email'])?></td>
        <td><?=htmlspecialchars($row['firstName']).' '.htmlspecialchars($row['lastName'])?></td>
        <td><?=htmlspecialchars($row['subject'])?></td>
    </tr>
    <? endforeach; ?>
    <? if (count($rows) == 0) { ?>
    <tr>
        <td colspan="8" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <? } ?>
</table>
<div class="panel_control m_t10" style="margin-top: 0px !important;">
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
    <customdropdownbox id="pageSize1" style="width:47px;" class="custom-select small" options="php::array(10 => 10, 20 => 20, 30 => 30)" />
	</p>
	<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
	widgetCallback = '<?=$class?>@<?=$uniqueID?>';
]]></script>
