<div class="panel_control m_t10">
	<div class="reports-table-action">
        <div class="text"></div>
                <a class="btn_dark_gray" href="javascript:;" onclick="exportList()"><span class="btn_dark_gray_r">Export Email List</span></a>
		<a class="btn_dark_gray" href="javascript:;" onclick="showNotificationDialog()"><span class="btn_dark_gray_r">Prepare Message</span></a>
    </div>
	<p class="showing">
		<span>For selected Resellers:</span>
		<input type="radio" name="includes" id="includeCA" value="CA" style="vertical-align:middle; margin-left:10px;"/>
		<label style="margin-left: 4px; margin-right:10px;">Include Client Admins</label>
		<input type="radio" name="includes" id="includeAU" value="AU" style="vertical-align:middle;"/>
		<label style="margin-left: 4px; margin-right:10px;">Include All Users</label>
	</p>
</div>
<table class="tbl_info">
    <tr>
        <th width="40" align="center"><a class="custom_checkbox2 select_all m_r5 f_l<?=($isAllSelected ? ' checked' : '');?>" href="javascript:;" onclick="selectIDs()"></a></th>
        <th width="80"><?=$links[0];?></th>
        <th width="120"><?=$links[1];?></th>
        <th width="120"><?=$links[2];?></th>
        <th width="120"><?=$links[3];?></th>
        <th width="80"><?=$links[4];?></th>
        <th width="160"><?=$links[5];?></th>
    </tr>
    <? foreach ($rows as $idx => $row) : ?>
    <tr class="<?= $idx%2 ? 'zebra':'';?>" onclick="selectID('<?=$row['userID'];?>');">
        <td align="center"><a class="custom_checkbox2 numeric f_l <?=(isset($emails[$row['userID']]) ? ' checked' : '');?>" href="javascript:;"></a></td>
        <td><?=$row['clientID']?></td>
        <td><div style="width: 120px; word-wrap: break-word"><?=htmlspecialchars($row['name'])?></div></td>
        <td><?=date_format(date_create($row['startDate']), 'm/d/Y');?></td>
        <td><?=htmlspecialchars($row['city'])?></td>
        <td><?=htmlspecialchars($row['state'])?></td>
        <td><?=htmlspecialchars($row['contactName'])?></td>
    </tr>
    <? endforeach; ?>
    <? if (count($rows) == 0) { ?>
    <tr>
        <td colspan="8" class="t_a_c">
            <strong>Empty list</strong>
        </td>
    </tr>
    <? } ?>
</table>
<? if ($from !== 1 || $to < $count) : ?>
<? endif; ?>
<div class="panel_control m_t10" style="margin-top: 0px !important;">
    <navigator id="nav" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/navigator.html" navSize="1" />
    <p class="showing"><span>Showing</span> <?=$from;?> - <?=$to;?> of <?=$count;?> &nbsp; &nbsp; |&nbsp; &nbsp; <span class="display">Display</span>
    <pagesize id="pageSize1" style="width:47px;" class="custom-select small"/>
	</p>
	<div class="clear"></div>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<div id="message-popup" style="display: none;">
	<div class="shadow-popup"></div>
	<div class="wrap-popup">
		<div class="popup">
			<div class="top">
				<div class="right">
					<div class="middle"></div>
				</div>
			</div>
			<div class="popupcenter" >
				<div class="right">
					<div class="middle">
						<h3 class="title">Send Reseller Notification</h3>
						<div class="data">
							<div class="row">
								<label><textlabel id="noticeSubjectLabel" tag="span" text="Subject"/></label>
								<textbox id="noticeSubject" class="w_466" maxlength="255" onblur="setSubject( this )"/>
							</div>
							<div class="row">
								<label><textlabel id="noticeContentLabel" tag="span" text="Message"/></label>
								<memo id="noticeContent" class="w_466" onchange="setContent( this )" />
							</div>
							<div class="clear"></div>
							<p class="auth_title error">
								<textlabel id="errormsg" tag="span"/>
							</p>
							<div class="option_chooser_wrapper">
								<div class="option_chooser">
									<textbutton id="btnCancel" value="Cancel" class="big-button gray" onclick="hideNotificationDialog()"/>
									<textbutton id="btnOK" value="Send" class="big-button blue" onclick="sendNotification()"/>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="right">
					<div class="middle"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript"><![CDATA[
    var sendSubject = null;
    var sendMessage = null;

    widgetCallback = '<?=$class?>@<?=$uniqueID?>';

    function showNotificationDialog() {
            $('#message-popup').fadeIn( 500 );
    }

    function hideNotificationDialog() {
            $('#message-popup').fadeOut( 500 );
    }

    function sendNotification() {
            var options = {
                    subject : sendSubject,
                    message : sendMessage
            };
            if ($('#includeCA').is(':checked')) {
                    options['includeCA'] = true;
            }
            if ($('#includeAU').is(':checked')) {
                    options['includeAU'] = true;
            }
            ajax.max(1).doit( widgetCallback + '->sendEmail', options, true );
            hideNotificationDialog();
            alert( 'Messages successfully sent.' );
    }

    function exportList() {
        var options = {};

        options['includeCA'] = $('#includeCA').is(':checked');
        options['includeAU'] = $('#includeAU').is(':checked');

        ajax.max(1).doit(widgetCallback + '->exportEmailList', options);
    }

    function selectID(id){
        ajax.doit(widgetCallback + '->selectID', id);
    }

    function selectIDs(){
        ajax.doit(widgetCallback + '->selectAll');
    }

	function setContent( input ) {
		sendMessage = input.value;
	}

	function setSubject( input ) {
		sendSubject = input.value;
	}
]]></script>