<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
    <div class="main_wrapper">
        <div class="content_control_wrapper reports">
            <div class="content_control">
                <div class="breadcrumb">
                    <p><a href="<?=$url.'/reports';?>"><?=$headName;?></a> / <a href="<?=$url.'/report/invoices?clientID='.$clientID;?>"><?=$clientName;?></a> / Invoice<?=($invoiceID)? ' #'.$invoiceID :''; ?></p>
                </div>
                <validatorrequired id="valdate" controls="startDate,endDate" client="1" groups="depo" class="error"/>
                <validatorcustom id="valDates" groups="depo" client="1" controls="startDate,endDate" clientFunction="valDates"/>
                <div class="option_block" style="float:right;">
                    <label>Start Date</label>
                    <datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
                    <label>End Date</label>
                    <datetimepicker id="endDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
                    <a href="javascript:;" class="btn_blue" onclick="runInvoice();">
                        <span class="btn_blue_r">Run Invoice</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <repeater id="repeat" count="1">
                <panel id="client">
                <div class="content_header">
                    <h2>Invoice <?=($invoiceID)? '#'.$invoiceID :''; ?> </h2>

                    <div class="option_block reports">
                        <a href="javascript:;" class="btn_blue" onclick="ajax.max(1).doit('->downloadPageAsPDF')">
                            <span class="btn_blue_r">Print Invoice</span>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="mx-info-box">
                    <div class="coll-box m_t0">
                        <h4>Bill To:</h4><br/>
                        <?=htmlspecialchars($contact);?><br/>
                        <?=htmlspecialchars($address);?><br/>
                        <?=$city;?><br/>
                        USA
                    </div>
                    <div class="coll-box m_t0">
                        <h5>INVOICE</h5><br/>
                        <b>Dates:</b> <?=$startDate;?> - <?=$endDate;?><br/>
                        <? if ($invoiceID) { ?> <b>Invoice #:</b> <?=$invoiceID;?> <? } ?>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <table class="tbl_info reports m_t40 no-border">
                    <tr>
                        <th width="15"></th>
                        <th width="80">ID#</th>
                        <th><?= $isAdmin ? 'Reseller' : 'Client' ?> Contact</th>
                        <th width="200">Email</th>
                        <th width="200">Phone</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><?=htmlspecialchars($clientID);?></td>
                        <td><?=htmlspecialchars($contact);?></td>
                        <td><?=htmlspecialchars($email);?></td>
                        <td><?=htmlspecialchars($phone);?></td>
                    </tr>
                </table>
                <widgetinvoicecharges id="invoicecharges" />
                <div class="table-total-box"><span>Total</span><b>$</b><?=number_format($sum,2);?></div>
                <div class="clear"></div>
                <div class="report-note-box">
                    <div class="report-note-box-mess f_r p_r20">Thank you for your business!</div>
                    <div class="clear"></div>
                </div>
                <hr class="bottom_line" />
                <div class="clear"></div>
                <div class="option_block reports p_t0">
                    <a class="btn_blue" href="javascript:;" onclick="ajax.max(1).doit('->downloadPageAsPDF')">
                        <span class="btn_blue_r">Print Invoice</span>
                    </a>
                </div>
                <div class="clear"></div>
                </panel>
                </repeater>
            </div>
        </div>
    </div>
    <script type="text/javascript"><![CDATA[
        function runInvoice(){
            if (validators.validate('depo', 'error', ' ')) {
                ajax.doit('->runInvoice');
            }

        }
        function valDates(ids) {
            var flag = true;
            var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[0]).value );
			var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[1]).value );
            if (dateE < dateS) {
                validators.results[ids[1]] = 0;
                return false;
            }
            return true;
        }
    ]]></script>
</panel>