<panel id="mainform" masterpage="<?= \ClickBlocks\Core\IO::dir('backend'); ?>/common/general_print.html">
    <repeater id="repeat" count="1">
        <panel id="client">
            <div class="title-box">
                <h2>Invoice <?=$invoiceID ? '#'.$invoiceID : ''; ?></h2>
                <div class="clear"></div>
            </div>
            <div class="top-info-box">
                <div class="date-box"><? if ($startDate) { ?><b>Date Range</b> <? } ?> <?= $startDate; ?> - <?= $endDate; ?></div>
                <div class="left-side">
                    <b>Bill To:</b><br/>
                    <?= htmlspecialchars($client->name); ?><br/>
                    <?= htmlspecialchars($client->address1); ?><br/>
                    <?= htmlspecialchars($client->city . ', ' . $client->state . ', USA'); ?>
                </div>
                <div class="clear"></div>
            </div>
            <table class="table">
                <tr>
                    <th>ID#</th>
                    <th><?= $isAdmin ? 'Reseller' : 'Client' ?> Contact</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                <tr>
                    <td><?= $client->ID; ?></td>
                    <td><?= htmlspecialchars($client->contactName); ?></td>
                    <td><?= htmlspecialchars($client->contactEmail); ?></td>
                    <td><?= htmlspecialchars($client->contactPhone); ?></td>
                </tr>
            </table>
            <widgetinvoicecharges id="invoicecharges" template="<?=\ClickBlocks\Core\IO::dir('backend');?>/widgets/invoices/invoiceCharges_print.html"/>
            <div class="notes-box">
                <div class="note-text">Thank you for your business!</div>
            </div>
            <? if (!$isLast) { ?><div class="page-break"></div><? } ?>
        </panel>
    </repeater>
</panel>