<panel id="mainform" class="content_top" masterpage="<?=\ClickBlocks\Core\IO::dir('backend');?>/common/general.html">
    <div class="main_wrapper">
        <div class="content_control_wrapper reports">
            <div class="content_control">
                <div class="breadcrumb">
                    <p><a href="<?=$url;?>"><?=$headName;?></a> / <?=$clientName;?></p>
                </div>
                <validatorrequired id="valdate" controls="startDate,endDate" client="1" groups="depo" class="error"/>
                <validatorcustom id="valDates" groups="depo" client="1" controls="startDate,endDate" clientFunction="valDates"/>
                <div class="option_block" style="float:right;">
                    <label>Start Date</label>
                    <datetimepicker id="startDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
                    <label>End Date</label>
                    <datetimepicker id="endDate" dateFormat="mm/dd/yy" options="showOn:both,buttonText:,showButtonPanel:1,showOtherMonths:1,selectOtherMonths:1,changeMonth:1,changeYear:1" tagContainer="div" class="calendar_field" classContainer="calendar_block" classButton="btn_calendar" readonly="true" />
                    <a href="javascript:;" class="btn_blue" onclick="runInvoice();">
                        <span class="btn_blue_r">Run</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="content">
                <div class="content_header">
                    <h2><span id="subHeader"><?=($type==0)?'Invoices':'Detail Reports';?></span></h2>

                    <ul class="select-tabs">
                        <li class="<?=($type==0)?'active':'';?>" id="li0"><a href="javascript:;" onclick="selectType(0);">Invoices</a></li>
                        <li class="<?=($type==1)?'active':'';?>" id="li1"><a href="javascript:;" onclick="selectType(1);">Detail Reports</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="mx-info-box">
                    <h4><?=$clientName;?></h4>
                    <div class="coll-box">
                        <b><?=($clientTypeID=='R')?'Reseller':'Client';?> ID:</b> <?=$clientID;?><br/>
                        <?=htmlspecialchars($address);?><br/><br/>

                        <?=htmlspecialchars($contact);?><br/>
                        <?=htmlspecialchars($phone);?>
                    </div>
                    <div class="coll-box">
                        <b><?=$isAdmin ? 'Reseller' : 'Client' ?> Since:</b> <?=$sinceDate;?><br/>
                        <? if ($isAdmin) { ?> <b>Total Clients:</b> <?=$totalClients;?> <br/><br/><? } ?>
                        <b>Status:</b> <? if ($active) { ?><span class="fc_green">Active</span><? } else {?> <span class="fc_red">Inactive</span> <? } ?>
                    </div>
                    <div class="clear"></div>
                </div>
                <widgetinvoices id="invoices"/>
            </div>
        </div>
    </div>
    <script type="text/javascript"><![CDATA[
    var type = <?=(int)$type;?>;
    function selectType(t){
        if (t != type){
            type = t;
            refreshPage();
        }
    }

    function refreshPage(){
        controls.removeClass('li0','active');
        controls.removeClass('li1','active');
        controls.addClass('li'+type,'active');

        if (type == 0){
            controls.$('subHeader').innerHTML = 'Invoices';
        } else {
            controls.$('subHeader').innerHTML = 'Detail Reports';
        }

        ajax.doit('->refreshInvoiceList', type);
    }

    function runInvoice(){
        if (validators.validate('depo', 'error', ' ')) {
            ajax.doit('->runInvoice', type);
        }

    }
    function valDates(ids) {
        var flag = true;
        var dateS = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[0]).value );
		var dateE = $.datepicker.parseDate( "mm/dd/yy", controls.$(ids[1]).value );
        if (dateE < dateS) {
            validators.results[ids[1]] = 0;
            return false;
        }
        return true;
    }

]]></script>
</panel>