<table class="tbl_info" name="user_list">
	<tr>
		<th width="10">&nbsp;</th>
		<th width="200"><?=$links[0];?></th>
		<th width="325"><?=$links[1];?></th>
		<th width="325"><?=$links[2];?></th>
		<th width="98">&nbsp;</th>
	</tr>
</table>
<div class="scrollTable">
	<table class="tbl_info">
		<? foreach( $rows as $idx => $exhibit ) { ?>
			<? $editlink = $elink . $exhibit['ID']; ?>
			<tr class="<?= $idx%2 ? 'zebra':'';?>" style="cursor:pointer;" onclick="viewFile(<?=$exhibit['exhibitFileID']?>);">
				<td style="width:10px" align="center"></td>
				<td><div class="to_e" style="width:200px;"><?=$exhibit['lIntroducedDate']?></div></td>
				<td style="width:315px"><div class="to_e" style="width:315px;padding-right:10px;"><?=$exhibit['exhibitFilename']?></div></td>
				<td style="width:315px"><div class="to_e" style="width:315px;padding-right:10px;"><?=$exhibit['introducedBy']?></div></td>
				<td style="width:98px">
					<div class="hide_links">
						<a>View</a>
					</div>
				</td>
			</tr>
		<? } ?>
		<? if (count($rows) == 0) { ?>
		<tr>
			<td colspan="3" class="t_a_c">
				<strong>Empty list</strong>
			</td>
		</tr>
		<? } ?>
	</table>
</div>

<hr class="bottom_line" />
<div class="clear"></div>

<script type="text/javascript"><![CDATA[
function viewFile(id) {
	if( typeof event !== 'undefined' && typeof event.stopPropagation === 'function' ) {
		event.stopPropagation();
		event.cancelBubble = true;
		if (window.event) {
			window.event.stopPropagation();
			window.event.cancelBubble = true;
		}
	}

	ajax.doit('->viewFile', id);
}
]]></script>
